.bbn-dropdown{
  box-sizing: border-box;
  min-width: 4em;
  cursor: pointer;
  .bbn-dropdown-content{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .bbn-input{
    background-color: transparent;
    max-width: 100%;
    width: 100%;
    input{
      color: transparent;
      cursor: pointer;
    }
  }
}