<div :class="[componentClass, 'bbn-iblock']"
     @mouseleave="leave"
     @focusin="isActive = true"
     @focusout="isActive = false"
     :title="currentText || placeholder || null"
>
  <bbn-input :disabled="disabled"
              @keydown.prevent.stop="keydown"
              @click.stop="click"
              ref="input"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
              :required="required"
              :nullable="isNullable"
              :placeholder="placeholder"
              :readonly="true"
              :tabindex="disabled ? -1 : 0"
              v-model="currentText"
              :button-right="currentIcon"
              @clickRightButton="click"
              autocomplete="off"></bbn-input>
  <input type="hidden"
         v-model="value"
         ref="element"
         :name="name">
  <bbn-floater v-if="filteredData.length && !disabled && !readonly && isOpened"
               :element="$el"
               :max-height="maxHeight"
               :min-width="$el.clientWidth"
               ref="list"
               :uid="sourceValue"
               :item-component="realComponent"
               @select="select"
               :selected="[value]"
               @close="isOpened = false"
               :source="filteredData">
  </bbn-floater>
</div>