.bbn-dropdown{
  box-sizing: border-box;
  cursor: pointer;
  .bbn-dropdown-container {
    line-height: normal;
    .bbn-dropdown-content{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .bbn-input{
      background-color: transparent;
      max-width: 100%;
      width: 100%;
      //min-width: 4em;
      div.bbn-flex-width {
        /* box-sizing: border-box;
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden; */
        
        .bbn-button{
          //important for safari
          //margin:0;
        }
      }
      input{
        //important for safari
        //margin: 0;
        color: transparent;
        cursor: pointer;
      }
    }
  }
}