<div class="bbn-overlay bbn-flex-height">
  <div class="bbn-flex-fill"
       v-for="(name, i) in indexes"
       v-show="currentSelected === i"
       :key="i">
    <bbn-form :source="data"
              :buttons="false"
              :ref="'form-' + i"
              :prefilled="true"
              @ready="readyForm = true"
              @success="onSuccess">
      <div :class="{
        'bbn-overlay': true,
        'bbn-middle': !!items[i].centered,
        'bbn-padded': !items[i].centered
      }">
        <div :class="{
          'bbn-block': !!items[i].centered,
          'bbn-vmiddle': !!items[i].centered,
          'bbn-overlay': !items[i].centered,
          'bbn-flex-height': !items[i].centered
        }"
              style="display: block; max-height: 100%">
          <div class="bbn-m bbn-b bbn-padded"
               v-text="source[i].title || name"/>
          <div :class="{
            'bbn-block': !!items[i].centered,
            'bbn-flex-fill': !items[i].centered
          }">
            <component :is="items[i].component || 'bbn-input'"
                        v-bind="items[i].getOptions()"
                        :required="items[i].required === undefined ? true : items[i].required"
                        v-model="data[name]"/>
          </div>
        </div>
      </div>
    </bbn-form>
  </div>
  <div class="bbn-form-footer bbn-popup-footer bbn-button-group bbn-flex-width bbn-lg">
    <bbn-button v-for="(button, i) in currentButtons"
                :key="button.key"
                v-bind="button"
    ></bbn-button>
  </div>
</div>
