bbn-block-list{

  width: 100%;
  .bbn-block-list-content{
    // display: flex;
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    .bbn-block-list-items {
      padding: 10px;
      margin-top: 3rem;
    }
  }
  .bbn-widget {
    border: 0px;
    background-color: inherit;
  }
}