<div :class="componentClass">
  <div class="bbn-hidden" ref="slot">
    <slot></slot>
  </div>
  <div :class="getComponentName() + '-content'"
    :style="'grid-template-columns: repeat(' + rowCount + ',' + 100/rowCount + '%);'"
  >
    <div v-for="(li, idx) in filteredData"
         v-if="isAjax || !pageable || ((idx >= start) && (idx < start + currentLimit))"
         :key="li.key"
         :class="[getComponentName() + '-items']"
    >
      <component v-if="currentComponent"
                  :is="currentComponent"
                  v-bind="componentOptions"
                  :source="li.data"
                  :index="li.index"
                  @remove="remove(idx)"
                  :key="li.key"/>
      <component v-else
                :is="li.data && li.data.url && !li.data[children] ? 'a' : 'span'"
                @click.prevent="() => {}"
                class="bbn-block bbn-padded"
                :title="li.data[sourceText]"
                :href="li.data && li.data.url ? li.data.url : null"
                :key="li.key">
        <span class="bbn-top-left"
              v-if="selection || (mode === 'options')">
          <i v-if="li.data.selected"
              class="nf nf-fa-check"/>
        </span>
        <img v-if="li.data.image"
            :src="li.data.image"
            class="bbn-bottom-space">
        <p class="bbn-large"
           v-html="li.data[sourceText]"/>
        <p v-if="li.data.price"
           :class="componentClass + '-price'"
           v-html="li.data.price"/>
        <p v-if="li.data.desc"
           :class="componentClass + '-desc'"
           v-html="li.data.desc"/>
      </component>
    </div>
  </div>
  <div class="bbn-w-100 bbn-c"
        v-if="pageable && (numPages > 1)">
    <div class="bbn-iblock">
      <bbn-pager :element="_self"
                 :extra-controls="false"
                 :numeric-selector="false"
                 :buttons="false"/>
    </div>
  </div>
</div>
