.bbn-cms-block.bbn-basic-component{
  margin: 15px auto;
 	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 .5em;
		line-height: 1.2;
		font-weight: bold;
		font-weight: 100;
		font-style: normal;
		line-height: 1.2em;
		letter-spacing: 0px;
		text-transform: none
	}
  hr{
    color: #bbb;
    background-color: #bbb;
    border-bottom-width: 0;
    border-top-width: 1px;
  }
  .component-container{
    //padding: 1em;
    max-width: 845px;
    margin: 0 auto;
    float: unset;
  }
  .component-container.bbn-block-title{
    padding: 0;
    padding-top: 16px;
  }
  .component-container.has-hr{
    display: flex;
    align-items: center;
    &.edit-block{
      flex-direction: column;
      .edit-title{
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
    hr{
      margin: 0 30px;
      flex-grow: 1.5;
    }
  }
  .component-container.bbn-block-html{
    h1,h2,h3{
      margin: 0;
      white-space:pre-wrap;
    }
    p{
     // white-space:pre-wrap;
    }
    em{
      white-space: normal;
    }
  }
  .component-container.bbn-block-gallery{
    margin: 15px auto;
    text-align: left;
    display: grid;
    grid-gap: 20px;
    &.cols-1{
      grid-template-columns: 1fr;
    }
    &.cols-3{
      grid-template-columns: repeat(3,1fr);
    }
    &.cols-4{
      grid-template-columns: repeat(4,1fr);
    }
    &.cols-2{
      grid-template-columns: repeat(2,1fr);
    }
    
    a{
      overflow: hidden;
      display: flex;
    //  align-items: center;
      justify-content: center;
    }
    img{
    //  padding: 1.5em;
    }
  }

  .bbn-block-social ul.bbn-menulist.free{
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  .bbn-block-social .ss-social-list-wrapper {
    left: 0 !important
  }

  .bbn-block-social .bbn-block-social-button {
    line-height: 18px;
    font-weight: bold;
  }

  .bbn-block-social .bbn-block-social-button .bbn-block-social-icon {
    color: #ebebeb;
    line-height: 18px
  }

  .bbn-block-social .bbn-block-social-button:hover{
    .nf-fa-share_alt{
      color: #5c5c5c;
    }
    .nf-fa-heart{
      color: red;
    }
  }
  .component-container .bbn-grid-fields{
    align-items: center;
  }
  .bbn-grid-fields{
    border: none!important;
  }
  .block-space-edit{
    border: 1px dashed rgb(221, 221, 221);
    display: flex;
    align-items: flex-start;
    justify-content: center;
   
  }
 
}