<div :class="[componentClass, 'bbn-block']"
     :style="{
       width: width,
       height: height
     }">
  <!--bbn-rte v-if="editable && type === 'html'"
           v-model="source.content"
  >
  </bbn-rte>
  <div v-else-if="type === 'html'" 
       v-html="source.content"
  >
  </div-->
  <component v-if="ready" 
            :is="component(type)" 
            :source="source"
            :class="{'edit-block' : (over || edit)}"
           
  ></component>
  <div class=" edit-block-icon">
    <i class="bbn-p nf nf-fa-edit inline bbn-xlarge bbn-blue edit-block-icon"
      @click="editMode" 
      v-if="isAdmin && editing && !edit"
    ></i>
    <i class="bbn-p nf nf-fa-check inline bbn-xlarge bbn-blue"
      @click="editBlock" 
      v-if="changed" 
    ></i>
    <i class="bbn-p nf nf-fa-close inline bbn-xlarge bbn-red"
      @click="cancelEdit" 
      v-if="changed" 
    ></i>
  </div>  
  
</div>