<span :class="[componentClass, 'bbn-textbox', {'bbn-disabled': !!isDisabled}]">
  <input ref="element"
         :disabled="isDisabled"
         :required="required"
         :readonly="readonly"
         :placeholder="placeholder"
         @click="click"
         @focus="focusEvent"
         @blur="blurEvent"
         @change="change"
         @keydown="keydownEvent"
         @keyup="keyupEvent"
         @mouseenter="over"
         @mouseleave="out"
         :value="inputValue"
         @input="inputEvent"
         @paste="pasteEvent"
         @cut="cutEvent"
         :size="currentInputSize"
         class="bbn-radius"
         :inputmode="inputmode"
         :pattern="pattern"
  >
  <input :value="value"
         ref="real_masked"
         :name="name"
         :disabled="isDisabled"
         type="hidden"
         :size="size"
         :maxlength="maxlength"
  >
</span>
