<div :class="[
       componentClass,
       'bbn-iblock',
       'bbn-textbox',
       {'bbn-disabled': !!isDisabled}
     ]"
     @mouseleave="isOverDropdown = false"
     @mouseenter="isOverDropdown = true"
     @focusin="isActive = true"
     @focusout="isActive = false"
     :title="filterString || placeholder || null"
>
  <div class="bbn-flex-width">
    <div class="bbn-flex-fill">
      <input v-if="!isDisabled && !readonly"
              tabindex="0"
              class="bbn-no-border"
              v-model="filterString"
              ref="input"
              @focus="selectText"
              autocomplete="off"
              autocorrect="off"
              :placeholder="placeholder"
              autocapitalize="off"
              spellcheck="false"
              :required="required"
              :readonly="readonly"
              @keydown.stop="keydown"
              @change="ready = true"
              :name="name"
      >
    </div>
    <div class="bbn-list-component-button">
      <div v-if="isAjax && isLoading"
           class="bbn-middle">
        <bbn-loadicon size="1.2em"
                      tabindex="-1"
        ></bbn-loadicon>
      </div>
      <bbn-button v-else
                  :icon="isOpened && !isDisabled && !readonly && filteredData.length ? iconUp : iconDown"
                  class="bbn-button-right bbn-no-vborder bbn-m"
                  @click.prevent.stop="click"
                  tabindex="-1"
                  :disabled="isDisabled"
      ></bbn-button>
    </div>
  </div>
  <bbn-floater v-if="!isDisabled && !readonly && isOpened"
               :element="$el"
               :max-height="maxHeight"
               :min-width="currentWidth"
               ref="list"
               :uid="sourceValue"
               :item-component="realComponent"
               @select="select"
               @close="isOpened = false"
               :source-text="sourceText"
               :source-value="sourceValue"
               :source="filteredData"
  ></bbn-floater>
</div>
