.bbn-combo{
  display: inline-block;
  box-sizing: border-box;
  min-width: 4rem;
  cursor: pointer;
  input{
    cursor: pointer;
    width: 100%;
    font-size: inherit;
  }
  button{
    height: 100%;
  }
  div{
    box-sizing: border-box;
  }
  .bbn-list-component-button, .bbn-button-right{
    min-width: 2rem;
    line-height: normal;
  }
  .bbn-button-right {
    opacity: 0.7;
  }
}