.bbn-combo{
  display: inline-block;
  box-sizing: border-box;
  max-height: 1.9rem;

  cursor: pointer;
  > .bbn-flex-width {
    min-height: 100%;
  }
  input{
    width: 100%;
    font-size: inherit;
  }
  div{
    box-sizing: border-box;
  }
  .bbn-list-component-button, .bbn-button-right{
    min-width: 2rem;
    line-height: normal;
  }
  .bbn-button-right {
    opacity: 0.7;
  }
}