<div :class="['bbn-full-screen', 'bbn-lpadded', componentClass]">
  
  <div class="bbn-100">
    <div v-for="(it, i) in items"
         :class="['slide', 'sliden' + i.toString(), i === 0 ? 'first' : '']"
         :id="name + i.toString()"
         :style="{
         display: currentIndex === i ? 'block' : 'none'
       }"
    >
    
      <div :ref="'slide' + i.toString()"
           :class="['content', it.animation || '', it.cls || '', 'bbn-middle', 'bbn-xxl']">
        <component v-if="it.component"
                   :is="it.component"
                   :content="it.content || ''"
                   :data="it.data || {}"
        ></component>
        <component v-else-if="component"
                   :is="component"
                   :content="it.content || ''"
                   :data="it.data || {}"
        ></component>
        <div v-else-if="it.content"
             v-html="it.content"
        ></div>
        <div v-else
             class="bbn-100 bbn-middle w3-black"
             v-text="_('No content for this slide')">
        </div>
        <bbn-checkbox v-if="checkbox && it.checkable"
                      v-model="valuesCB[i]"
                      :value="true"
                      :novalue="false"
                      :strict="true"
                      :label="(typeof checkbox === 'string') ? checkbox : defaultTextCB"
                      class="showagain"
        ></bbn-checkbox>
      </div>
    </div>

    <div v-if="items.length"
         class="navigation"
    >
      <a href="javascript:;"
         @click="prev"
         :style="{
          visibility: currentIndex === 0 ? 'hidden' : 'visible'
         }"
         class="prev">
    
      </a>
      <a href="javascript:;"
         @click="next"
         :style="{
          visibility: currentIndex >= (items.length - 1) ? 'hidden' : 'visible'
         }"
         class="next">
      </a>
    </div>

  </div>
</div>
