div.bbn-floater{
  position: fixed !important;
  box-sizing: content-box;
  overflow: hidden;
  /** Popup zIndex: 7 */
  z-index: 100;
  /*transition: visibility 0s, opacity 0.3s linear;*/
  &:not(.bbn-invisible) {
    transition: opacity 0.1s ease-in-out;
  }
  &.bbn-invisible {
    opacity: 0 !important;;
  }
  > div {
    overflow: unset;
    > header{
      white-space: nowrap;
      padding-right: 3.6em;
      min-height: 2em;
      .bbn-top-right{
        height: 100%;
        text-align: right;
        line-height: 100%;
        vertical-align: middle;
        > div{
          width: 1.8em;
          float: left;
        }
      }
      h3 {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    > footer.bbn-button-group{
      min-height: 3em;
      button{
        padding-top: 0.3em;
        padding-bottom: 0.3em;
      }
    }
  }
  @diagonal: 16px; 
  @size: @diagonal / 1.414; 
  @half: (@diagonal / 2);
  @halfNegative: (@diagonal / -2);

  .arrow {
    position: absolute;
    overflow: hidden;
    
    &:after {
      content: '';
      width: @size;
      height: @size;
      position: absolute;
      background: white;
      transform-origin: 0 0;
      border: 1px solid var(--default-border);
    }
  }
  .bottomLeft, .bottom {
    width: @diagonal;
    height: @half;
    left: 7px;
    top: @halfNegative;
    margin-left: @halfNegative;
    
    &:after {
      left: @half;
      top: 0;
      transform: rotate(45deg);

    }
  }
  .bottomRight {
    width: @diagonal;
    height: @half;
    right: -2px;
    top: @halfNegative;
    margin-left: @halfNegative;
    
    &:after {
      left: @half;
      top: 0;
      transform: rotate(45deg);

    }
  }
  .topLeft, .top {
    width: @diagonal;
    height: @half;
    left: 6px;
    bottom: @halfNegative;
    margin-left: @halfNegative;
    &:after {
      left: @diagonal;
      top: 0;
      transform: rotate(135deg);
    }
  }
  .topRight {
    width: @diagonal;
    height: @half;
    right: -2px;
    bottom: @halfNegative;
    margin-left: @halfNegative;
    &:after {
      left: @diagonal;
      top: 0;
      transform: rotate(135deg);
    }
  }
  .left {
    width: @half;
    height: @diagonal;
    top: 8px;
    right: @halfNegative;
    margin-top: @halfNegative;
    
    &:after {
      left: 0;
      top: 0;
      transform: rotate(45deg);
    }
  }
  .right {
    width: @half;
    height: @diagonal;
    top: 8px;
    left: @halfNegative;
    margin-top: @halfNegative;
    
    &:after {
      left: 0;
      top: @half;
      transform: rotate(-45deg);
    }
  }
}
div.bbn-floater.bottomLeft, div.bbn-floater.bottom, div.bbn-floater.bottomRight {
  overflow: unset;
  margin-top: 3px;
}
div.bbn-floater.topLeft, div.bbn-floater.top, div.bbn-floater.topRight {
  overflow: unset;
}
div.bbn-floater.left, div.bbn-floater.right {
  overflow: unset;
}
