<div :class="[
        {
          'bbn-reset': true,
          'bbn-widget': true,
          'bbn-flex-height': ready && title,
          'bbn-invisible': !isResized
        },
        componentClass
      ]"
      v-if="isVisible"
      @mouseleave="leave"
      @mouseenter="isOver = true"
      @click.stop=""
      :style="currentStyle">
  <header v-if="title"
          ref="header"
          class="bbn-header bbn-bordered-bottom bbn-unselectable">
    <div class="bbn-block" style="padding-right: 8em">
      <h3 v-html="title"
          class="bbn-flex-fill bbn-no-margin bbn-spadded"
          ref="title">
      </h3>
    </div>
    <div class="bbn-top-right bbn-p bbn-lg">
      <div v-if="maximizable !== false"
          class="bbn-h-100 bbn-middle bbn-reactive"
          @click.stop.prevent="isMaximized = !isMaximized"
          tabindex="0"
          :title="_('Full screen')">
        <i :class="'nf nf-mdi-window_' + (isMaximized ? 'restore' : 'maximize')">
        </i>
      </div>
      <div v-if="closable !== false"
          class="bbn-h-100 bbn-middle bbn-reactive"
          @click.stop.prevent="close()"
          tabindex="0"
          :title="_('Close')">
        <i class="nf nf-fa-times">
        </i>
      </div>
    </div>
  </header>
  <div :style="{width: width ? '100%' : formattedWidth}" :class="{
    'bbn-flex-fill': footer || title || (buttons && buttons.length),
    'bbn-h-100': !title && !footer && (!buttons || !buttons.length)
  }">
        <!--v-if="isMounted">-->
    <bbn-scroll :latency="latency"
                ref="scroll"
                :height="scrollHeight"
                @resize="scrollResize">
      <component v-if="component"
                :is="component"
                :source="source"
      ></component>
      <slot v-else-if="$slots.default"></slot>
      <div v-else-if="!!content" 
          v-html="content"
      ></div>
      <bbn-list v-else-if="filteredData.length"
                :mode="mode"
                :suggest="suggest"
                :source="filteredData"
                :component="itemComponent"
                :template="template"
                :uid="uid"
                :selected="selected"
                :class="'bbn-floater-list bbn-menulist ' + mode"
                origin="floater"
                @select="select"
                :source-value="sourceValue"
                :source-text="sourceText"
      >
      </bbn-list>
      <h3 v-else v-text="noData"></h3>
    </bbn-scroll>
  </div>
  <footer v-if="footer"
          v-html="footer"
          class="bbn-w-100"
          ref="footer">
  </footer>
  <footer v-else-if="currentButtons.length"
          class="bbn-button-group"
          ref="buttons">
    <bbn-button v-for="(b, i) in currentButtons"
                :key="i"
                v-bind="b">
    </bbn-button>
  </footer>
</div>