<div :class="[
        {
          'bbn-reset': true,
          'bbn-widget': true,
          'bbn-flex-height': ready && title
        },
        componentClass
      ]"
      v-if="currentVisible && (content || component || filteredData.length || $slots.default)"
      @mouseleave="blur"
      :style="currentStyle">
  <header v-if="title"
          ref="header"
          class="bbn-header bbn-bordered-bottom bbn-unselectable">
    <div class="bbn-block" style="padding-right: 8em">
      <h3 v-html="title"
          class="bbn-flex-fill bbn-no-margin bbn-spadded"
          ref="title">
      </h3>
    </div>
    <div class="bbn-top-right bbn-p bbn-lg">
      <div class="bbn-h-100 bbn-middle bbn-reactive"
          @click.stop.prevent="isMaximized = !isMaximized"
          tabindex="0"
          :title="_('Full screen')">
        <i v-if="maximizable !== false"
          :class="'nf nf-mdi-window_' + (isMaximized ? 'restore' : 'maximize')">
        </i>
      </div>
      <div class="bbn-h-100 bbn-middle bbn-reactive"
          @click.stop.prevent="close"
          tabindex="0"
          :title="_('Close')">
        <i v-if="closable !== false"
          class="nf nf-fa-times">
        </i>
      </div>
    </div>
  </header>
  <div :style="{width: width ? '100%' : formattedWidth}" :class="{
    'bbn-flex-fill': footer || title || (buttons && buttons.length),
    'bbn-h-100': !title && !footer && (!buttons || !buttons.length)
  }"
        v-if="isMounted">
    <bbn-scroll :max-width="containerWidth"
                :max-height="scrollMaxHeight"
                :min-width="scrollMinWidth"
                :latency="latency"
                ref="scroll"
                @resize="scrollResize">
      <component v-if="component"
                :is="component"
                :source="source"
      ></component>
      <slot v-else-if="$slots.default"></slot>
      <div v-else-if="!!content" 
          v-html="content"
      ></div>
      <ul v-else-if="filteredData.length"
          :class="'bbn-floater-list bbn-menulist ' + mode"
      >
        <li v-for="(li, idx) in filteredData"
            @click.stop.prevent="select(idx)"
            @mouseenter="currentSelected = idx"
            @mouseleave="currentSelected = -1"
            :ref="'li' + idx"
            :key="idx"
            :class="{
              'bbn-reactive': true,
              'bbn-disabled': !!li.disabled,
              'bbn-state-selected': !!li.selected
            }">
          <component v-if="itemComponent" :is="itemComponent" :source="li" @mounted="selfEmit(true)"></component>
          <span v-else>
            <span class="bbn-icon-space" v-if="(mode === 'selection') || (mode === 'options')">
              <i v-if="(mode === 'selection') && (li.selected)"
                class="nf nf-fa-check"></i>
              <i v-else-if="mode === 'options'"
                class="nf nf-fa-check"></i>
            </span>
            <span class="space" v-if="hasIcons">
              <i v-if="li.icon" :class="li.icon"></i>
            </span>
            <span class="text" v-html="li.text"></span>
            <i v-if="li.items && li.items.length"
              class="nf nf-fa-chevron_right"
              style="margin: 0 1em"
            ></i>
          </span>
          <bbn-floater v-if="children && li[children] && (currentSelected === idx) && getRef('li' + idx)"
                      :level="level + 1"
                      :mode="li.mode || 'free'"
                      :source="li[children]"
                      :element="getRef('li' + idx)"
                      orientation="horizontal">
          </bbn-floater>
        </li>
      </ul>
      <h3 v-else v-text="noData"></h3>
    </bbn-scroll>
  </div>
  <footer v-if="footer"
          v-html="footer"
          class="bbn-w-100"
          ref="footer">
  </footer>
  <footer v-else-if="currentButtons.length"
          class="bbn-button-group"
          ref="buttons">
    <bbn-button v-for="(b, i) in currentButtons"
                :key="i"
                v-bind="b">
    </bbn-button>
  </footer>
</div>