<div :class="[
        {
          'bbn-reset': true,
          'bbn-bordered': !modal,
          'bbn-background-internal': !modal,
          'bbn-invisible': !isResized
        },
        componentClass
      ]"
      v-if="isVisible"
      tabindex="0"
      @focus="onFocus"
      @resize.stop="onResize"
      @mouseleave="isResized ? isOver = false : (() => {})()"
      @mouseenter="isResized ? isOver = true : (() => {})()"
      @keydown.esc.prevent.stop="close"
      @subready.stop
      :style="currentStyle">
  <div
        v-if="arrow"
        :class="'arrow ' + position"
  >
  </div>
  <div :style="containerStyle"
       :class="{'bbn-flex-height': outHeight > 0}">
    <div v-if="modal"
         class="bbn-overlay bbn-modal"/>
    <header v-if="title"
            ref="header"
            :class="{
              'bbn-rel': true,
              'bbn-header': true,
              'bbn-bordered-bottom': true,
              'bbn-unselectable': true,
              'bbn-block': true,
              'bbn-w-100': !isResizing
            }">
      <div v-if="title"
          class="bbn-w-100">
        <h3 v-html="title"
            class="bbn-no-margin bbn-spadded"
            ref="title"/>
      </div>
      <div class="bbn-top-right bbn-p bbn-lg">
        <div v-if="maximizable !== false"
            class="bbn-h-100 bbn-middle bbn-reactive"
            @click.stop.prevent="isMaximized = !isMaximized"
            tabindex="0"
            :title="_('Full screen')">
          <i :class="'nf nf-mdi-window_' + (isMaximized ? 'restore' : 'maximize')"/>
        </div>
        <div v-if="closable !== false"
            class="bbn-h-100 bbn-middle bbn-reactive"
            @click.stop.prevent="close"
            tabindex="0"
            :title="_('Close')">
          <i class="nf nf-fa-times"/>
        </div>
      </div>
    </header>
    
    <div :class="{
          'bbn-flex-fill': footer || title || (buttons && buttons.length),
          'bbn-h-100': !title && !footer && (!buttons || !buttons.length),
          'bbn-w-100': true,
          'bbn-flex-height': pageable
        }">
      <div v-if="pageable && ready">
        <bbn-pager class="bbn-table-footer bbn-no-border-right bbn-no-border-left bbn-no-border-bottom"
                  :element="pagerElement || _self"
                  @click.stop
                  @mousedown.stop
                  @mouseup.stop
                  @keydown.stop
                  @keyup.stop
                  :extra-controls="false"/>
      </div>
      <div :class="{'bbn-100': !ready || !pageable, 'bbn-flex-fill': pageable}">
        <bbn-scroll :latency="latency"
                    ref="scroll"
                    :class="{'bbn-flex-fill': pageable}"
                    v-if="ready"
                    @ready="scrollReady = true"
                    :scrollable="scrollable"
                    :axis="axis"
                    :max-width="isMaximized ? '100%' : currentMaxWidth || null"
                    :max-height="isMaximized ? '100%' : scrollMaxHeight || null"
                    :min-width="currentMinWidth || null"
                    :min-height="currentMinHeight > outHeight ? currentMinHeight - outHeight : null"
                    @resize="scrollResize">
          <component v-if="component"
                    ref="component"
                    :is="component"
                    v-bind="realComponentOptions"/>
          <slot v-else-if="$slots.default"/>
          <div v-else-if="!!content" 
              v-html="content"
              :class="scrollable ? 'bbn-block' : 'bbn-100'"/>
          <bbn-list v-else-if="filteredData.length"
                    :mode="mode"
                    ref="list"
                    :suggest="suggest"
                    :source="filteredData"
                    :component="itemComponent"
                    :template="template"
                    :uid="uid"
                    :children="children"
                    :selected="selected"
                    :class="'bbn-floater-list bbn-menulist ' + mode"
                    origin="floater"
                    @select="select"
                    :source-value="sourceValue"
                    :source-text="sourceText"/>
          <h3 v-else v-text="noData"/>
        </bbn-scroll>
      </div>
      <div v-if="pageable && ready">
        <bbn-pager class="bbn-table-footer bbn-no-border-right bbn-no-border-left bbn-no-border-bottom"
                  :element="_self"
                  @click.stop
                  @mousedown.stop
                  @mouseup.stop
                  @keydown.stop
                  @keyup.stop
                  :extra-controls="false"/>
      </div>
      <component is="style"
                v-if="css"
                scoped="scoped"
                v-html="css"/>
    </div>
    <div v-if="!title && closable">
      <div :class="{
        'bbn-top-right': true,
        'bbn-spadded': true,
        'bbn-xl': !!modal,
        'bbn-white': !!modal,
        'bbn-lg': !modal
      }">
        <i class="nf nf-fa-times bbn-p"
           @click="close"/>
      </div>
    </div>
    <footer v-if="footer"
            v-html="footer"
            :class="{
              'bbn-w-100': !isResizing,
              'bbn-block': isResizing
            }"
            ref="footer"/>
    <footer v-else-if="currentButtons.length"
            :class="{
              'bbn-w-100': !isResizing,
              'bbn-block': isResizing,
              'bbn-button-group': true
            }"
            ref="buttons">
      <bbn-button v-for="(b, i) in currentButtons"
                  :key="i"
                  :ref="'button' + i"
                  @ready="t => focusable = t"
                  v-bind="b"/>
    </footer>
  </div>
</div>
