<div :class="componentClass">
  <bbn-floater v-for="(it, idx) in items"
               :ref="'it' + it.id"
               :key="it.id"
               :focused="false"
               :container="$root.$el"
               :class="{
                  'bbn-notification-transition': positions[it.id] !== undefined,
                  'bbn-notification-closing': !!it.closing
               }"
               :top="isTop && (positions[it.id] !== undefined) ? positions[it.id] : undefined"
               :bottom="isTop || (positions[it.id] === undefined) ? undefined : positions[it.id]"
               :left="isLeft ? 0 : undefined"
               :right="isLeft ? undefined : 0"
               :title="false"
               :scrollable="true"
               @resize="_updatePositions"
               @hook.destroy="_updatePositions">
    <div :class="{
        'bbn-notification-content': true,
        'bbn-block': true,
        'bbn-unselectable': true,
        'bbn-white': !!it.type,
        'bbn-light': true,
        'bbn-m': true,
        'bbn-lpadded': true,
        'bbn-bg-green': it.type === 'success',
        'bbn-bg-orange': it.type === 'warning',
        'bbn-bg-red': it.type === 'error',
        'bbn-b': it.type === 'error',
        'bbn-bg-blue': it.content && (it.type === 'info')
    }">
      <span class="bbn-notification-icon bbn-iblock bbn-lg"
            v-if="it.icon">
        <i :class="[it.icon, it.type ? 'bbn-white' : 'bbn-black']"/>
      </span>
      <span v-if="it.content"
            class="bbn-iblock"
            v-html="it.content"/>
      <span v-else-if="it.type === 'success'"
            class="bbn-iblock"
            v-html="successMessage"/>
      <span v-else-if="it.type === 'warning'"
            class="bbn-iblock"
            v-html="warningMessage"/>
      <span v-else-if="it.type === 'error'"
            class="bbn-iblock"
            v-html="errorMessage"/>
      <div v-if="it.num > 1"
           class="bbn-iblock bbn-top-left bbn-hsmargin bbn-vxsmargin">
        <span class="bbn-badge bbn-small bbn-bg-red"
              v-text="it.num"/>
      </div>
      <div :class="{
          'bbn-notification-closer': true,
          'bbn-top-right': true,
          'bbn-vxsmargin': true,
          'bbn-hsmargin': true,
          'bbn-p': true,
          'bbn-white': !!it.type
      }"
          @click="close(it.id, true)">
          <i class="bbn-lg nf nf-fa-times"/>
      </div>
    </div>
  </bbn-floater>
</div>