/* LESS Document */
.bbn-notification{
  .bbn-floater{
    transition: top 0.5s ease 0s;
  }
  .bbn-notification-content{
    white-space: nowrap;
  }
  .bbn-notification-closer{
    position: absolute;
    top: 2px;
    right: 0.5em;
  }
}