/* LESS Document */
.bbn-notification {
  .bbn-floater.bbn-notification-transition {
    transition: top left right bottom 0.5s ease-in-out !important;
  }
  .bbn-notification-icon {
    margin-right: 1rem;
  }
  .bbn-notification-content {
    white-space: nowrap;
    > span {
      white-space: normal;
    }
  }
}
