.bbn-tracks {
  .bbn-tracks-track {
    top: 3rem;
    bottom: 0.5rem;
  }
  .bbn-tracks-label {
    position: sticky;
    left: 0;
    background-color: var(--default-background);
    padding-right: var(--sspace);
    > div {
      white-space: nowrap;
      background-color: var(--secondary-background);
      color: var(--secondary-text);
      padding: var(--sspace);
    }
  }
}