.bbn-tracks {
  .bbn-tracks-col-cell {
    min-height: 15rem;
  }
  .bbn-tracks-track {
    height: 14.5rem;
    top: 2.75rem;
  }
  .bbn-tracks-label {
    position: sticky;
    left: 0;
    background-color: var(--default-background);
    padding-right: var(--sspace);
    > div {
      white-space: nowrap;
      background-color: var(--secondary-background);
      color: var(--secondary-text);
      padding: var(--sspace);
    }
  }
}