<div class="bbn-tracks bbn-iflex-height bbn-100">
  <div class="bbn-r bbn-bottom-sspace">
    <bbn-button @click="zoomIn">+</bbn-button>
    <bbn-button @click="zoomOut">-</bbn-button>
  </div>
  <div class="bbn-flex-fill">
    <bbn-scroll axis="x">
      <div class="bbn-grid"
           :style="gridStyle">
        <template v-if="numCols">
          <div v-for="(c, i) in cols"
               v-if="i % 2 !== 0"
               :class="['bbn-tracks-col-header', 'bbn-bordered-top', 'bbn-bordered-bottom', 'bbn-bordered-right', 'bbn-middle', 'bbn-spadded', {'bbn-bordered-left': i === 1}]"
               v-text="c.label"
               :style="{'grid-area': '1 / ' + i + ' / 1 / span 2'}"/>
          <div v-for="(c, i) in numCols"
               :class="['bbn-tracks-col-cell', 'bbn-bordered-right', 'bbn-c', 'bbn-bordered-bottom', {'bbn-bordered-left': i === 0}]"/>
          <track v-for="track in currentTracks"
                 :source="track"/>
        </template>
      </div>
    </bbn-scroll>
  </div>
</div>