<span :class="[componentClass, 'bbn-textbox', {'bbn-input-nullable': isNullable}]">
  <bbn-masked v-model="inputValue"
              ref="element"
              :disabled="isDisabled"
              :readonly="readonly"
              :required="required"
              :mask="currentMask"
              @hook:mounted="maskedMounted = true"
              @blur="inputChanged"
              @keydown.enter="inputChanged"
              class="bbn-flex-fill"
              :autosize="autosize"
              :inputmode="inputmode"
              :placeholder="placeholder"/>
  <div v-if="isNullable && !readonly && !isDisabled"
       class="bbn-block bbn-h-100 bbn-input-nullable-container">
    <i v-if="hasValue" class="nf nf-fa-times_circle bbn-p"
       @mousedown.prevent.stop="clear"/>
  </div>
  <bbn-button icon="nf nf-fa-clock_o"
              @click="isOpened = !isOpened"
              :disabled="isDisabled || readonly"
              tabindex="-1"
              class="bbn-button-right bbn-no-vborder"/>
  <bbn-floater v-if="isOpened && !isDisabled && !readonly"
               :element="$el"
               ref="floater"
               @close="isOpened = false"
               :scrollable="false"
               :auto-hide="1000"
               :element-width="false"
               max-width="15rem"
               min-width="10rem">
    <bbn-timewheel @change="setValue"
                   :show-second="showSecond"
                   :value="value"
                   @cancel="isOpened = false"
                   :format="currentValueFormat"/>
  </bbn-floater>
</span>
