<div :class="[componentClass, 'bbn-iblock', 'bbn-textbox', {'bbn-disabled': !!isDisabled}]"
     @mouseenter="isOverDropdown = true"
     @mouseleave="isOverDropdown = false"
     @focusin="isActive = true"
     @focusout="onFocusOut">
  <div class="bbn-flex-width">
    <div class="bbn-flex-fill"
         @click.stop="click">
      <bbn-input :disabled="isDisabled"
                 class="bbn-unselectable bbn-no-border"
                 :required="required"
                 :readonly="readonly"
                 :placeholder="inputIsVisible || isOpened ? '' : placeholder"
                 autocorrect="off"
                 autocapitalize="off"
                 spellcheck="false"
                 :value="inputIsVisible || isOpened ? filterString : currentText"
                 @focus="_setInputVisible"
                 :style="{display: inputIsVisible ? 'none' : 'inline-block'}"/>
      <bbn-input v-if="!isDisabled && !readonly"
                 :tabindex="0"
                 class="bbn-no-border bbn-i"
                 v-model="filterString"
                 ref="input"
                 @focus="selectText"
                 @blur="inputIsVisible = false"
                 autocomplete="off"
                 :required="required"
                 :readonly="readonly"
                 @keydown.stop="keydown"
                 @change="onChange"
                 autocorrect="off"
                 autocapitalize="off"
                 spellcheck="false"
                 :name="name"
                 :nullable="isNullable"
                 :style="{display: inputIsVisible ? 'inline-block' : 'none'}"/>
    </div>
    <div class="bbn-list-component-button">
      <div v-if="isAjax && isLoading"
           class="bbn-middle">
        <bbn-loadicon size="1.2rem"
                      tabindex="-1"/>
      </div>
      <bbn-button v-else
                  :icon="isOpened && !isDisabled && !readonly && filteredData.length ? iconUp : iconDown"
                  :class="[
                    'bbn-button-right',
                    'bbn-no-vborder',
                    'bbn-m',
                    {'bbn-disabled': !filteredData.length}
                  ]"
                  @click.prevent.stop="click"
                  tabindex="-1"
                  :disabled="isDisabled"/>
    </div>
  </div>
  <input type="hidden"
         v-model="value"
         ref="element"
         :name="name">
  <bbn-floater v-if="!popup
                  && filteredData.length
                  && !isDisabled
                  && !readonly
                  && !native
                  && ready
                  && isOpened"
               :element="asMobile ? undefined : $el"
               :max-height="asMobile ? undefined : maxHeight"
               :min-width="$el.clientWidth"
               :width="asMobile ? '100%' : undefined"
               :height="asMobile ? '100%' : undefined"
               ref="list"
               :children="null"
               :source-value="sourceValue"
               :source-text="sourceText"
               :source-url="sourceUrl"
               :source-icon="sourceIcon"
               :title="floaterTitle"
               :buttons="asMobile ? realButtons : []"
               :item-component="realComponent"
               @mouseenter="isOverDropdown = true"
               @mouseleave="isOverDropdown = false"
               @ready="attachList"
               @select="select"
               :selected="value ? [value] : []"
               @close="isOpened = false"
               :source="filteredData"/>
</div>
