<div :class="[componentClass, 'bbn-iblock', 'bbn-textbox', {'bbn-disabled': !!isDisabled}]"
     @mouseleave="leave"
     @focusin="isActive = true"
     @focusout="isActive = false"
>
  <div class="bbn-flex-width">
    <div class="bbn-flex-fill"
         @click.stop="click"
    >
      <bbn-input :disabled="isDisabled"
                class="bbn-unselectable bbn-no-border"
                :required="required"
                :readonly="readonly"
                :placeholder="inputIsVisible || isOpened ? '' : placeholder"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                :value="inputIsVisible || isOpened ? filterString : currentText"
                @focus="_setInputVisible"
                :style="{display: inputIsVisible ? 'none' : 'inline-block'}"
      ></bbn-input>
      <bbn-input v-if="!isDisabled && !readonly"
                :tabindex="0"
                class="bbn-no-border"
                v-model="filterString"
                ref="input"
                @focus="selectText"
                @blur="inputIsVisible = false"
                autocomplete="off"
                :required="required"
                :readonly="readonly"
                @keydown.stop="keydown"
                @change="onChange"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                :name="name"
                :nullable="isNullable"
                :style="{display: inputIsVisible ? 'inline-block' : 'none'}"
      ></bbn-input>
    </div>
    <div class="bbn-list-component-button">
      <div v-if="isAjax && isLoading"
           class="bbn-middle"
      >
        <bbn-loadicon size="1.2em"
                      tabindex="-1"
        ></bbn-loadicon>
      </div>
      <bbn-button v-else
                  :icon="isOpened && !isDisabled && !readonly && filteredData.length ? iconUp : iconDown"
                  class="bbn-button-right bbn-no-vborder bbn-m"
                  @click.prevent.stop="click"
                  tabindex="-1"
                  :disabled="isDisabled"
      ></bbn-button>
    </div>
  </div>
  <input type="hidden"
         v-model="value"
         ref="element"
         :name="name"
  >
  <bbn-floater v-if="!isDisabled && !readonly && isOpened"
               :element="$el"
               :max-height="maxHeight"
               :min-width="$el.clientWidth"
               ref="list"
               :source-value="sourceValue"
               :source-text="sourceText"
               :item-component="realComponent"
               @select="select"
               :selected="[value]"
               @close="isOpened = false"
               :source="filteredData"
  ></bbn-floater>
</div>
