<div :class="[componentClass, 'bbn-w-100', 'bbn-widget']">
  <form enctype="multipart/form-data" 
        novalidate 
        :action="saveUrl" 
        ref="form" 
        method="post"
  >
    <div ref="zone">
      <div class="bbn-w-100" 
           style="min-height: 60px"
      >
        <div class="bbn-full-screen bbn-r bbn-hpadded"
             style="opacity: 0.4"
        >
          <input v-show="false" 
                 type="file"
                 :multiple="multiple"
                 name="file"
                 ref="uploader"
                 @change="filesReady($event)"
          >
          <div v-if="uploading"
               class="bbn-xl"
          >
            <span v-text="lng.uploading + ' ' + progress + '%'"></span>
          </div>
          <div v-else 
               class="bbn-lg"
               @click="openPrompt"
          >
            <span v-text="lng.dropHere + '...'"></span>
            <span v-text="lng.clickHere"></span> <em v-text="lng.browse + '... '"></em>
            <i class="bbn-xl fas fa-upload"></i>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- <div ref="files" v-if="files.length">
    <ul>
      <li v-for="file of fileList" v-text="file.name"></li>
    </ul>
  </div> -->
</div>
