<div :class="[{
       'bbn-tabnav-scrollable': scrollable
     }, componentClass]"
>
  <div class="bbn-tabnav-container bbn-flex-height bbn-flex-width">
    <div class="bbn-flex-fill bbn-tabnav-ul-container">
      <div class="bbn-100">
        <component :is="scrollable ? 'bbn-scroll' : 'div'"
                   ref="horizontal-scroll"
                   v-bind="scrollCfg">
          <ul ref="tabgroup"
              v-if="tabs"
              :class="{
              'bbn-header': true,
              'bbn-tabnav-tabs': true,
              'bbn-bordered-bottom': true
            }"
          >
            <li v-for="(tab, tabIndex) in tabs"
                :ref="'tab-' + tabIndex"
                v-show="!tab.hidden"
                :style="{
                backgroundColor: tab.bcolor || null,
                color: tab.fcolor || null
              }"
                :data-index="tabIndex"
                :class="[{
                'bbn-iblock': true,
                'bbn-bordered': true,
                'bbn-radius-top': true,
                'bbn-state-default': true,
                'bbn-unselectable': true,
                'bbn-tabnav-static': !!tab.static,
                'bbn-background-effect-internal': tabIndex === selected,
                'bbn-tabnav-active': tabIndex === selected,
                'bbn-disabled': tab.disabled,
                'bbn-tabnav-alarm': tab.alarm
              }, tab.cls || '']"
                @click="!tab.disabled && (tabIndex !== selected) ? (selected = tabIndex) : (() => {})()"
            >
              <div class="bbn-tabnav-badge-container bbn-middle"
                    v-if="(tabIndex !== selected) && numProperties(tab.events)">
                <span class="bbn-badge bbn-small bbn-bg-red" v-text="numProperties(tab.events)"></span>
              </div>
              <div class="bbn-tabnav-tab-loader bbn-border-text" 
                    :style="{borderColor: tab.fcolor || null}"
                    v-show="tab.loading">
              </div>
              <bbn-context v-bind="{
                            context: true,
                            source: getMenuFn,
                            sourceIndex: tabIndex,
                            tag: 'div'
                          }"
                          min-width="10em"
                          :class="['bbn-tabnav-tab', 'bbn-iblock', {'bbn-tabnav-unsaved': tab.unsaved}]"
                          :ref="'title-' + tabIndex"
                          :style="{
                            color: tab.fcolor ? tab.fcolor : null
                          }"
                          tabindex="0"
                          @keydown.space.enter.prevent.stop="tabIndex !== selected ? activateIndex(tabIndex) : (() => {})()"
                          @keydown.right.down.prevent.stop="getRef('menu-' + tabIndex) ? getRef('menu-' + tabIndex).$el.focus() : (getRef('closer-' + tabIndex) ? getRef('closer-' + tabIndex).focus() : null)"
              >
                <i v-if="tab.icon"
                  :title="tab.title"
                  :class="tab.icon + (tab.notext ? ' bbn-xl' : '')">
                </i>
                <span v-if="!tab.notext && tab.title"
                      class="bbn-tab-text"
                      :title="getFullTitle(tab)"
                      v-html="tab.title.length > maxTitleLength ? cutTitle(tab.title) : tab.title">
                </span>
              </bbn-context>
              <div class="bbn-tabnav-selected"
                    :ref="'selector-' + tabIndex"
                    v-show="tabIndex === selected"
                    :style="{
                    backgroundColor: getTabColor(tabIndex)
                  }"
              ></div>
              <i v-if="!tab.static && !tab.pinned"
                  class="nf nf-fa-times bbn-p bbn-tab-close bbn-tabnav-icon"
                  tabindex="-1"
                  :ref="'closer-' + tabIndex"
                  @keydown.left.down.prevent.stop="getRef('menu-' + tabIndex) ? getRef('menu-' + tabIndex).$el.focus() : null"
                  @keydown.space.enter.prevent.stop="close(tabIndex)"
                  @click.stop.prevent="close(tabIndex)"></i>
              <bbn-context v-if="(tab.menu !== false) && (tabIndex === selected)"
                            class="nf nf-fa-caret_down bbn-tab-menu bbn-tabnav-icon bbn-p"
                            tabindex="-1"
                            min-width="10em"
                            tag="i"
                            :source="getMenuFn"
                            :source-index="tabIndex"
                            :ref="'menu-' + tabIndex"
              ></bbn-context>
            </li>
          </ul>
        </component>
      </div>
    </div>
    <bbn-router ref="router"
                v-if="initSource !== null"
                @ready="init"
                @route="onRoute"
                @change="routing"
                @update="update"
                :def="url"
                :autoload="autoload"
                :source="initSource"
                :root="root"
                :auto="true"
                class="bbn-flex-fill">
      <slot></slot>
    </bbn-router>
    <div v-if="scrollable"
          class="bbn-tabnav-button bbn-tabnav-button-prev bbn-p">
      <div class="bbn-100 bbn-middle"
          @click="scrollTabs('left')">
        <div class="bbn-block">
          <i class="nf nf-fa-angle_left bbn-xlarge"></i>
        </div>
      </div>
    </div>
    <div v-if="scrollable"
          class="bbn-tabnav-button bbn-tabnav-button-next bbn-p">
      <div class="bbn-100 bbn-middle"
          @click="scrollTabs('right')">
        <div class="bbn-block">
          <i class="nf nf-fa-angle_right bbn-xlarge"></i>
        </div>
      </div>
    </div>
  </div>
</div>