div.bbn-tabnav {
  border: 0 !important;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  zoom: 1;
  &.bbn-tabnav-scrollable{
    > div.bbn-tabnav-container{
      div.bbn-tabnav-ul-container{
        padding: 0 !important;
        height: 2.4em;
        ul.bbn-tabnav-tabs:first-child{
          white-space: nowrap;
          overflow: hidden;
        }
      }
      > div.bbn-tabnav-ul-container{
        padding: 0 2.5em !important;
      }
    }
  }
  > div.bbn-tabnav-container{
    height: 100%;
    ul.bbn-tabnav-tabs:first-child{
      height: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      border-top-width: 0px;
      border-left-width: 0px;
      border-right-width: 0px;
      > li {
        height: 2.4em;
        list-style-type: none;
        text-decoration: none;
        margin: 0 !important;
        vertical-align: middle;
        position: relative;
        border-bottom: 0;
        i:focus, span:focus{
          animation: bbn-anim-blinker 1s linear infinite;
        }
        .bbn-tabnav-badge-container{
          position: absolute;
          top: 0;
          left: 1px;
          bottom: 0px;
        }
        .bbn-tabnav-tab-loader {
          display: inline-block;
          width: 12px;
          height: 12px;
          position: absolute;
          top: 0.4em;
          left: 2px;
        }
        .bbn-tabnav-tab-loader:after {
          content: " ";
          display: block;
          width: 8px;
          height: 8px;
          margin: 1px;
          border-radius: 50%;
          border-style: solid;
          border-width: 2px;
          border-right-color: transparent !important;
          border-left-color: transparent !important;
          animation: bbn-tabnav-tab-loader 1.2s linear infinite;
        }
        div.bbn-tabnav-tab{
          cursor: pointer;
          color: inherit;
          padding: 0.3em 1.5em 0.5em 1.5em;
          vertical-align: middle;
          > .bbn-tab-text{
            font-size: 1.1em;
          }
          &.bbn-tabnav-unsaved::after {
            content: '*';
          }
        }
        i.bbn-tabnav-icon{
          display: block;
          position: absolute;
          right: 2px;
          font-size: 1em;
          cursor: pointer;
          margin: 0;
          &.bbn-tab-close{
            top: 1px;
          }
          &.bbn-tab-menu{
            bottom: -2px;
          }
        }
        div.bbn-tabnav-selected {
          display: none;
          position: absolute;
          bottom: 1px;
          left: 1.15em;
          right: 1.15em;
          height: 3px;
        }
        &.bbn-tabnav-static div.bbn-tabnav-icons i.bbn-tab-close {
          display: none
        }
        &.bbn-tabnav-active {
          div.bbn-tabnav-icons i.bbn-tab-menu {
            display: block
          }
          div.bbn-tabnav-selected {
            display: block;
          }
        }
      }
    }
    > div.bbn-loader {
      align-items: center;
      justify-content: center;
      opacity: 0.5;
      background-color: black;
      color: white;
      div.loader-animation {
        margin-top: 2em;
        h1 {
          font-size: 3.5em !important;
          text-align: center;
          margin-top: 1em;
          color: white;
        }
        .sk-cube-grid {
          width: 120px;
          height: 120px;
          margin: auto;
          .sk-cube {
            width: 33%;
            height: 33%;
            float: left;
            background-color: white;
            -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            &.sk-cube1 {
              -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
            }
            &.sk-cube2 {
              -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
            }
            &.sk-cube3 {
              -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s;
            }
            &.sk-cube4 {
              -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s;
            }
            &.sk-cube5 {
              -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
            }
            &.sk-cube6 {
              -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
            }
            &.sk-cube7 {
              -webkit-animation-delay: 0s;
              animation-delay: 0s;
            }
            &.sk-cube8 {
              -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s;
            }
            &.sk-cube9 {
              -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
            }
          }
        }
      }
    }
    > div.bbn-tabnav-button{
      position: absolute;
      width: 2.5em;
      height: 2.4em;
      top: 0px;
      &.bbn-tabnav-button-prev{
        left: 0px;
      }
      &.bbn-tabnav-button-next{
        right: 0px;
      }
    }
    > span.bbn-button{
      top: 0.4em;
      position: absolute;
    }
  }
  .bbn-tabnav{
    margin-top: 0.5em;
    height: calc(100% - 0.5em);
  }
  .bbn-pane .bbn-tabnav{
    margin-top: 0;
  }
  .bbn-pane .bbn-tabnav .bbn-tabnav{
    margin-top: 0.5em;
  }
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes bbn-tabnav-tab-loader{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
ul.ui-tabNav-menu{
  font-size: 1.2em !important;
  i{
    width: 2em;
    text-align: center
  }
}

div.bbn-tabnav-icons{
  display: none;
}