<div :class="[
	componentClass, 'bbn-textbox', {
		'bbn-disabled': !!isDisabled,
		'bbn-input-button-left' : !!buttonLeft,
		'bbn-input-button-right' : !!buttonRight,
		'bbn-invisible' : (type === 'hidden'),
    'bbn-input-nullable': isNullable
	}]"
	:style="(currentSize !== '') ? 'width:' + currentSize : '' "
>
  <div :class="{
    'bbn-w-100': (!buttonLeft && !buttonRight && !nullable),
    'bbn-flex-width' : (buttonLeft || buttonRight || nullable),
    'bbn-nowrap': true
  }">
    <bbn-button v-if="buttonLeft"
          :icon="buttonLeft" 
          @click="currentActionLeft"
          tabindex="-1"
          :class="[
            'bbn-button-left',
            'bbn-no-vborder',
            {
              'bbn-invisible': autoHideLeft,
              'bbn-disabled': buttonLeftDisabled
            }
          ]"/>
    <div v-if="prefix"
         class="bbn-block bbn-h-100 bbn-vmiddle bbn-nowrap"
         v-text="prefix"/>
    <input :value="currentValue"
          :type="currentType"
          v-focused.selected="focused"
          :name="name"
          ref="element"
          :readonly="readonly"
          :disabled="isDisabled"
          :placeholder="placeholder"
          :maxlength="maxlength"
          :autocomplete="currentAutocomplete"
          :pattern="currentPattern"
          @input="emitValue($refs.element.value)"
          @click="click"
          @paste="$emit('paste', $event)"
          @focus="focus"
          @blur="blur"
          @change="change"
          @keydown="keydown"
          @keyup="keyup"
          @mouseenter="over"
          @mouseleave="out"
          :tabindex="tabindex"
          :class="{
            'bbn-flex-fill' : (buttonLeft || buttonRight || isNullable),
            'bbn-ellipsis': ellipsis,
            'bbn-radius': !buttonLeft && !buttonRight,
            'bbn-radius-left': !buttonLeft,
            'bbn-radius-right': !buttonRight
          }"
          :size="currentInputSize"
          :inputmode="inputmode"
          :min="min"
          :max="max"
          :style="{
            paddingLeft: prefix ? 0 : null
          }">
    <bbn-loadicon v-if="loading"
                  class="bbn-top-right bbn-vmiddle bbn-h-100 bbn-right-xspadded"/>
    <div v-else-if="isNullable && (!readonly || forceNullable) && !isDisabled"
         class="bbn-input-nullable-container bbn-vmiddle"
         :style="{
           positions: 'absolute',
           top: 0,
           bottom: 0,
           visibility: hasValue ? 'visible' : 'hidden',
           right: buttonRight ? '3rem' : '2px'
         }">
      <i class="nf nf-fa-times_circle bbn-p"
         @mousedown.prevent.stop="clear"></i>
    </div>
    <bbn-button v-if="buttonRight"
                :icon="buttonRight"
                tabindex="-1"
                @click="currentActionRight"
                :class="[
                  'bbn-button-right',
                  'bbn-no-vborder',
                  {
                    'bbn-invisible' : autoHideRight,
                    'bbn-disabled': buttonRightDisabled
                  }
                ]"/>
  </div>
</div>