<span :class="[componentClass, 'bbn-textbox', {'bbn-disabled': !!disabled}]">
  <input v-if="type === 'email'"
         :value="value"
         type="email"
         :name="name"
         ref="element"
         :readonly="readonly"
         :disabled="disabled"
         :required="required"
         :placeholder="placeholder"
         :maxlength="maxlength"
         :size="size"
         :autocomplete="autocomplete"
         :pattern="pattern"
         @input="emitInput($refs.element.value)"
         @click="click"
         @focus="focus"
         @blur="blur"
         @change="change"
         @keydown="keydown"
         @keyup="keyup"
         @mouseenter="over"
         @mouseleave="out"
         tabindex="0"
  >
  <input v-else-if="type === 'hidden'"
         :value="value"
         type="hidden"
         :name="name"
         ref="element"
         :readonly="readonly"
         :disabled="disabled"
         :required="required"
         :placeholder="placeholder"
         :maxlength="maxlength"
         :size="size"
         :autocomplete="autocomplete"
         :pattern="pattern"
         @input="emitInput($refs.element.value)"
         @click="click"
         @focus="focus"
         @blur="blur"
         @change="change"
         @keydown="keydown"
         @keyup="keyup"
         @mouseenter="over"
         @mouseleave="out"
         tabindex="0"
  >
  <input v-else-if="type === 'month'"
         :value="value"
         type="month"
         :name="name"
         ref="element"
         :readonly="readonly"
         :disabled="disabled"
         :required="required"
         :placeholder="placeholder"
         :maxlength="maxlength"
         :size="size"
         :autocomplete="autocomplete"
         :pattern="pattern"
         @input="emitInput($refs.element.value)"
         @click="click"
         @focus="focus"
         @blur="blur"
         @change="change"
         @keydown="keydown"
         @keyup="keyup"
         @mouseenter="over"
         @mouseleave="out"
         tabindex="0"
  >
  <input v-else-if="type === 'number'"
         :value="value"
         type="number"
         :name="name"
         ref="element"
         :readonly="readonly"
         :disabled="disabled"
         :required="required"
         :placeholder="placeholder"
         :maxlength="maxlength"
         :size="size"
         :autocomplete="autocomplete"
         :pattern="pattern"
         @input="emitInput($refs.element.value)"
         @click="click"
         @focus="focus"
         @blur="blur"
         @change="change"
         @keydown="keydown"
         @keyup="keyup"
         @mouseenter="over"
         @mouseleave="out"
         tabindex="0"
  >
  <input v-else-if="type === 'tel'"
         :value="value"
         type="tel"
         :name="name"
         ref="element"
         :readonly="readonly"
         :disabled="disabled"
         :required="required"
         :placeholder="placeholder"
         :maxlength="maxlength"
         :size="size"
         :autocomplete="autocomplete"
         :pattern="pattern"
         @input="emitInput($refs.element.value)"
         @click="click"
         @focus="focus"
         @blur="blur"
         @change="change"
         @keydown="keydown"
         @keyup="keyup"
         @mouseenter="over"
         @mouseleave="out"
         tabindex="0"
  >
  <input v-else-if="type === 'url'"
         :value="value"
         type="url"
         :name="name"
         ref="element"
         :readonly="readonly"
         :disabled="disabled"
         :required="required"
         :placeholder="placeholder"
         :maxlength="maxlength"
         :size="size"
         :autocomplete="autocomplete"
         :pattern="pattern"
         @input="emitInput($refs.element.value)"
         @click="click"
         @focus="focus"
         @blur="blur"
         @change="change"
         @keydown="keydown"
         @keyup="keyup"
         @mouseenter="over"
         @mouseleave="out"
         tabindex="0"
  >
  <input v-else-if="type === 'password'"
         :value="value"
         type="password"
         :name="name"
         ref="element"
         :readonly="readonly"
         :disabled="disabled"
         :required="required"
         :placeholder="placeholder"
         :maxlength="maxlength"
         :size="size"
         :autocomplete="autocomplete"
         :pattern="pattern"
         @input="emitInput($refs.element.value)"
         @click="click"
         @focus="focus"
         @blur="blur"
         @change="change"
         @keydown="keydown"
         @keyup="keyup"
         @mouseenter="over"
         @mouseleave="out"
         tabindex="0"
  >
  <input v-else
         :value="value"
         :name="name"
         ref="element"
         :readonly="readonly"
         :disabled="disabled"
         :required="required"
         :placeholder="placeholder"
         :maxlength="maxlength"
         :size="size"
         :autocomplete="autocomplete"
         :pattern="pattern"
         @input="emitInput($refs.element.value)"
         @click.stop="click"
         @focus.stop="focus"
         @blur.stop="blur"
         @change.stop="change"
         @keydown.stop="keydown"
         @keyup.stop="keyup"
         @mouseenter.stop="over"
         @mouseleave.stop="out"
         tabindex="0"
  >
</span>