.bbn-panelbar{
  .bbn-header{
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    .arrow-container{
      width: 3em;
      height: 100%;
      // margin-left: 1rem;
    }
    .title{
      margin-right: 3em;
      margin-left: 3em;
      width: 100%;
      &.center{
        justify-content: center;
      }
      &.start{
        justify-content: flex-start;
      }
      &.end{
        justify-content: flex-end;
      }
      .right-padded{
        padding-right: 1em;
      }
    }
    .selected, .content{
      //height: 100%;
      transition: all 2s;
      transition: height 0.8s;
    }
    .buttons{
      button{
        border: 0;
      }
    }
  }
  
  .header-icon {
    display: inline-block;
    transform: rotate(0deg);
    transition-duration: 0.8s;
  }
  .header-icon.rotate {
    transform: rotate(90deg);
    transition-duration: 0.8s;
  }


  .inline{
    display: inline;
  }
  
  
}
