.bbn-panelbar{
  .k-block{
    border-radius: 0;
    /*.k-header{
      border: none;
      border-radius: 0;
      margin-bottom: 0;
    }*/
    .k-header.panel{
      border-top: none;
      border-right: none;
      border-left: none;
      border-radius: 0;
      margin-bottom: 0;
      width: 100%;
      .arrow-container{
        position: absolute;
        left: 10px;
       // margin-left: 1rem;
      }
      .component, .content{
        //width: 100%;
        margin-left: 25px;
        margin-right: 25px;

      }
      .buttons{
        button{
          border: 0;
        }
      }
    }
  }
  .header-icon {
    /*position: absolute;
    top: 5px;
    left: 8px;*/
    transform: rotate(0deg);
    transition-duration: 0.3s;
  }
  .header-icon.rotate {
    transform: rotate(90deg);
    transition-duration: 0.3s;
  }

  .item-slot{
    height: 0;
    
    &.selected{
      //height: 100%;
      transition: height 2s;
    }

  }
  .inline{
    display: inline-block;
  }
  
  
}
.show-content-active, .show-content-active {
    transition: all 2s ease;
  }
  .show-content-enter, .show-content-leave-to /* .fade-leave-active below version 2.1.8 */ {
    display: none;
  }