<div :class="[componentClass]">
  <div class="bbn-bordered bbn-h-100">
    <div class="bbn-flex-height" ref="container">
      <template v-for="(s, idx) in source">
        <div :class="['bbn-panelbar-bbn-header', 'bbn-header', 'bbn-unselectable', 'bbn-spadded', 'bbn-vmiddle', {'bbn-panelbar-header-selected': isSelected(idx)}]"
             ref="header">
          <div class="bbn-panelbar-arrow-container bbn-hspadded bbn-p bbn-middle bbn-block"
               @click="multiple ? multiselect(idx) : select(idx)">
            <i :class="['nf nf-fa-angle_right', 'bbn-panelbar-header-icon', 'bbn-large',  {'bbn-panelbar-header-icon-rotate': multiple ? isSelected(idx) : (preselected === idx)}]"></i>
          </div>
          <div :class="['bbn-panelbar-title', 'bbn-vmiddle', {
                  'bbn-panelbar-center': (align === 'center'),
                  'bbn-panelbar-start': (align === 'left'),
                  'bbn-panelbar-end': (align === 'right'),
                }]"
          >
            <div v-html="s.header"
                @click="multiple ? multiselect(idx) : select(idx)"
                :class="{
                  'bbn-p':true,
                  'bbn-panelbar-inline': s.headerComponent,
                  'bbn-panelbar-right-padded': s.headerComponent || headerComponent
                }"
            ></div>
            <component v-if="s.headerComponent"
                      :is="s.headerComponent"
                      v-bind="source[idx]['headerOptions']"
            ></component>
            <component v-if="headerComponent && !s.headerComponent"
                      :is="headerComponent"
                      v-bind="headerOptions"
            ></component>
          </div>
        </div>
        <div :class="['bbn-border-box', {
              'bbn-w-100': !scrollable,
              'bbn-panelbar-selected' : isSelected(idx),
              'bbn-flex-fill': isSelected(idx) && (flex || source[idx].flex || scrollable)
            }]"
            :style="getStyle(idx)"
        >
          <component :is="scrollable ? 'bbn-scroll' : 'div'"
                     :class="{'bbn-w-100': !scrollable}"
                     :key="idx"
          >
            <div v-if="!s.component && !component"
                 v-html="s.content"
            ></div>
            <div v-else-if="!s.component && component"
                :class="['bbn-panelbar-content', {'bbn-w-100': !scrollable}]"
            >
              <component :is="component"
                        v-bind="componentOptions"
                        :class="{'bbn-w-100': !scrollable}"
                        @hook:mounted="$emit('componentMounted', component, componentOptions, s)"
              ></component>
            </div>
            <div v-else-if="(s.component)"
                :class="['bbn-panelbar-content', {'bbn-w-100': !scrollable}]"
            >
              <component :is="s.component"
                         v-bind="source[idx]['componentOptions']"
                         :class="{'bbn-w-100': !scrollable}"
                         @hook:mounted="$emit('componentMounted', s.component, s.componentOptions, s)"
              ></component>
            </div>
          </component>
        </div>
      </template>
    </div>
  </div>
</div>