<span :class="[componentClass, 'bbn-textbox']">
  <bbn-masked :value="inputValue"
              ref="element"
              :disabled="disabled"
              :readonly="readonly"
              :required="required"
              @click="click($event)"
              @focus="focus($event)"
              @blur="blur($event)"
              @change="change($event)"
              @keydown="keydown($event)"
              @keyup="keyup($event)"
              @mouseenter="over($event)"
              @mouseleave="out($event)"      
              :mask="currentMask"
  ></bbn-masked>
  <bbn-button icon="nf nf-fa-calendar"
              @click="isOpened = !isOpened"
              :disabled="disabled || readonly"
  ></bbn-button>
  <bbn-floater v-if="isOpened && !disabled && !readonly"
               :element="$el"
               ref="floater"
               @close="isOpened = false"
  >
    <bbn-calendar2 :arrows-buttons="false"
                   @selected="setDate"
                   :value="value"
                   :selection="true"
                   :auto-selection="true"
                   :type="type"
                   ref="calendar"
                   :date="value"
                   :min="min"
                   :max="max"
                   :extra-items="true"
                   @mounted="$refs.floater.onResize()"
                   :disable-dates="disableDates"
                   :items-range="datesRange"
    ></bbn-calendar2>
  </bbn-floater>
</span>
