bbn-chart{
  span.apexcharts-legend-text{
    color: inherit !important;
  }
  .bbn-chart-widget {
    div.apexcharts-canvas{
      background: inherit !important;
      .apexcharts-xaxistooltip{
        z-index: 0;
      }
      .apexcharts-toolbar{
        z-index: 1;
      }
      .apexcharts-tooltip{
        z-index: 2;
      }
    }
  }
}