.bbn-colorpicker2{
  .bbn-colorpicker-input-hidden{
    display: none;
  }
  .bbn-colorpicker-input{
    padding: .3em;
    .bbn-colorpicker-input-color{
      width: 2em;
    }
  }
  .bbn-colorpicker-palette{
    width: 2em;
    height: 2em;
  }
  .bbn-colorpicker-details{
    .bbn-colorpicker-preview{
      height: 120px;
      i{
        font-size: 8em;
      }
    }
    .bbn-colorpicker-details-inputs{
      grid-template-columns: minmax(auto,max-content) max-content auto;
    }
  }
}