bbn-chat {
  .bbn-badge{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  > .bbn-block{
    //margin-right: 0.2rem;
    > i{
      //margin-right: 0.7rem;
    }
    > span.bbn-badge{
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .bbn-chat-common{
    position: absolute;
    right: 0;
    z-index: 10;
    //bottom: 25px;
    height: 350px;
  }
  .bbn-chat-users{
    .bbn-chat-common;
    width: 300px;
  }
  .bbn-chat-conversation{
    .bbn-chat-common;
    width: 250px;
    .bbn-chat-conversation-message {
      word-break: break-word;
      .bbn-chat-conversation-message-time {
        align-self: flex-end;
        flex-shrink: 0;
      }
      &:after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 0.5rem solid transparent;
      }
      &.bbn-chat-conversation-message-received {
        border-top-left-radius: 0;
        &:after{
          left: 0;
          top: 0.5rem;
          border-right-color: inherit;
          border-left: 0;
          border-top: 0;
          margin-top: -0.5rem;
          margin-left: -0.5rem;
        }
      }
      &.bbn-chat-conversation-message-sent{
        border-bottom-right-radius: 0;
        &:after{
          right: 0;
          bottom: 0.5rem;
          border-left-color: inherit;
          border-right: 0;
          border-bottom: 0;
          margin-bottom: -0.5rem;
          margin-right: -0.5rem;
        }
      }
    }
    .bbn-chat-conversation-input {
      button {
        border-radius: 0 !important;
      }
    }
    .bbn-user-title{
      margin-right: 5px;
    }
  }
}