.bbn-chat{
  .bbn-badge{
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  > .bbn-block{
    //margin-right: 0.2em;
    > i{
      //margin-right: 0.7em;
    }
    > span.bbn-badge{
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .bbn-chat-common{
    position: absolute;
    right: 0;
    z-index: 5;
    //bottom: 25px;
    height: 350px;
  }
  .bbn-chat-users{
    .bbn-chat-common;
    width: 300px;
  }
  .bbn-chat-conversation{
    .bbn-chat-common;
    width: 250px;
    .bbn-chat-conversation-message {
      word-break: break-all;
      .bbn-chat-conversation-message-time {
        align-self: flex-end;
        flex-shrink: 0;
      }
    }
    .bbn-chat-conversation-input {
      button {
        border-radius: 0 !important;
      }
    }
    .bbn-user-title{
      margin-right: 5px;
    }
  }
}