.bbn-block{
  .component-container .bbn-grid-fields{
    align-items: center;
  }
  .bbn-grid-fields{
    border: none!important;
  }
  .block-space-edit{
    border: 1px dashed rgb(221, 221, 221);
    display: flex;
    align-items: flex-start;
    justify-content: center;
   
  }
}