<button :class="[{'k-button': true, 'bbn-button-icon-only': !text || notext}, componentClass]"
        ref="element"
        @click.prevent.stop="click($event)"
        @focus="focus($event)"
        @blur="blur($event)"
        @keydown.stop="keydown($event)"
        @keyup.stop="keyup($event)"
        @mouseenter="over($event)"
        @mouseleave="out($event)"
        :type="type"
        :disabled="isDisabled"
        :title="text && notext ? text : (title ? title : '')"
>
  <span v-if="icon" class="bbn-iblock">
    <i :class="icon"> </i>
    <i v-if="secondary"
       :class="secondary + ' secondary'"
       :style="{
        color: secondaryColor,
        transform: 'scale(0.7)',
        bottom: '0.2em',
        left: '0.7em',
        position: 'absolute'
      }"
    ></i>
  </span>
  <span v-if="text && !notext" v-html="text"></span>
  <span v-else><slot></slot></span>
  <!--div-- class="bbn-middle">
    <span>
      <i v-if="icon" :class="icon" style="position: absolute"> </i>
    </span>
    <span v-if="text && !notext" v-html="text"></span>
    <span v-else><slot></slot></span>
  </div-->
</button>