<button :class="[{'bbn-button-icon-only': notext}, componentClass]"
        ref="element"
        @click="click($event)"
        @focus="focus($event)"
        @blur="blur($event)"
        @keydown="keydown($event)"
        @keyup="keyup($event)"
        @mouseenter="over($event)"
        @mouseleave="out($event)"
        :type="type"
        :disabled="isDisabled"
        :title="titleString"
>
  <span v-if="icon && (iconPosition === 'left')" class="bbn-button-icon bbn-rel">
    <i :class="icon"> </i>
    <i v-if="secondary"
       :class="secondary + ' secondary'"
       :style="{
        color: secondaryColor,
        transform: 'scale(0.7)',
        bottom: '0.15em',
        left: '0.7em',
        position: 'absolute'
      }"
    ></i>
  </span>
  <span v-if="!notext && text"
        v-html="text"
        :style="{
          paddingLeft: icon && (iconPosition === 'left') ? (secondary ? '1em' : '0.3em') : '',
          paddingRight: icon && (iconPosition === 'right') ? (secondary ? '1em' : '0.3em') : ''
        }"
  ></span>
  <span v-else-if="!notext"><slot></slot></span>
  <span v-if="icon && (iconPosition === 'right')" class="bbn-iblock bbn-m">
    <i :class="icon"> </i>
    <i v-if="secondary"
       :class="secondary + ' secondary'"
       :style="{
        color: secondaryColor,
        transform: 'scale(0.7)',
        bottom: '0.15em',
        left: '0.7em',
        position: 'absolute'
      }"
    ></i>
  </span>
</button>