<div :class="[componentClass, 'bbn-iflex-height', {'bbn-box': skin}]"
     :style="{
       height: currentHeight,
       width: currentWidth
     }">
  <div v-if="title && (titlePosition === 'top')"
       :class="['bbn-c', 'bbn-audio-title', 'bbn-xspadded', {
         'bbn-header': skin,
         'bbn-radius-top': skin,
         'bbn-no-border-top': skin,
         'bbn-no-border-left': skin,
         'bbn-no-border-right': skin,
       }, titleCls]"
       v-html="title"
       :style="{
         background: titleBackground,
         color: titleColor
       }"/>
  <div class="bbn-audio-container bbn-flex-fill bbn-vmiddle"
       :style="{
         background: background
       }">
    <audio ref="audio"
           :autoplay="autoplay"
           :controls="controls"
           :loop="loop"
           :muted="muted"
           preload="auto"
           :style="{
             background: background
           }"
           :class="cls"
           @play="onPlay"
           @pause="onPause">
      <source v-if="source"
              :src="source"
              :type="type"/>
      <p v-text="browserMessage"/>
    </audio>
  </div>
  <div v-if="title && (titlePosition === 'bottom')"
       :class="['bbn-c', 'bbn-audio-title', 'bbn-xspadded', {
         'bbn-header': skin,
         'bbn-radius-bottom': skin,
         'bbn-no-border-bottom': skin,
         'bbn-no-border-left': skin,
         'bbn-no-border-right': skin,
       }, titleCls]"
       v-html="title"
       :style="{
         background: titleBackground,
         color: titleColor
       }"/>
</div>