<div :class="[componentClass, 'bbn-block']">
  <ul class="bbn-widget bbn-ul bbn-no-border"
      data-role="menu"
      role="menubar">
    <li v-for="(item, i) in filteredData"
        :class="[
          'bbn-menu-item',
          'bbn-reactive-block',
          {'bbn-menu-selected': (!!multiple && currentSelected.includes(item.index)) || (!multiple && (currentSelectedIndex === i))}
        ]"
        role="menuitem"
        :ref="'li' + i"
        :key="i"
        :tabindex="item.data.disabled ? '-1' : '0'"
        @focus="onFocus(i)"
        @click="clickLi(i, $event)"
        @keydown.stop="onKeyDown(i, $event)"
        @mouseenter="_enterLi(i)">
      <a v-if="item.data.url"
         :href="item.data.url"
         @click.stop.prevent="clickLi(i, $event)"
         v-html="item.data.text"/>
      <span v-else
            v-html="item.data.text"/>
      <span v-if="item.data[children]"
            class="nf nf-fa-chevron_down"/>
    </li>
  </ul>
  <bbn-floater v-if="ready && filteredData?.[overIdx] && filteredData[overIdx].data[children]"
               class="bbn-menu-floater"
               ref="floater"
               :min-width="getRef('li' + overIdx).clientWidth"
               :children="children"
               :auto-hide="true"
               :element="getRef('li' + overIdx)"
               :focused="false"
               :source="filteredData[overIdx].data[children]"
               @close="overIdx = -1"
               @select="select"/>
</div>