.bbn-menu{
  > ul{
    height: 100%;
    zoom: 1;
    display: table;
    cursor: default;
    > li.bbn-menu-item {
      height: 100%;
      vertical-align: middle;
      display: table-cell;
      list-style: none;
      user-select: none;
      white-space: nowrap;
      margin: 0;
      padding: 0.3rem 1rem;
      zoom: 1;
      line-height: normal;
      font-size: 100%;
      &:not(.bbn-disabled){
        cursor: pointer;
      }
      span.bbn-menu-icon{
        margin-right: 0.5rem;
      }
    }
    > li.bbn-reactive-block:focus:not(.bbn-disabled) {
      border-color: var(--default-border);
    }
    > li.bbn-menu-selected {
      border-color: var(--selected-border) !important;
    }
  }
}
