<form :action="action"
      :method="method"
      :autocomplete="autocomplete"
      :class="currentClass"
      :style="currentStyle"
      @submit.prevent
      @keydown.enter.prevent.stop="submit(false)"
      @keyup.esc="cancel">
  <div :class="{
         'bbn-flex-fill': !window && isInit && scrollable || !!fullSize,
         'bbn-w-100': scrollable,
         'bbn-flex-height': !scrollable && hasFooter,
         'bbn-overlay': scrollable && !!window,
       }">
    <component :is="scrollable ? 'bbn-scroll' : 'div'"
               :class="{'bbn-overlay': !!fullSize, 'bbn-form-container': true}"
               :axis="scrollable ? 'y' : null"
               ref="container">
      <fieldset class="bbn-form-fieldset bbn-no-border bbn-no-radius bbn-no-margin bbn-no-padding"
                :disabled="disabled">
        <div class="bbn-grid-fields bbn-padded"
            v-if="schema && schema.length">
          <template v-for="field in currentSchema"
                    v-if="field.field && !field.buttons && (field.editable !== false)">
            <component v-if="field.lineComponent"
                      :is="field.lineComponent"
                      :source="source"/>
            <template v-else>
              <label v-html="field.title"
                    :for="field.id"
                    :title="field.ftitle || field.title || field.field"/>
              <component v-if="field.editor"
                        :is="field.editor"
                        v-bind="field.options"
                        v-model="source[field.field]"/>
              <bbn-field v-else
                        mode="write"
                        v-bind="field"
                        v-model="source[field.field]"/>
            </template>
          </template>
        </div>
        <slot></slot>
      </fieldset>
      <!-- SMALL BUTTONS OUTSIDE WINDOW -->
      <div v-if="!hasFooter && !window && realButtons.length && ['small', 'normal'].includes(currentMode)"
          class="bbn-form-buttons bbn-middle bbn-vpadding">
        <bbn-button v-for="(button, i) in realButtons"
                    :key="i"
                    class="bbn-hsmargin"
                    v-bind="button"/>
      </div>
      <!-- DEFAULT BUTTONS OUTSIDE WINDOW -->
      <div v-else-if="!hasFooter && !window && realButtons.length && (currentMode !== 'big')"
           class="bbn-form-buttons bbn-vlpadding bbn-c bbn-button-group bbn-grid"
           :style="'grid-template-columns: repeat(' + realButtons.length + ', 1fr);'">
        <bbn-button v-for="(button, i) in realButtons"
                    :key="i"
                    :class="{'bbn-primary': button.preset === 'submit', 'bbn-spadded': true}"
                    v-bind="button"/>
      </div>
      <!-- SMALL BUTTONS IN WINDOW -->
      <div v-else-if="!hasFooter && realButtons.length && ['small', 'normal'].includes(currentMode)"
          class="bbn-form-buttons bbn-w-100 bbn-vpadding bbn-c">
        <bbn-button v-for="(button, i) in realButtons"
                    :class="{'bbn-primary': button.preset === 'submit'}"
                    :key="i"
                    class="bbn-hxspadded"
                    v-bind="button"/>
      </div>
      <!-- DEFAULT BUTTONS IN WINDOW -->
      <div v-else-if="!hasFooter && realButtons.length && (currentMode !== 'big')"
           class="bbn-form-buttons bbn-vpadding bbn-c bbn-button-group bbn-grid"
           :style="'grid-template-columns: repeat(' + realButtons.length + ', 1fr)'">
        <bbn-button v-for="(button, i) in realButtons"
                    :class="{'bbn-primary': button.preset === 'submit'}"
                    :key="i"
                    :style="{width: '10em'}"
                    v-bind="button"/>
      </div>
    </component>
  </div>
  <div v-if="hasFooter && !popup"
       class="bbn-form-footer bbn-header">
    <slot name="footer"/>
  </div>

  <!-- BIG BUTTONS IN WINDOW -->
  <div v-else-if="!window && realButtons.length && (currentMode === 'big')"
       class="bbn-form-footer bbn-popup-footer bbn-button-group bbn-flex-width bbn-lg">
    <bbn-button v-for="(button, i) in realButtons"
                :class="[{'bbn-primary': button.preset === 'submit'}, button.cls || '']"
                :key="i"
                v-bind="button"/>
  </div>
  <div class="bbn-overlay bbn-modal"
       style="background-color: transparent;"
       v-if="isLoading"/>
</form>
