
.bbn-form {
  margin-block-end: 0;
  .bbn-form-footer{
    clear: both;
    text-align: right;
    position: relative;
    bottom: 0;
    .bbn-button{
      //important for safari
      //margin: 0;
      border-radius: 0px;
    }
  }
  .bbn-form-footer.bbn-button-group{
    min-height: 3em;
  }
  &.bbn-flex-height .bbn-form-footer.bbn-button-group{
    font-size: 200%;
  }
}
