
.bbn-form {
  margin-block-end: 0;
  .bbn-form-footer{
    clear: both;
    position: relative;
    .bbn-button{
      border-radius: 0px;
    }
  }
  .bbn-form-footer.bbn-button-group{
    min-height: 3em;
  }
  &.bbn-flex-height .bbn-form-footer.bbn-button-group{
    font-size: 200%;
  }
  .bbn-grid-fields {
    > label, > .bbn-label{
      min-height: 1.8em;
    }
  }
  .bbn-form-fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    min-inline-size: unset;
    height: 100%;
  }
}
