<form :action="action"
      :disabled="disabled"
      :method="method"
      :autocomplete="autocomplete"
      :class="currentClass"
      @submit.prevent="submit"
      @keydown.enter.prevent.stop="submit()"
>
  <div v-if="fixedFooter"
       :class="['bbn-w-100', {'bbn-flex-fill': scrollable}]"
  >
    <bbn-scroll v-if="scrollable">
      <div class="bbn-grid-fields bbn-padded" v-if="schema && schema.length">
        <template v-for="field in currentSchema"
                  v-if="field.field && !field.buttons && (field.editable !== false)"
        >
          <component v-if="field.lineComponent"
                     :is="field.lineComponent"
                     :source="source"
          ></component>
          <template v-else>
            <label v-html="field.title"
                   :for="field.id"
                   :title="field.ftitle || field.title || field.field"></label>
            <component v-if="field.editor"
                       :is="field.editor"
                       v-bind="field.options"
                       v-model="source[field.field]"
            ></component>
            <bbn-field v-else
                       mode="write"
                       v-model="source[field.field]"
                       v-bind="field"
            ></bbn-field>
          </template>

        </template>
      </div>
      <slot></slot>
    </bbn-scroll>
    <template v-else>
      <div class="bbn-grid-fields bbn-padded" v-if="schema && schema.length">
        <template v-for="field in currentSchema"
                  v-if="field.field && !field.buttons && (field.editable !== false)"
        >
          <component v-if="field.lineComponent"
                     :is="field.lineComponent"
                     :source="source"
          ></component>
          <template v-else>
            <label v-html="field.title"
                   :for="field.id"
                   :title="field.ftitle || field.title || field.field"></label>
            <component v-if="field.editor"
                       :is="field.editor"
                       v-bind="field.options"
                       v-model="source[field.field]"
            ></component>
            <bbn-field v-else
                       mode="write"
                       v-model="source[field.field]"
                       v-bind="field"
            ></bbn-field>
          </template>

        </template>
      </div>
      <slot></slot>
    </template>
  </div>
  <slot v-else></slot>
  <div v-if="hasFooter"
       class="footer k-header">
    <slot name="footer"></slot>
  </div>
  <div v-else-if="realButtons.length"
       class="footer bbn-popup-footer k-button-group k-dialog-buttongroup k-dialog-button-layout-stretched bbn-flex-width bbn-lg">
    <template v-for="(button, i) in realButtons">
      <bbn-button v-if="button.command === 'reset'"
                  :disabled="!modified && !prefilled"
                  :key="i"
                  class="bbn-flex-fill"
                  v-bind="button"
                  @click="reset()"
      ></bbn-button>
      <bbn-button v-else-if="button.command === 'cancel'"
                  :key="i"
                  v-bind="button"
                  class="bbn-flex-fill"
                  @click="cancel()"
      ></bbn-button>
      <bbn-button v-else-if="button.command === 'submit'"
                  :key="i"
                  v-bind="button"
                  :class="['bbn-flex-fill', {'k-primary': modified || prefilled}]"
                  :disabled="(!modified && !prefilled) || isLoading"
                  @click="(modified && !prefilled) || prefilled ? submit(false) : false"
                  glowing="green"
      ></bbn-button>
      <bbn-button v-else
                  :key="i"
                  v-bind="button"
                  class="bbn-flex-fill"
                  @click="_execCommand(button, $event)"
                  :disabled="button.checkDisabled && !modified && !prefilled"
      ></bbn-button>
    </template>
  </div>
</form>