<div :class="[componentClass, 'bbn-w-100', 'bbn-textbox']"
     tabindex="0"
     @keydown.stop="keydown($event)"
     style="min-height: 6.5em">
  <input type="hidden"
         ref="element"
         v-model="value"
         :disabled="disabled"
         :required="required"
         :readonly="readonly"
  >
  <div class="bbn-overlay bbn-radius">
    <bbn-scroll ref="scroll">
      <bbn-list :source="source"
                :selection="true"
                class="bbn-reset"
                :uid="sourceValue"
                ref="list"
                :selected="value"
                :component="realComponent"
                :source-text="sourceText"
                :source-value="sourceValue"
                @select="select">
      </bbn-list>
    </bbn-scroll>
  </div>
</div>