<div :class="[componentClass, 'bbn-w-100', 'bbn-textbox']"
     tabindex="0"
     @keydown.stop="keydown($event)"
     style="min-height: 6.5rem">
  <input type="hidden"
         ref="element"
         v-model="value"
         :disabled="isDisabled"
         :required="required"
         :readonly="readonly"
  >
  <bbn-scroll ref="scroll">
    <bbn-list :source="source"
              :selection="true"
              class="bbn-reset"
              ref="list"
              :selected="value"
              :component="realComponent"
              :source-text="sourceText"
              :source-value="sourceValue"
              @select="select">
    </bbn-list>
  </bbn-scroll>
</div>