.bbn-fisheye {
  text-align: center;
  position: relative;
  overflow-y: visible;
  transition: opacity 0.3s;
  .bbn-fisheye-floater-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
    justify-items: center;
    span {
      width: 6rem;
      i {
        min-width: 1.4rem;
        min-height: 1.4rem;
      }
    }
    .bbn-fisheye-floater-icon {
      backface-visibility: hidden;
      font-size: 3rem;
    }
  }
  .bbn-fisheye-dots {
    font-size: 2rem;
  }
  a{
    color: inherit;
  }
  ul{
    display: inline-flex;
    align-items: center;
    list-style: none;
    margin: 0;
    overflow: visible;
    white-space: nowrap;
    line-height: 100%;
    vertical-align: middle;
    box-sizing: border-box;
    height: 100%;
    li{
      vertical-align: middle;
      display: inline-block;
      backface-visibility: hidden;
      transition: all 0.2s ease-in-out;
      transform: translateZ(0);
      padding: 0.5rem;
      box-sizing: border-box;
      i{
        backface-visibility: hidden;
        font-size: 2rem;
        display: inline-block;
        transition: all 0.2s ease-in-out;
        transform: translateZ(0);
        &:hover{
          transform: scale(1.5);
        }
        .bbn-screen-small & {
          transform: none;
        }
      }
      &:hover{
        transform: scale(1.4);
      }
      .bbn-screen-small & {
        transform: none;
      }
    }
  }
  .bbn-fisheye-text{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 150%;
    white-space: nowrap;
    color: #FFF;
    font-size: 3rem;
    text-shadow: 0 0 0.3rem #000;
  }
  .bbn-fisheye-bin{
    position: absolute;
    width: 100%;
    text-align: center;
    //top: 15rem;
    text-shadow: 0 0 0.8rem #000;
    white-space: nowrap;
    color: #FFF;
    z-index: 200;
    span{
      display: inline-block;
      min-width: 8rem;
      min-height: 8rem;
    }
    i {
      font-size: 8rem;
    }
  }
  #bbn-draggable-current {
    li {
      transform: scale(1.4);
      i {
        transform: scale(1.5);
        .bbn-screen-small & {
          transform: none;
        }
      }
      .bbn-screen-small & {
        transform: none;
      }
    }
  }
}
