<div :class="componentClass"
     v-on="isRoot ? {keydown: keyNav} : {}"
>
  <div class="loader"
       v-if="hierarchy.loading"
  >
    Loading...
  </div>
  <component v-else-if="isLoaded"
             :is="isRoot ? 'bbn-scroll' : 'div'"
             ref="scroll"
  >
    <transition name="bbn-list-toggle">
      <ul class="bbn-list-node"
          v-show="items && items.length"
          :class="{
            'bbn-w-100': true,
            'bbn-list-child': !!level,
             root: isRoot,
          }"
      >
        <li v-for="(item, i) in items"
            :key="i"
            v-show="isMatch(item) || getNumMatches(item)"
            @click.stop="toggleExpanded(i)"
            @mouseenter="over = i"
            @mouseleave="over = false"
            :class="{
              'bbn-list-node': true,
              'bbn-w-100': true,
              'bbn-unselectable': true,
              'selected': selected === i,
              'k-widget': styled && isRoot,
              'bbn-content': true,
              'k-state-hover': over === i
            }"
        >
          <div :class="{
                 'bbn-w-100': true,
                 'k-state-default': styled,
                 'k-state-active': styled && (active === i),
                 'k-state-selected': styled && (selected === i),
                 'class-selected': styled && (selected === i),

                }"
               @mouseover.stop="activate(i, item, $event.target)"
               @mouseout.stop="active = null">
            <div :class="'bbn-w-100 node' + (component ? '' : ' no-component') + (item.cls ? ' ' + item.cls : '')">
              <div class="bbn-flex-width">
                <div class="expander bbn-block" v-if="item.items">
                  <!-- If there are no children we leave the white space -->
                  <span v-if="!item.items || (level < minExpandLevel) || !hierarchy.arrowIcons"> </span>
                  <i v-else-if="(item.items || item.num) && isExpanded(i) && hierarchy.arrowIcons"
                     class="fas fa-caret-down"
                     @click.stop="removeExpanded(i)"
                  ></i>
                  <i v-else-if="(item.items || item.num) && !isExpanded(i) && hierarchy.arrowIcons"
                     class="fa fa-caret-right"
                     @click="addExpanded(i)"
                  ></i>
                </div>
                <div class="bbn-flex-fill"
                     @click.stop="item.items ? toggleExpanded(i) : select(item, i)">
                  <component v-if="component"
                             :is="component"
                             :source="item"
                  ></component>
                  <slot v-else
                        name="item"
                        v-bind="item"
                  >
                    <div :class="[cls,{
                           'bbn-iblock': true,
                           'bbn-padded': isRoot,
                           'bbn-spadded': !isRoot,
                           'bbn-large': isRoot && !cls,
                         }]"
                    >
                      <span v-text="item.text ? item.text : '?'"></span>
                      <i :class="item.icon"
                         style="margin-top: 1px"
                      ></i>
                    </div>
                  </slot>
                </div>
              </div>
            </div>
          </div>
          <bbn-list v-if="isExpanded(i) && item.items && item.items.length"
                    :node-idx="i"
                    ref="hierarchy"
                    :num="item.items ? item.items.length : null "
                    :source="item.items ? item.items : []"
                    :level="level + 1"
                    :arrowIcons="false"
          >
          </bbn-list>
        </li>
      </ul>
    </transition>
    <!--<div class="bbn-list-helper-container"
         v-if="draggable && isRoot"
         ref="helperContainer">
      <ul class="bbn-list-helper"
          ref="helper"
          v-show="!!hierarchy.realDragging"
      ></ul>
    </div>-->
  </component>
  <h2 v-else-if="isRoot"
      v-html="_('No items') + '...'"
  ></h2>
</div>
