<div :class="componentClass" v-on="isRoot ? {keydown: keyNav} : {}">
  <div class="loader" v-if="hierarchy.loading">
    Loading...
  </div>
  <component v-else-if="isLoaded" :is="isRoot ? 'bbn-scroll' : 'div'" ref="scroll">
    <transition name="bbn-list-toggle">
      <ul class="bbn-list-node" v-show="items && items.length" :class="{
            'bbn-w-100': true,
            'bbn-list-child': !!level,
             root: isRoot,
          }">
        <li v-for="(item, i) in items"
           :key="i"
           v-show="isMatch(item) || getNumMatches(item)" 
           click.stop="toggleExpanded(i)"
           @mouseover.stop="over = item"
           @mouseout.stop="over = false"
           :class="{
             'bbn-list-node': true,
             'bbn-w-100': true,
             'bbn-unselectable': true,
             'selected': selected === i,
             'v-padding': !component,
             'bbn-state-hover': isSame(hierarchy.overNode, item) && (hierarchy.selectedNode.text !== item.text),
             'bbn-state-selected': (selected === i) && isSame(hierarchy.selectedNode, item),
           }">
          <component :is="item.url ? 'a' : 'div'"
                     :href="item.url || null"
                     :class="{
                       'bbn-w-100': true,
                       'bbn-state-default': styled,
                     }">
            <div :class="'bbn-w-100 node' + (component ? '' : ' no-component') + (item.cls ? ' ' + item.cls : '')">
              <div class="bbn-flex-width">
                <div class="expander bbn-block"
                     v-if="item.items">
                  <!-- If there are no children we leave the white space -->
                  <span v-if="!item.items || (level < minExpandLevel) || !hierarchy.arrowIcons"> </span>
                  <i v-else-if="(item.items || item.num) && isExpanded(i) && hierarchy.arrowIcons"
                     :class="['padding-left ', hierarchy.expandedIcon]"
                     @click.stop="removeExpanded(i)"></i>
                  <i v-else-if="(item.items || item.num) && !isExpanded(i) && hierarchy.arrowIcons"
                     :class="['padding-left ', hierarchy.closedIcon]"
                    @click="addExpanded(i)"></i>
                </div>
                <div class="bbn-flex-fill"
                     @click="item.items ? toggleExpanded(i) : select(item, i)">
                  <component v-if="component"
                             :is="component"
                             :source="item">
                  </component>
                  <slot v-else name="item"
                        v-bind="item">
                    <div :class="[cls,{
                           'bbn-iblock': true,
                           'bbn-medium': isRoot && !cls,
                         }]">
                      <span v-text="item.text ? item.text : '?'"
                            class="padding"></span>
                      <i :class="item.icon"
                         style="margin-top: 1px"
                         v-if="item.icon"
                      ></i>
                      
                    </div>
                  </slot>
                </div>
              </div>
            </div>
          </component>
          <bbn-list v-if="isExpanded(i) && item.items && item.items.length"
                    :node-idx="i"
                    ref="hierarchy"
                    :num="item.items ? item.items.length : null"
                    :source="item.items ? item.items : []"
                    :level="level + 1"
                    :arrowIcons="false">
          </bbn-list>
        </li>
      </ul>
    </transition>
    <!--<div class="bbn-list-helper-container"
         v-if="draggable && isRoot"
         ref="helperContainer">
      <ul class="bbn-list-helper"
          ref="helper"
          v-show="!!hierarchy.realDragging"
      ></ul>
    </div>-->
  </component>
  <h2 v-else-if="isRoot" v-html="_('No items') + '...'"></h2>
</div>
