<div :class="[componentClass, 'bbn-grid', 'bbn-h-100', 'bbn-padded']">
  <div v-for="(col, idx) in filteredData"
       :class="[
         'bbn-collapsable-columns-column',
         'bbn-flex-height',
         'bbn-radius',
         'bbn-background',
         {
           'collapsed': !col.opened
         }
       ]"
       :key="idx"
       :style="{backgroundColor: !!col.data[sourceBackgroundColor] ? col.data[sourceBackgroundColor] + '!important' : ''}">
    <div :class="['bbn-spadded', , 'bbn-vmiddle', 'bbn-unselectable', {
            'bbn-flex-width': !!col.opened,
            'bbn-flex-height': !col.opened
          }]">
      <bbn-button v-if="!col.opened"
                  class="bbn-no-border"
                  :notext="true"
                  :text="_('Expand')"
                  icon="nf nf-mdi-arrow_expand"
                  @click="expand(col)"
                  style="height: auto; width: 100%; aspect-ratio: 1"/>
      <div :class="['bbn-upper', 'bbn-b', 'bbn-tertiary-text-alt', 'bbn-unselectable', 'bbn-m', {
              'bbn-left-space': !!col.opened,
              'bbn-top-space': !col.opened,
              'bbn-right-lspace': !!col.opened,
              'bbn-bottom-lspace': !col.opened,
              'verticaltext': !col.opened
            }]"
            v-text="col.data.title"
            :style="{color: !!col.data[sourceFontColor] ? col.data[sourceFontColor] + '!important' : ''}"/>
      <div class="bbn-alt-background bbn-vmiddle bbn-xspadded bbn-radius bbn-flex-fill"
            :style="{
              'min-height': '2rem',
              'justify-content': 'flex-end',
              'align-items': !col.opened ? 'flex-end': ''
            }">
        <component v-if="toolbar || !!col.data[sourceToolbar]"
                   :is="!!col.data[sourceToolbar] ? col.data[sourceToolbar] : toolbar"
                   :source="col"
                   :index="idx"/>
      </div>
      <bbn-button v-if="!!col.opened"
                  class="bbn-no-border bbn-left-space"
                  :notext="true"
                  :text="_('Collapse')"
                  icon="nf nf-mdi-arrow_collapse"
                  @click="collapse(col)"
                  style="height: 100%; width: auto; aspect-ratio: 1"/>
    </div>
    <div v-if="!!col.opened"
          class="bbn-flex-fill bbn-padded">
      <div class="bbn-100">
        <bbn-scroll axis="y">
          <div v-if="col.data[children]"
               v-for="(item, itemIdx) in col.data[children]"
                 :class="[
                   'bbn-collapsable-columns-item',
                   'bbn-radius',
                   'bbn-alt-background',
                   'bbn-spadded',
                   {
                     'bbn-bottom-space': !!col.data[children][itemIdx+1]
                   }
                 ]">
            <component :is="!!item[sourceComponent] ? item[sourceComponent] : (!!col.data[sourceComponent] ? col.data[sourceComponent] : realComponent)"
                       :source="item"
                       :index="itemIdx"/>
          </div>
        </bbn-scroll>
      </div>
    </div>
  </div>
</div>