<div :class="[componentClass, {'bbn-overlay': !!scrollable}]">
  <component :is="scrollable ? 'bbn-scroll' : 'div'"
             axis="x"
             ref="scroll">
    <div :class="['bbn-collapsable-columns-container', 'bbn-grid', 'bbn-padded', {'bbn-h-100': !!scrollable}]"
         :style="{'grid-auto-rows': !!scrollable ? '100%': ''}">
      <bbn-column-list  v-for="(col, idx) in filteredData"
                        :source="col.data[children]"
                        :data="data"
                        :children="children"
                        :index="col.index"
                        :key="!!uid && col.data[uid] ? col.data[uid] : col.key"
                        :pageable="pageable"
                        :filterable="childrenFilterable"
                        :filters="typeof childrenFilters === 'function' ? childrenFilters(col.data, data, idx) : childrenFilters"
                        :sortable="childrenSortable"
                        :order="childrenOrder"
                        :limit="childrenLimit"
                        :collapsable="true"
                        :auto-collapse="collapseEmpty"
                        :width="columnWidth"
                        :scrollable="scrollable"
                        :background-color="col.data[sourceBackgroundColor]"
                        :font-color="col.data[sourceFontColor]"
                        :title="col.data.title"
                        :toolbar="!!col.data[sourceToolbar] ? col.data[sourceToolbar] : toolbar"
                        :toolbar-source="col.data"
                        :component="!!col.data[sourceComponent] ? col.data[sourceComponent] : realComponent"
                        :component-options="!!col.data[sourceComponentOptions] ? col.data[sourceComponentOptions] : componentOptions"
                        @beforemount="c => columns.push(c)"
                        @beforedestroy="removeColumn"
                        @expanded="c => $emit('expanded', c)"
                        @collapse="c => $emit('collapsed', c)"
                        :uid="uid"
                        :start-hidden="true"/>
    </div>
  </component>
</div>