bbn-tabs {
  border: 0 !important;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  zoom: 1;
  &:not(.bbn-tabs-vertical) {
    width: 100%;
  }
  .bbn-tabs-ul-container{
    width: 100%;
    height: auto;
    //height: 100%;
    //height: 2.4rem;
  }
  &.bbn-tabs-scrollable{
    .bbn-tabs-container .bbn-tabs-ul-container {
      padding: 0 !important;
      height: 2.4rem;
      ul.bbn-tabs-tabs:first-child{
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  > .bbn-tabs-container{
    width:100%;
    ul.bbn-tabs-tabs:first-child{
      height: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      border-top-width: 0px;
      border-left-width: 0px;
      border-right-width: 0px;
      > li {
        height: 2.4rem;
        list-style-type: none;
        text-decoration: none;
        margin: 0;
        vertical-align: middle;
        position: relative;
        &.top {
          border-bottom: 0;
        }
        &.bottom {
          border-top: 0;
        }
        i:focus, span:focus{
          animation: bbn-anim-blinker 1s linear infinite;
        }
        .bbn-tabs-badge-container{
          position: absolute;
          top: 0;
          left: 1px;
          bottom: 0px;
        }
        .bbn-tabs-tab-loader {
          display: inline-block;
          width: 12px;
          height: 12px;
          position: absolute;
          top: 0.4rem;
          left: 2px;
        }
        .bbn-tabs-tab-loader:after {
          content: " ";
          display: block;
          width: 8px;
          height: 8px;
          margin: 1px;
          border-radius: 50%;
          border-style: solid;
          border-width: 2px;
          border-right-color: transparent !important;
          border-left-color: transparent !important;
          animation: bbn-tabs-tab-loader 1.2s linear infinite;
        }
        .bbn-tabs-tab{
          cursor: pointer;
          color: inherit;
          padding: 0.3rem 1.15rem 0.5rem 1.15rem;
          vertical-align: middle;
          > .bbn-router-tab-text{
            font-size: 1.1rem;
          }
          > .bbn-tabs-main-icon {
            line-height: 100%;
          }
          &::after, &::before {
            font-family: monospace;
            content: " ";
            white-space: pre;
          }
          &.bbn-tabs-dirty::after {
            content: "*";
          }
        }
        .bbn-tabs-icon{
          position: absolute;
          right: 0px;
          top: 0px;
          bottom: 0px;
          > i{
            display: block;
            position: absolute;
            right: 0px;
            padding: 2px;
            padding-right: 2px;
            font-size: 1rem;
            cursor: pointer;
            margin: 0;
            &.bbn-router-tab-close{
              top: 0px;
            }
            &.bbn-router-tab-menu{
              bottom: -2px;
            }
          }
        }
        .bbn-tabs-selected {
          display: none;
          position: absolute;
          bottom: 1px;
          left: 1.15rem;
          right: 1.15rem;
          height: 3px;
        }
        &.bbn-tabs-static .bbn-tabs-icons i.bbn-router-tab-close {
          display: none
        }
        &.bbn-tabs-active {
          .bbn-tabs-icons i.bbn-router-tab-menu {
            display: block
          }
          .bbn-tabs-selected {
            display: block;
          }
        }
      }
    }
    > .bbn-loader {
      align-items: center;
      justify-content: center;
      opacity: 0.5;
      background-color: black;
      color: white;
      div.loader-animation {
        margin-top: 2rem;
        h1 {
          font-size: 3.5rem !important;
          text-align: center;
          margin-top: 1rem;
          color: white;
        }
        .sk-cube-grid {
          width: 120px;
          height: 120px;
          margin: auto;
          .sk-cube {
            width: 33%;
            height: 33%;
            float: left;
            background-color: white;
            -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            &.sk-cube1 {
              -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
            }
            &.sk-cube2 {
              -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
            }
            &.sk-cube3 {
              -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s;
            }
            &.sk-cube4 {
              -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s;
            }
            &.sk-cube5 {
              -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
            }
            &.sk-cube6 {
              -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
            }
            &.sk-cube7 {
              -webkit-animation-delay: 0s;
              animation-delay: 0s;
            }
            &.sk-cube8 {
              -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s;
            }
            &.sk-cube9 {
              -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
            }
          }
        }
      }
    }
    .bbn-tabs-button{
      //position: absolute;
      width: 2.5rem;
      height: 2.4rem;
      //top: 0px;
      &.bbn-tabs-button-prev{
        //left: 0px;
      }
      &.bbn-tabs-button-next{
        //right: 0px;
      }
    }
    > span.bbn-button{
      top: 0.4rem;
      position: absolute;
    }
  }
  &.bbn-tabs-vertical {
    height: 100%;
    .bbn-tabs-ul-container{
      width: auto;
      height: 100%;
    }
    > .bbn-tabs-container{
      height: 100%;
      ul.bbn-tabs-tabs:first-child{
        > li {
          &.right {
            border-left: 0;
          }
          &.left {
            border-right: 0;
          }
        }
      }
    }
  }
  .bbn-tabs{
    margin-top: 0.5rem;
    height: calc(100% - 0.5rem);
    .bbn-tabs {
      margin-top: 0!important;
    }
  }
  
  .bbn-pane .bbn-tabs{
    margin-top: 0;
  }
  .bbn-pane .bbn-tabs .bbn-tabs{
    margin-top: 0.5rem;
  }
}
@keyframes bbn-tabs-tab-loader{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
