<div :class="[componentClass, 'bbn-iblock', 'bbn-textbox', {'bbn-disabled': !!disabled}]">
  <div class="bbn-flex-width bbn-h-100">
    <div class="bbn-flex-fill">
      <input tabindex="0"
             autocomplete="off"
             v-model="currentValue"
             :name="name"
             ref="element"
             :disabled="disabled"
             :readonly="readonly"
             :required="required"
             @blur="_blur"
             @keydown="_keydown"
             @keyup="keyup"
             @mouseenter="over"
             @mouseleave="out"
             @change="change"
             v-show="editMode"
      >
      <input autocomplete="off"
             :value="inputValue"
             :name="name"
             tabindex="0"
             :disabled="disabled"
             :readonly="readonly"
             :required="required"
             @focus="_focus"
             @mouseenter="over"
             @mouseleave="out"
             v-show="!editMode"
             ref="formatted"
      >
      <input type="hidden"
             :value="value"
      >
    </div>
    <div :class="['bbn-h-100', 'bbn-numeric-buttons', {'bbn-disabled' : !!readonly}]">
      <div :class="['bbn-reactive-block', 'bbn-middle', {
             'bbn-disabled': disableIncrease,
             'bbn-p': disableIncrease,
             'bbn-numeric-no-pointer-events' : disableIncrease
           }]"
           @click="increment"
           unselectable="on"
           tabindex="-1"
           :disabled="value >= max"
      >
        <i class="nf nf-fa-caret_up"></i>
      </div>
      <div :class="['bbn-reactive-block', 'bbn-middle',{
             'bbn-disabled': disableDecrease,
             'bbn-p' :disableDecrease,
             'bbn-numeric-no-pointer-events' : disableDecrease
           }]"
           @click="decrement"
           unselectable="on"
           tabindex="-1"
      >
        <i class="nf nf-fa-caret_down"></i>
      </div>
    </div>
  </div>
</div>