.bbn-numeric{
  display: inline-block;
  min-width: 4em;
  box-sizing: border-box;
  .bbn-flex-width{
    border-radius: inherit;
    .bbn-flex-fill{
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .buttons{
      //display: grid;
      //grid-template-rows: 0.85em 0.85em;
      display: flex;
      flex-direction: column;
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      //height: 100%;

      .bbn-reactive-block:first-child{
        border-top-right-radius: inherit;
        border-bottom-right-radius: 0;
        border-right: 0px;
        border-top: 0px;
      }
      .bbn-reactive-block:nth-child(2){
        border-top-right-radius: 0;
        border-bottom-right-radius: inherit;
        border-right: 0px;
        border-bottom: 0px;
      }
      > div{
        width: 1.2em;
        max-height: 0.85em;
        i{
          max-height: inherit;
        }
      }
    }
  }
  .bbn-numeric-nospinners{
    padding-right: 0;
  }
  input{
    padding-right: 0.5em !important;
    text-align: right !important;
    font-size: inherit;
  }
  .opacity{
    opacity: 0.4;
  }
 
}