.bbn-numeric {
  display: inline-block;
  min-width: 4rem;
  box-sizing: border-box;
  .bbn-flex-width{
    border-radius: inherit;
    .bbn-flex-fill{
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .bbn-numeric-buttons{
      .bbn-numeric-no-pointer-events{
        pointer-events: none;
      }
      display: grid;
      grid-template-rows: 1fr 1fr;
      //display: flex;
      //flex-direction: column;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      //height: 100%;
      .bbn-reactive-block:first-child{
        border-bottom-right-radius: 0;
      }
      .bbn-reactive-block:nth-child(2){
        border-top-right-radius: 0;
      }
      > div{
        width: 1.2rem;
        //max-height: 0.85rem;
        i{
          max-height: .6rem;
        }
      }
    }
  }
  input{
    //important for safari
    //margin: 0;
    //padding-right: 0.5rem !important;
    text-align: right !important;
    font-size: inherit;
    height: 100%;
  }
}