.bbn-numeric{
  display: inline-block;
  min-width: 2em;
  .bbn-numeric-nospinners{
    padding-right: 0;
  }
  .k-numerictextbox{
    width: 100%;
  }
  input{
    padding-right: 5px !important;
    text-align: right !important;
  }
  .opacity{
    opacity: 0.4;
  }
}