.bbn-scrollbar{
  position: absolute;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  &.vertical{
    width: 0.6em;
    bottom: 0em;
    top: 0em;
    right: 0.2em;
    .bbn-scroll-slider{
      width: 100%;
      min-height: 20px;
    }
  }
  &.horizontal{
    height: 0.6em;
    left: 0em;
    right: 0em;
    bottom: 0.2em;
    .bbn-scroll-slider{
      height: 100%;
      min-width: 20px;
    }
  }
  .bbn-scroll-slider{
    opacity: 0.6;
    border-radius: 0.3em;
    position: absolute;
  }
}
