<div :class="[componentClass, 'bbn-background', 'bbn-border-box']"
     :style="currentStyle"
>
  <div :class="['bbn-overlay', $parent.currentOrientation === 'vertical' ? 'bbn-flex-height' : 'bbn-flex-width']">
    <div v-if="title"
         class="bbn-b bbn-c bbn-header"
         v-html="title"
    ></div>
    <div class="bbn-flex-fill">
      <div class="bbn-overlay">
        <bbn-scroll v-if="scrollable" v-show="!isCollapsed">
          <slot></slot>
        </bbn-scroll>
        <div v-else
             v-show="!isCollapsed"
             class="bbn-overlay"
             :style="{overflow: overflow}"
        >
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</div>