.bbn-splitter{
  display: grid;
  .bbn-pane{
    box-sizing: border-box !important;
    position: relative;
  }
  .bbn-splitter-bar{
    margin: 0;
    padding: 0;
    i{
      font-weight: bold;
    }
    &.vertical{
      i{
        padding: 0 1em;
      }
    }
    &.horizontal{
      i{
        padding: 1em 0;
      }
    }
    &.bbn-splitter-resizer.vertical {
      cursor: ns-resize;
    }
    &.bbn-splitter-resizer.horizontal {
      cursor: ew-resize;
    }
    .bbn-splitter-collapser{
      > div{
        float: left;
      }
    }
  }
}