<div :class="[componentClass, visual ? '' : 'bbn-overlay']"
     @subready.stop
     :style="visualStyle">
  <transition name="fade"
              v-on:enter="enter"
              v-on:after-enter="onResize">
    <div :class="{
      'bbn-overlay': !visual,
      'bbn-flex-height': visual,
      'bbn-w-100': visual
    }"
         v-show="visible || visual">
      <div v-if="visual && (!visible || ready)"
           :class="'bbn-b bbn-hpadded bbn-vspadded ' + (visible ? ' bbn-m' : '')"
           :style="{
             fontSize: visible ? null : '10em',
             backgroundColor: bcolor || '#666',
             color: fcolor || '#EEE'
           }">
        <span v-if="icon"
              class="bbn-right-sspace bbn-lg">
          <i :class="icon"/>
        </span>
        <span v-text="currentTitle"
              style="overflow: hidden"/>
      </div>
      <div :class="{
        'bbn-background': true,
        'bbn-overlay': !fullScreen && !visual,
        'bbn-flex-fill': !fullScreen && visual,
        'bbn-container-full-screen': fullScreen,
        'bbn-container-visible': visible
      }"
           ref="canvasSource">
        <component :is="scrollable ? 'bbn-scroll' : 'div'"
                  v-if="ready && isLoaded && (visible || cached || visual)"
                  v-show="visible || visual"
                  ref="scroll"
                  :axis="scrollable ? 'y' : null"
                  class="bbn-overlay">
          <!-- This is an ad hoc component with unique name -->
          <component v-if="isComponent"
                    :is="$options.components[componentName]"
                    :source="source"
                    ref="component"
          ></component>
          <!-- This is a classic component -->
          <component v-else-if="component"
                    :is="component"
                    :source="source"
                    ref="component"
                    v-bind="options"
          ></component>
          <!-- This is just HTML content -->
          <div v-else-if="content"
              v-html="content">
          </div>
          <!-- This is the slot -->
          <slot v-else></slot>
          <component is="style"
                    v-if="css"
                    scoped="scoped"
                    v-html="css"/>
          <bbn-loader v-if="hasLoader"/>
        </component>
        <span  v-if="fullScreen"
              class="bbn-container-full-screen-closer bbn-xl bbn-p">
          <i class="nf nf-fa-times_circle"
             @click="fullScreen = false"/>
        </span>
        <bbn-popup ref="popup"
                  :source="popups"
                  v-if="!hidden && ready && isLoaded && (visible || cached)"/>
      </div>
    </div>
  </transition>
  <div v-if="visual && !visible"
       class="bbn-overlay"
       style="z-index: 12; background-color: black; opacity: 0.2;">
  </div>
  <div v-if="visual && !visible"
       class="bbn-overlay"
       @click="show()"
       @mouseenter="isOver = true"
       @mouseleave="isOver = false"
       style="z-index: 12">
    <transition name="fade">
      <div class="bbn-bottom-left bbn-w-100 bbn-bg-black bbn-white"
           v-show="isOver"
           :style="{
               fontSize: visible ? null : '12em'
             }">
        <div class="bbn-w-50 bbn-p bbn-spadded"
             @click.stop="">
          <i class="nf nf-fa-bars"/>
        </div>
        <div class="bbn-w-50 bbn-right bbn-p bbn-spadded"
            @click.stop="close"
            v-if="!pinned && !static">
            <i class="nf nf-fa-times"/>
        </div>
        <div class="bbn-w-50 bbn-right bbn-p bbn-spadded"
            @click.stop="unpin"
            v-else-if="pinned">
            <i class="nf nf-oct-pin"/>
        </div>
      </div>
    </transition>
  </div>
</div>
