div.bbn-container {
  display: none;
  position: relative !important;
  &.bbns-tab-selected{
    display: block;
  }
  > .bbns-tab-fullscreen-closer{
    position: fixed;
    font-size: x-large;
    right: 5px;
    top: 5px;
  }
}
