<div :class="[componentClass]"
     v-show="visible">
  <transition name="fade"
              v-if="!hidden"
              v-on:enter="enter"
              v-on:after-enter="find('bbn-scroll') ? find('bbn-scroll').onResize() : (() => {})()"
  >
    <div v-if="ready && isLoaded && (visible || cached)"
         v-show="visible"
         :class="{
         'bbn-overlay': !fullScreen,
         'bbn-container-full-screen': fullScreen,
         'bbn-container-visible': visible
       }"
    >
      <!-- This is an ad hoc component with unique name -->
      <component v-if="isComponent"
                 :is="$options.components[componentName]"
                 :source="source"
                 ref="component"
      ></component>
      <!-- This is a classic component -->
      <component v-else-if="component"
                 :is="component"
                 :source="source"
                 ref="component"
                 v-bind="options"
      ></component>
      <!-- This is just HTML content -->
      <bbn-scroll v-else-if="scrollable && content">
        <div v-html="content"></div>
      </bbn-scroll>
      <div v-else-if="content"
           class="bbn-overlay">
        <div class="bbn-100"
             v-html="content"
        ></div>
      </div>
      <!-- This is the slot -->
      <slot v-else></slot>
      <component is="style" v-if="css" scoped="scoped" v-html="css"></component>
      <span  v-if="fullScreen"
             class="bbn-container-full-screen-closer bbn-xl bbn-p">
        <i class="nf nf-fa-times_circle"
           @click="fullScreen = false"></i>
      </span>
      <bbn-popup ref="popup"
                 :source="popups">
      </bbn-popup>
    </div>
  </transition>
</div>
