<span :class="['bbn-iblock', componentClass]">
  <input type="checkbox"
         :id="id"
         :name="name"
         :value="value"
         :required="required"
         :disabled="disabled"
         :checked="state"
         ref="element"
  >
  <span :class="['slider', 'bbn-primary', {round: !!radius}]"
        tabindex="0"
        :for="id"
        @focus="focus"
        @blur="blur"
        @keyup="keyup"
        @keydown.space="toggle"
        @click="toggle"
  >
    <span class="slider-button">
			<i :class="currentIcon"></i>
		</span>
  </span>
</span>
