<span :class="['bbn-iblock', componentClass]">
  <input type="checkbox"
         :id="id"
         :name="name"
         :value="value"
         :required="required"
         :disabled="isDisabled"
         :checked="state"
         ref="element"
  >
  <span :class="['bbn-switch-slider', 'bbn-primary', cls, {
          'bbn-switch-round': !!radius,
          'bbn-switch-squared': !!squared
        }]"
        tabindex="0"
        :for="id"
        @focus="focus"
        @blur="blur"
        @keyup="keyup"
        @keydown.space="toggle"
        @click="toggle"
  >
    <span :class="['bbn-switch-slider-button', 'bbn-middle', sliderCls]">
			<i :class="currentIcon"></i>
		</span>
  </span>
</span>
