<div :class="[componentClass, 'bbn-flex-height']">
  <div class="head bbn-header bbn-xxl bbn-c bbn-w-100 k-widget bbn-middle">
    <div class="bbn-xl arrow prev bbn-p k-widget bbn-middle"
         @click="prev">
      <i class="nf nf-fa-angle_left"></i>
    </div>
    <div class="bbn-xl arrow next bbn-p k-widget bbn-middle"
         @click="next">
      <i class="nf nf-fa-angle_right"></i>
    </div>
    <div class="date">
      {{monthName}}
      {{year}}
    </div>
  </div>
  <div class="days v bbn-flex-fill">
    <div class="day" v-for="day in days" :class="{'k-widget': true, 'outside': day.outsideOfCurrentMonth, 'empty': day.events.length === 0 }">
      <div class="bbn-header date bbn-c">
        {{day.weekday}} {{day.number}}
      </div>
      <div class="events">
        <div v-for="event in day.events" class="event" :class="[randomClass(), {'first': event.firstInRange, 'last': event.lastInRange }]">{{event.title}} </div>
      </div>
    </div>
  </div>
</div>
