@base: #555;
@primary: #222;
@accent: #B62B10;
.bbn-scheduler{
  > .head {
    height: 1.8em;
    .arrow{
      position: absolute;
      top: 0px;
      height: 100%;
      box-sizing: border-box;
      border-width: 3px;
      &.prev{
        left: 0px;
      }
      &.next{
        right: 0px;
      }
    }
    .date{
      line-height: 2rem;
    }
  }
  .days {
    & > .day.outside { display: none; }
    & > .day.empty { display: none; }
    .events {
      margin-bottom: 1rem;
      .event {
        box-sizing: border-box;
        line-height: 1;
        font-size: .75rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background: rgba(@accent,.05);;
        color: @accent;
        padding: .25rem .5rem;
        margin-bottom: 2px;

        cursor: pointer;
        transition: all .1s ease-in-out;
        &:hover, &:focus { background: rgba(@accent,.1); }
        &:active { color: white; background: rgba(@accent, 1); }

        //        &.first { border-left: 1px solid rgba(@accent, .5); }
        //        &.last { border-right: 1px solid rgba(@accent, .5); }
      }
    }
    .date {
      position: relative;
      font-size: 1.25rem;
      margin-bottom: 1rem;
      padding-bottom: .5rem;
      &:after {
        content: '';
        position: absolute;
        left: 0; right: 0; bottom: 0;
        height: 1px;
        background: currentColor;
        opacity: .5;
      }
      & > * { display: inline-block; }
      .weekday { font-weight: 400; color: @accent; text-transform: uppercase}

      .weekday:after, .day:after { content: ','}

    }
  }
}
@media (min-width : 1024px) {
  .bbn-scheduler {
    border-bottom: 2px solid @accent;
    .days {
      display: grid;
      grid-template-columns: repeat(7, auto);
      & > .day {
        font-size: .75rem;
        margin-bottom: 0;
        &:before {
          content: '';
          //position: absolute;
          //left: 0; right: .5rem; top: 0;
          height: 1px;
          background: currentColor;
          opacity: .5;
        }
        .date {
          //position: absolute;
          //top: 1rem;
          font-size: 1rem;
          line-height: 1rem;
          &:after { display: none; }
          .weekday, .month, .year { display: none; }
          .day:after { content: '' }
        }


        &.outside {
          display: inline-block;
          //background: rgba(0,0,0,.125);
          &:before { opacity: .125; }
          .date .day {
            opacity: .5
          }
        }
        &.empty {
          display: inline-block;
        }
        &:nth-child(n+1):nth-child(-n+7) {
          margin-top: 2rem;
          &:before {
            opacity: 1;
            height: 2px;
            background: @accent;
          }
          .date {
            width: 100%;
          }
          .date .weekday {
            //display: block;
            //position: absolute;
            //top: -3rem;
            //width: 100%;
            overflow: hidden;
            text-transform: uppercase;
            font-weight: 300;
            color: @accent;
            text-overflow: ellipsis;
            &:after { content: '' }
          }
        }



        .events {
          box-sizing: border-box;
          //position: absolute;
          height: 100%;
          width: 100%;
          padding-top: 2.5rem;
          //padding-right: .5rem;
          overflow: auto;
          .event {
            box-sizing: border-box;
            line-height: 1;
            font-size: .75rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background: rgba(@accent,.05);;
            color: @accent;
            padding: .25rem .5rem;
            margin-bottom: 2px;

            cursor: pointer;
            transition: all .1s ease-in-out;
            &:hover, &:focus { background: rgba(@accent,.1); }
            &:active { color: white; background: rgba(@accent, 1); }

            //            &.first { border-left: 1px solid rgba(@accent, .5); }
            //            &.last { border-right: 1px solid rgba(@accent, .5); }
          }
        }
      }

    }
  }
}