<div :class="[{'bbn-100': true}, componentClass]"
     @keydown.enter.stop=""
>
  <div class="bbn-100"
       ref="code"
       @focus="focus($event)"
       @blur="blur($event)"
       @keydown="keydown($event)"
       @keyup="keyup($event)"
       @mouseenter="over($event)"
       @mouseleave="out($event)"
       @scroll.passive="scroll($event)"
  ></div>
  <input ref="element"
         type="hidden"
         :value="value"
         :name="name"
         :disabled="disabled"
         :required="required"
  >
  <div class="bbn-bg-black bbn-p bbn-middle theme-button"
       v-if="themeButton"
       ref="theme_button"
  >
    <i class="nf nf-fa-bars" @click="nextTheme()"> </i>
  </div>
</div>