<div :class="[{'bbn-reset': true, 'bbn-overlay': isFullScreen}, componentClass]"
     @keydown.enter.stop=""
     @keydown.escape.stop="toggleFullScreen(false)"
>
  <div :class="fill ? 'bbn-code-filled' : ''" ref="code" @keydown.escape.stop="toggleFullScreen(false)"></div>
  <input ref="element"
        type="hidden"
        :value="value"
        :name="name"
        :disabled="disabled"
        :required="required"
  >
  <div class="bbn-bg-black bbn-p bbn-middle theme-button"
      v-if="themeButton"
      ref="theme_button"
  >
    <i class="nf nf-fa-bars" @click="nextTheme()"> </i>
  </div>
  <bbn-scrollbar v-if="fill && ready"
                orientation="vertical"
                ref="scrollbar"
                :container="$el.querySelector('.CodeMirror-scroll')">
  </bbn-scrollbar>
</div>
