<div :class="elementClass"
     :style="elementStyle"
>
  <div :class="{'bbn-scroll-container': true, 'bbn-overlay': isScrolling || (!isMeasuring && !scrollable), 'bbn-scroll-not-dragged': !isDragging}"
       ref="scrollContainer"
       @scroll="onScroll"
       @touchmove="touchmove"
       @focus="isFocused = true"
       @blur="isFocused = false"
       :tabindex="scrollable ? '0' : '-1'"
  >
    <div :class="{'bbn-scroll-content': true, resizing: isMeasuring, 'bbn-overlay': !scrollable, 'bbn-100': fullPage}"
         ref="scrollContent"
         @ready.stop="waitReady"
         :style="contentStyle"
    >
      <slot></slot>
    </div>
  </div>
  <bbn-scrollbar v-if="ready && hasScrollX"
                 :hidden="hiddenX"
                 orientation="horizontal"
                 ref="xScroller"
                 :color="barColor ? barColor : ''"
                 :scrollAlso="scrollAlso"
                 :initial="currentX"
                 @scroll="scrollHorizontal"
                 @reachLeft="$emit($event)"
                 @reachRight="$emit($event)"
  >
  </bbn-scrollbar>
  <bbn-scrollbar v-if="ready && hasScrollY"
                 :hidden="hiddenY"
                 orientation="vertical"
                 ref="yScroller"
                 :color="barColor ? barColor : ''"
                 :scrollAlso="scrollAlso"
                 :initial="currentY"
                 @scroll="scrollVertical"
                 @reachTop="$emit($event)"
                 @reachBottom="$emit($event)"
  >
  </bbn-scrollbar>
</div>