<div :class="elementClass"
     :style="elementStyle">
  <div :class="containerClass"
       ref="scrollContainer"
       @scroll="onScroll"
       @touchend="onTouchend"
       @touchstart="onTouchstart"
       @touchmove="onTouchmove"
       @focus="isFocused = true"
       @blur="isFocused = false"
       :tabindex="scrollable ? '0' : '-1'">
    <div :class="{
          'bbn-scroll-content': true,
          resizing: isMeasuring,
          'bbn-w-100': !scrollable
        }"
         ref="scrollContent"
         @subready.stop="waitReady"
         :style="contentStyle">
      <slot/>
    </div>
  </div>
  <bbn-scrollbar v-if="scrollReady && hasScrollX"
                 :hidden="isResizing || hiddenX"
                 orientation="horizontal"
                 ref="xScroller"
                 :color="barColor ? barColor : ''"
                 :scroll-also="scrollAlso"
                 :initial="currentX"
                 @scroll="scrollHorizontal"
                 :offset="offsetX"/>
  <bbn-scrollbar v-if="scrollReady && hasScrollY"
                 :hidden="isResizing || hiddenY"
                 orientation="vertical"
                 ref="yScroller"
                 :color="barColor ? barColor : ''"
                 :scroll-also="scrollAlso"
                 :initial="currentY"
                 @scroll="scrollVertical"
                 :offset="offsetY"/>
</div>
