<div :class="currentClass" :style="currentStyle">
  <div class="bbn-scroll-container"
       :style="{
         right: scrollPos,
         bottom: scrollPos,
         'padding-right': containerPadding,
         'padding-bottom': containerPadding
       }"
       ref="scrollContainer"
       @scroll.passive="onScroll"
  >
    <div class="bbn-scroll-content"
         ref="scrollContent"
         @mousemove="mousemove"
         @ready.stop="waitReady"
         :style="{
           width: (axis === 'both') || (axis === 'x') ? 'auto' : '100%',
           height: (axis === 'both') || (axis === 'y') ? 'auto' : '100%'
         }"
    >
      <slot></slot>
    </div>
  </div>
  <bbn-scrollbar v-if="(axis === 'both') || (axis === 'x')"
                 :hidden="hiddenX"
                 orientation="horizontal"
                 ref="xScroller"
                 :color="barColor ? barColor : ''"
                 :scrollAlso="scrollAlso"
                 :initial="currentX"
                 @scroll.passive="scrollHorizontal"
                 @reachLeft="$emit($event)"
                 @reachRight="$emit($event)"
  >
  </bbn-scrollbar>
  <bbn-scrollbar v-if="(axis === 'both') || (axis === 'y')"
                 :hidden="hiddenY"
                 orientation="vertical"
                 ref="yScroller"
                 :color="barColor ? barColor : ''"
                 :scrollAlso="scrollAlso"
                 :initial="currentY"
                 @scroll.passive="scrollVertical"
                 @reachTop="$emit($event)"
                 @reachBottom="$emit($event)"
  >
  </bbn-scrollbar>
</div>