<component :is="tag"
           :class="componentClass"
           tabindex="-1"
           @click.prevent="clickItem"
           @contextmenu.prevent.stop="clickItem"
           @keydown.space.enter.prevent.stop="clickItem"
           @mousedown.prevent.stop="() => {return false}"
>
  <span v-if="content" v-html="content"></span>
  <slot v-else></slot>
  <bbn-floater :element="$el"
               :source="filteredData"
               children="items"
               :auto-hide="true"
               v-if="showFloater"
               @close="showFloater = false">
  </bbn-floater>
</component>