<div :class="componentClass"
      tabindex="-1"
      @click="clickItem"
      @contextmenu="clickItem"
      @keydown.space.enter="clickItem"
      @mousedown="onMouseDown"
      @touchstart="touchstart"
      @touchmove="touchmove"
      @touchend="touchend">
  <slot></slot>
  <bbn-floater v-if="showFloater && !disabled"
               :element="attach || null"
               :source="filteredData"
               :class="'bbn-floater-context-' + bbnUid"
               ref="floater"
               :width="width"
               :height="height"
               :minWidth="minWidth"
               :minHeight="minHeight"
               :maxWidth="maxWidth"
               :maxHeight="maxHeight"
               :top="currentTop"
               :left="currentLeft"
               :right="currentRight"
               :bottom="currentBottom"
               children="items"
               :title="floaterTitle"
               :closable="!!floaterTitle"
               :content="content"
               :auto-hide="true"
               :mode="mode"
               @close="$emit('close'); showFloater = false;"
               @open="$emit('open')"
               :item-component="itemComponent"
               :position="position"/>
</div>