<component :is="tag"
           :class="componentClass"
           tabindex="-1"
           @click.prevent="clickItem"
           @contextmenu.prevent.stop="clickItem"
           @keydown.space.enter.prevent.stop="clickItem"
           @mousedown.prevent.stop="() => {return false}"
>
  <slot></slot>
  <bbn-floater :element="$el"
               :source="filteredData"
               children="items"
               :content="content"
               :auto-hide="true"
               :mode="mode"
               v-if="showFloater"
               @close="showFloater = false">
  </bbn-floater>
</component>