.bbn-json-editor{
  overflow: visible !important;
  > div {
    overflow: visible !important;
  }
  background-color: white;
  .editor-toolbar{
    a,a.active,a:hover{
      color: inherit !important;
    }
  }
  div.jsoneditor-tree div.jsoneditor-tree-inner{
    padding-bottom: 0!important;
  }  
}