<div :class="[{'bbn-widget': true, 'bbn-h-100': true}, componentClass]">
  <div class="bbn-flex-height">

    <div class="bbn-block bbn-w-100 bbn-vpadded bbn-c" v-if="menus && menus.length">
      <bbn-dropdown v-model="currentMenu"
                    :source="menus"
                    :storage="true"
                    storage-full-name="appui-menu-main-dropdown"
                    style="width: 80%"
                    ref="dropdown"
      ></bbn-dropdown>
    </div>
    <div class="bbn-block bbn-w-100 bbn-bottom-padded bbn-c" v-if="search">
      <!--bbn-search name="search" style="width: 80%" ref="search" :placeholder="placeholder"></bbn-search-->
      <bbn-input name="search"
                 v-model="searchExp"
                 style="width: 80%"
                 ref="search"
                 autocomplete="off"
                 :placeholder="placeholder"
      ></bbn-input>
    </div>
    <div class="bbn-w-100 bbn-flex-fill">
      <div class="bbn-overlay">
        <bbn-tree :source="source"
                  :hybrid="true"
                  :map="mapSrc"
                  :data="getData"
                  :autobind="false"
                  :opened="true"
                  ref="tree"
                  @load="resizeScroll"
                  :quick-filter="searchExp"
                  :excluded-section-filter="true"
                  @nodeClick="go"
                  :menu="getMenu"
                  @ready="readyTree"
        ></bbn-tree>
      </div>
    </div>
  </div>
</div>
