.bbn-treemenu{
  transition: all 0.5s;
  div.bbn-tree{
    clear: both;
    .bbn-treemenu-1{
      font-size: 1.2rem;
    }
    .bbn-treemenu-2{
      font-size: 1.1rem;
    }
    .bbn-treemenu-3{
      font-size: 1.05rem;
    }
    .bbn-treemenu-4{
      font-size: 1rem;
    }
    .bbn-treemenu-5{
      font-size: 0.95rem;
    }
    .bbn-treemenu-6{
      font-size: 0.9rem;
    }
    .bbn-treemenu-x{
      font-size: 0.85rem;
    }
  }
}
