.bbn-treemenu{
  transition: all 0.5s;
  div.bbn-tree{
    clear: both;
    .bbn-treemenu-1{
      font-size: 1.2em;
    }
    .bbn-treemenu-2{
      font-size: 1.1em;
    }
    .bbn-treemenu-3{
      font-size: 1.05em;
    }
    .bbn-treemenu-4{
      font-size: 1em;
    }
    .bbn-treemenu-5{
      font-size: 0.95em;
    }
    .bbn-treemenu-6{
      font-size: 0.9em;
    }
    .bbn-treemenu-x{
      font-size: 0.85em;
    }
  }
}
