.bbn-splashscreen {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  .bbn-splashscreen-main {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  &.bbn-splashscreen-swipe-left{
    .slide-leave-active, .slide-enter-active {
      transition: 0.2s;
    }
    .slide-enter {
      transform: translateX(100%);
    }
    .slide-leave-to {
      transform: translateX(-100%);
    }
  }
  &.bbn-splashscreen-swipe-right{
    .slide-leave-active, .slide-enter-active {
      transition: 0.2s;
    }
    .slide-enter {
      transform: translateX(-100%);
    }
    .slide-leave-to {
      transform: translateX(100%);
    }
  }
}