<div :class="[componentClass, currentSwipeClass, 'bbn-overlay']"
     @touchstart="touchstart"
     @touchmove="touchmove"
     @touchend="touchend">
  <div class="bbn-splashscreen-main">
    <template v-for="item in filteredData">
      <img v-if="item.data.image"
           :src="item.data.image"
           :class="{'bbn-hidden': item.index !== currentIndex}">
    </template>
  </div>
  <div class="bbn-splashscreen-container bbn-flex-height bbn-overlay">
    <component v-if="headerComponent"
              :is="headerComponent"
              class="bbn-splashscreen-header"/>
    <div v-else-if="header"
        v-html="header"
        class="bbn-splashscreen-header">
    </div>
    <component v-if="!!dots && (dotsPosition === 'outsideTop')"
              :is="$options.components.dots"
              :indexes="currentIndexes"
              v-model="currentIndex"/>
    <div class="bbn-flex-fill">
      <template v-for="item in filteredData">
        <transition name="slide">
          <div v-show="ready && (item.index === currentIndex)"
                class="bbn-splashscreen-slide bbn-overlay">
            <div class="bbn-flex-height bbn-overlay">
              <component v-if="item.data.headerComponent"
                        :is="item.data.headerComponent"
                        class="bbn-splashscreen-slide-header"
                        v-bind="item.data"/>
              <div v-else-if="item.data.header"
                  v-html="item.data.header"
                  class="bbn-splashscreen-slide-header">
              </div>
              <component v-if="!!dots && (dotsPosition === 'insideTop')"
                        :is="$options.components.dots"
                        :indexes="currentIndexes"
                        v-model="currentIndex"/>
              <div class="bbn-flex-fill">
                <div class="bbn-overlay bbn-flex-width">
                  <div v-if="arrows"
                      class="bbn-splashscreen-arrow-next bbn-vmiddle bbn-spadded">
                    <i v-if="showPrevArrow"
                      class="nf nf-fa-angle_left bbn-xxxl bbn-p bbn-primary-text"
                      @click="prev"/>
                  </div>
                  <div class="bbn-flex-fill bbn-splashscreen-slide-body">
                    <component v-if="item.data.bodyComponent"
                              :is="item.data.bodyComponent"
                              class="bbn-overlay"
                              v-bind="item.data"/>
                    <div v-else-if="item.data.body"
                              v-html="item.data.body"
                              class="bbn-overlay">
                    </div>
                  </div>
                  <div v-if="arrows"
                      class="bbn-splashscreen-arrow-next bbn-vmiddle bbn-spadded">
                    <i v-if="showNextArrow"
                      class="nf nf-fa-angle_right bbn-xxxl bbn-p bbn-primary-text"
                      @click="next"/>
                  </div>
                </div>
              </div>
              <component v-if="!!dots && (dotsPosition === 'insideBottom')"
                        :is="$options.components.dots"
                        :indexes="currentIndexes"
                        v-model="currentIndex"/>
              <component v-if="item.data.footerComponent"
                        :is="item.data.footerComponent"
                        class="bbn-splashscreen-slide-footer"
                        v-bind="item.data"/>
              <div v-else-if="item.data.footer"
                  v-html="item.data.footer"
                  class="bbn-splashscreen-slide-footer">
              </div>
            </div>
          </div>
        </transition>
      </template>
    </div>
    <component v-if="!!dots && (dotsPosition === 'outsideBottom')"
              :is="$options.components.dots"
              :indexes="currentIndexes"
              v-model="currentIndex"/>
    <component v-if="footerComponent"
              :is="footerComponent"
              class="bbn-splashscreen-footer"/>
    <div v-else-if="footer"
        v-html="footer"
        class="bbn-splashscreen-footer">
    </div>
  </div>
</div>