.bbn-popup{
  position: absolute !important;
  top: 0px;
  left: 0px;
  max-width: 100%;
  max-height: 100%;
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    opacity: 0.5;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0
  }
  .ui-resizable-handle {
    z-index: 4 !important;
  }
  > .bbn-floater{
    position: absolute !important;
    padding-top: 0px;
    /** Codemirror highest zIndex: 6 */
    .bbn-popup-title{
      .bbn-top-right{
        height: 100%;
        text-align: right;
        line-height: 100%;
        vertical-align: middle;
        > div{
          width: 1.8rem;
          float: left;
        }
      }
      .bbn-button{
        border: 0;
      }
      white-space: nowrap;
      h1,h2,h3,h4,h5,h6{
        margin: .2rem 5rem .2rem 1rem;
        /*cursor: move;*/
        overflow: hidden;
      }
      .bbn-popup-actions{
        position: absolute;
        right: 3px;
        top: 3px;
        i{
          cursor: pointer;
        }
      }
    }
  }
}
