.bbn-popup{
  position: absolute !important;
  top: 0px;
  left: 0px;
  max-width: 100%;
  .k-overlay{
    opacity: 0.5;
    position: absolute;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    opacity: 0.5;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
  }
  .ui-resizable-handle {
    z-index: auto !important;
  }
  .bbn-window{
    position: absolute;
    padding-top: 0px;
    /** Codemirror highest zIndex: 6 */
    .bbn-popup-title{
      /*
      height: 1.1em;
      */
      padding: .4em 0;
      white-space: nowrap;
      h1,h2,h3,h4,h5,h6{
        margin: 0 3em 0 1em;
        /*cursor: move;*/
        overflow: hidden;
      }
      .bbn-popup-actions{
        position: absolute;
        right: 3px;
        top: 3px;
        i{
          cursor: pointer;
        }
      }
    }
    .bbn-popup-footer{
      text-align: center;
      border-width: 1px 0 0;
      border-style: solid;
      padding: .6em;
    }
  }
}
