.bbn-popup{
  position: absolute !important;
  top: 0px;
  left: 0px;
  max-width: 100%;
  max-height: 100%;
  .k-overlay{
    opacity: 0.5;
    position: absolute;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    opacity: 0.5;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0
  }
  .ui-resizable-handle {
    z-index: 4 !important;
  }
  .bbn-window{
    position: absolute;
    padding-top: 0px;
    max-width: 100%;
    max-height: 100%;
    /** Codemirror highest zIndex: 6 */
    .bbn-popup-title{
      /*
      height: 1.1em;
      */
      padding: .4em 0;
      white-space: nowrap;
      h1,h2,h3,h4,h5,h6{
        margin: 0 5em 0 1em;
        /*cursor: move;*/
        overflow: hidden;
      }
      .bbn-popup-actions{
        position: absolute;
        right: 3px;
        top: 3px;
        i{
          cursor: pointer;
        }
      }
    }
  }
}
