<div :class="['bbn-overlay', componentClass]"
     v-show="showPopup"
     @subready.stop
     :style="{zIndex: zIndex}"
>
  <bbn-floater v-if="ready"
              v-for="(popup, i) in popups"
              :key="popup.uid"
              :ref="popup.uid"
              :index="popup.index"
              v-bind="popup"
              :container="$el"
              :style="{zIndex: zIndex+i}"
              @close="items.splice(popup.index, 1)"
  ></bbn-floater>
  <div class="bbn-modal bbn-overlay"
      tabindex="-1"
      :style="{zIndex: zIndex+items.length-2}"
      @keydown.esc.prevent.stop="close(items.length-1)"
  ></div>
</div>
