.bbn-toolbar{
  min-height: 2.5rem;
  &.bbn-h-100{
    text-align: center;
    .bbn-toolbar-horizontal-separator{
      display: block;
    }
    .bbn-toolbar-separator{
      display: block;
    }
  }
  .bbn-toolbar-separator {
    display: inline-block;
    margin: 1rem;
    &:before{
      content: '\0399';
    }
  }
  .bbn-toolbar-horizontal-separator{
    display: inline-block;
    margin: 1rem;
    &:before{
      content: '\2014';
    }
  }
}
