<div :class="['bbn-header', 'bbn-unselectable', componentClass, {
        'bbn-w-100': (orientation === 'horizontal'),
        'bbn-h-100': (orientation === 'vertical'),
        'bbn-flex-width': (orientation === 'horizontal'),
        'bbn-flex-height': (orientation === 'vertical'),
        'bbn-vmiddle': (orientation === 'horizontal')
      }]"
     :style="style">
  <slot></slot>
  <div class="bbn-flex-fill">
    <template v-for="(s, i) in source">
      <component v-if="!s.end && s.component"
                :is="s.component"
                v-bind="s.options"
                :key="'item' + i"/>
      <div v-else-if="!s.end && (s.content !== undefined)"
          class="bbn-block bbn-spadded"
          v-html="s.content"
          :key="'item' + i"/>
      <bbn-button v-else-if="!s.end && ((s.url || s.action) && (s.text || s.icon))"
                  v-bind="s"
                  class="bbn-hxsmargin"
                  :key="'item' + i"/>
      <div v-else-if="!s.end"
          class="bbn-toolbar-separator"
          :key="'item' + i"/>
    </template>
  </div>
  <div class="bbn-block bbn-nowrap">
    <template v-for="(s, i) in source">
      <component v-if="s.end && s.component"
                :is="s.component"
                v-bind="s.options"
                :key="'item' + i"/>
      <div v-else-if="s.end && (s.content !== undefined)"
          class="bbn-block bbn-spadded"
          v-html="s.content"
          :key="'item' + i"/>
      <bbn-button v-else-if="s.end && ((s.url || s.action) && (s.text || s.icon))"
                  v-bind="s"
                  class="bbn-hxsmargin"
                  :key="'item' + i"/>
      <div v-else-if="s.end"
          class="bbn-toolbar-separator"
          :key="'item' + i"
      >|</div>
    </template>
  </div>
</div>
