bbn-breadcrumb {
  border: 0 !important;
  overflow: hidden;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  zoom: 1;
  > div.bbn-breadcrumb-container{
    height: 100%;
    .bbn-breadcrumb-dirty::after {
      content: '*';
    }
    .bbn-breadcrumb-icons{
      font-size: 1rem;
      margin: 0;
      &.bbn-breadcrumb-icons-menu{
        bottom: -2px;
      }
      &.bbn-breadcrumb-icons-close{
        top: 1px;
      }
    }
    .bbn-breadcrumb-arrow{
      margin-right: .7rem;
      margin-left: .7rem;
      vertical-align: middle;
    }
    > div.bbn-loader {
      align-items: center;
      justify-content: center;
      opacity: 0.5;
      background-color: black;
      color: white;
      div.loader-animation {
        margin-top: 2rem;
        h1 {
          font-size: 3.5rem !important;
          text-align: center;
          margin-top: 1rem;
          color: white;
        }
        .sk-cube-grid {
          width: 120px;
          height: 120px;
          margin: auto;
          .sk-cube {
            width: 33%;
            height: 33%;
            float: left;
            background-color: white;
            -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            &.sk-cube1 {
              -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
            }
            &.sk-cube2 {
              -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
            }
            &.sk-cube3 {
              -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s;
            }
            &.sk-cube4 {
              -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s;
            }
            &.sk-cube5 {
              -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
            }
            &.sk-cube6 {
              -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
            }
            &.sk-cube7 {
              -webkit-animation-delay: 0s;
              animation-delay: 0s;
            }
            &.sk-cube8 {
              -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s;
            }
            &.sk-cube9 {
              -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
            }
          }
        }
      }
    }
    .bbn-list > ul > li .text i:not(.bbn-breadcrumb-arrow) {
      margin-right: 0 !important;
    }
  }
}