<div :class="[componentClass, 'bbn-bordered', 'bbn-radius', 'bbn-alt-background', full ? 'full' : '']"
     @mouseenter="$emit('mouseenter')">
  <!-- HEADER -->
  <div class="bbn-header bbn-no-border bbn-bordered-bottom bbn-unselectable" v-if="title">
    <div class="bbn-flex-width bbn-vxspadded bbn-vmiddle">
      <!-- BUTTONS LEFT -->
      <div class="bbn-header-buttons bbn-widget-button-left bbn-hxspadded">
        <i v-if="closable"
            :title="_('Close')"
            @click="close"
            class="bbn-lg nf nf-fa-times"
        ></i>
        <bbn-context v-if="hasMenu"
                      :source="finalMenu"
        >
          <i :title="_('Menu')"
              class="bbn-lg nf nf-fa-caret_down"
          > </i>
        </bbn-context>
        <i v-for="(b, idx) in realButtonsLeft"
            :title="b.text"
            @click="actionButton(b.action, uid)"
            :class="['bbn-lg', b.icon]"
        ></i>
      </div>
      <!-- TITLE -->
      <div :class="['bbn-widget-title', 'bbn-flex-fill', 'bbn-hpadded', {'bbn-middle': !!icon}]">
        <i v-if="icon" :class="[icon, 'bbn-right-sspace', 'bbn-m']"></i>
        <h3 :style="dashboard && dashboard.sortable ? 'cursor: move' : ''"
            :class="['bbn-no-margin', {'bbn-iblock': !!icon}]"
            v-html="title"
            @mousedown="$emit('sortstart')"
            @touchstart="$emit('sortstart')"
            @dragstart="$emit('sortstart')"
        ></h3>
      </div>
      <!-- BUTTONS RIGHT -->
      <div class="bbn-header-buttons bbn-widget-button-right bbn-hxspadded">
        <i v-for="(b, idx) in realButtonsRight"
            :title="b.text"
            @click="actionButton(b.action, uid)"
            :class="['bbn-lg', b.icon]"
        ></i>
      </div>
    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div :class="['bbn-content', 'bbn-radius-bottom', 'bbn-no-border', {'bbn-padded': !component || (contentPadding === true)}]"
       :style="{padding: contentPadding ? contentPadding : false}"
  >
    <div v-if="isLoading" style="min-height: 15em">
      <bbn-loader></bbn-loader>
    </div>
    <!-- COMPONENT -->
    <component v-else-if="component"
                :is="component"
                :source="currentSource"
                @hook:mounted="$emit('loaded')"
                v-bind="options"
                class="bbn-widget-content"
    ></component>
    <!-- HTML CONTENT -->
    <div v-else-if="content"
         v-html="content"
         class="bbn-widget-content"
    ></div>
    <!-- LIST OF ITEMS -->
    <ul v-else-if="currentItems.length" class="bbn-widget-list bbn-widget-content">
      <template v-for="(it, idx) in currentItems"
                v-if="limit ? idx < limit : true"
      >
        <li :class="itemClass"
            :style="itemStyle"
            :key="idx"
        >
          <component v-if="itemComponent"
                      :is="itemComponent"
                      v-bind="options"
                      :source="it"
          ></component>
          <a v-else-if="it && it.text && it.url" :href="it.url" v-html="it.text"></a>
          <span v-else-if="it && it.text" v-html="it.text"></span>
          <span v-else
                v-html="it"
          ></span>
        </li>
        <div v-if="separator && currentItems[idx+1]"
              v-html="separator"
        ></div>
      </template>
    </ul>
    <!-- NO DATA MESSAGE -->
    <div v-else>
      <slot>
        <div v-html="noData" class="bbn-widget-content bbn-w-100 bbn-c bbn-padded"></div>
      </slot>
    </div>
    <!-- GO FULL PAGE -->
    <div v-if="zoomable && currentItems && currentItems.length"
          class="content-buttons zoom bbn-unselectable"
    >
      <i class="nf nf-fa-arrows_alt"
          @click="zoom"
      ></i>
    </div>
    <!-- NAVIGATION IN LIST -->
    <div v-if="currentPage"
          class="nav bbn-unselectable"
    >
      <div class="content-buttons nav-first">
        <i class="nf nf-fa-angle_double_left"
            @click="nav('first')"
            :style="{visibility: currentStart > 0 ? 'visible' : 'hidden'}"
        ></i>
      </div>
      <div class="content-buttons nav-prev">
        <i class="nf nf-fa-angle_left"
            @click="nav('prev')"
            :style="{visibility: currentStart > 0 ? 'visible' : 'hidden'}"
        ></i>
      </div>
      <span v-text="currentPage + '/' + totalPages"></span>
      <div class="content-buttons nav-next">
        <i class="nf nf-fa-angle_right"
            @click="nav('next')"
            :style="{visibility: currentStart < (currentTotal-limit) ? 'visible' : 'hidden'}"
        ></i>
      </div>
      <div class="content-buttons nav-last">
        <i class="nf nf-fa-angle_double_right"
            @click="nav('last')"
            :style="{visibility: currentStart < (currentTotal-limit) ? 'visible' : 'hidden'}"
        ></i>
      </div>
    </div>
    <!-- LOADING -->
  </div>
</div>
