/* LESS Document */
.bbn-widget{
  > div.bbn-content{
    box-sizing: border-box;
    hyphens: auto;
    word-wrap: break-word;
    display: inline-block;
    float: left;
    padding-bottom: 1.5rem;
    //width: ~"-webkit-calc(100% - 1rem)";
    //width: ~"-moz-calc(100% - 1rem)";
    //width: ~"calc(100% - 1rem)";
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  div.content-buttons{
    cursor: pointer;
  }
  div.zoom{
    right: 2px;
    position: absolute;
    bottom: 0px;
  }
  div.nav {
    right: 50%;
    margin-right: -25%;
    width: 50%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    > div{
      display: inline-block;
      margin: 0 2px;
    }
  }
  div.content-buttons:hover, div.content-buttons:focus{
    opacity: 1;
  }
  ul.bbn-widget-list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li{
    .bbn-grid-fields{
      padding: 0;
    }
    padding: 0.3rem 0rem;
    /*
    > span:nth-child(even){
      float: right;
      clear: right;
      text-align: right;
    }
    > span:nth-child(odd){
      float: left;
      clear: left;
    }
    div.dropdownstats{
      float: left;
      clear: both;
      width: 90%;
      margin: 10px 6% 5px 4%;
      span{
        float: none;
      }
    }
    */
  }
  div.bbn-header{
    text-align: center;
    > div{
      overflow: hidden;
    }
    h1,h2,h3,h4,h5,h6{
      margin: 0 3rem;
    }
    i.nf{
      vertical-align: middle;
    }
    .nf:before{
      vertical-align: middle;
    }
    .bbn-widget-button-left i{
      margin-left: .25rem;
    }
    .bbn-widget-button-right i{
      margin-right: .25rem;
    }
  }
}
