.bbn-slider-menu{
  overflow: hidden;
  .slide {
    width: 100% !important;
    transition: left 0.5s;
    ul {
      > li{
        position: relative;
        box-sizing: border-box;
        min-width: 7rem;
        white-space: nowrap;
        user-select: none;
        span, a{
          user-select: none;
        }
        &.bbn-disabled{
          opacity: 0.7;
        }
        .space{
          display: inline-block;
          width: 1.8rem;
          text-align: left;
        }
        .text{
          min-height: 1.2rem;
          line-height: 1.2rem;
          i{
            margin-right: 1rem;
          }
          &.bbn-disabled i{
            opacity: 0.5;
          }
          &.hidden i{
            opacity: 0 !important;
          }
        }
      }
    }
  }
}