<div :class="[{
       'k-widget': true,
       'k-tabstrip': true,
       'k-floatwrap': true,
       'k-tabstrip-top': true,
       'k-tabstrip-scrollable': scrollable,
       'bbn-full-screen': true
     }, componentClass]"
>
  <div class="bbn-flex-height">
    <ul ref="tabgroup"
        v-if="tabs"
        :class="{
          'k-reset': true,
          'k-tabstrip-items': true,
          'k-header': true,
          'bbn-tabnav-tabs': true
        }"
    >
      <li v-for="(tab, tabIndex) in tabs"
          :ref="'tab-' + tabIndex"
          :style="{
            backgroundColor: tab.bcolor || null,
            color: tab.fcolor || null
          }"
          :data-index="tabIndex"
          :class="{
            'k-item': true,
            'k-state-default': true,
            'bbn-unselectable': true,
            'bbn-tabnav-static': !!tab.static,
            'k-state-active': tabIndex === selected,
            'k-state-disabled': tab.disabled,
            'k-first': tabIndex === 0,
            'k-last': tabIndex === tabs.length - 1,
            'bbn-tabnav-alarm': tab.alarm
          }"
          @click="!tab.disabled && (tabIndex !== selected) ? (selected = tabIndex) : (() => {})()"
      >
        <component :is="!tab.disabled && (tabIndex === selected) ? 'bbn-context' : 'div'"
                   :source="getMenuFn"
                   :source-option="tabIndex"
        >
          <div class="bbn-tabnav-badge-container bbn-middle"
               v-if="numProperties(tab.events)">
            <span class="bbn-badge bbn-small bbn-bg-red" v-text="numProperties(tab.events)"></span>
          </div>
          <span class="k-loading k-complete"
                v-show="tab.load && !tab.loaded && tab.selected"
                :ref="'spinner' + tabIndex"
          ></span>
          <span :class="['k-link', {'bbn-tabnav-unsaved': tab.isUnsaved}]"
                :ref="'title-' + tabIndex"
                :style="{
                  color: tab.fcolor ? tab.fcolor : null
                }"
                tabindex="0"
                @keydown.space.enter.prevent.stop="tabIndex !== selected ? activateIndex(tabIndex) : (() => {})()"
                @keydown.right.down.prevent.stop="getRef('menu-' + tabIndex) ? getRef('menu-' + tabIndex).$el.focus() : (getRef('closer-' + tabIndex) ? getRef('closer-' + tabIndex).focus() : null)"
          >
            <i v-if="tab.icon"
               :title="tab.title"
               :class="tab.icon + (tab.notext ? ' bbn-lg' : '')">
            </i>
            <span v-if="!tab.notext && tab.title"
                  v-html="tab.title">
            </span>
          </span>
          <div class="bbn-tabnav-selected"
               :ref="'selector-' + tabIndex"
               :style="{
                  backgroundColor: getTabColor(tabIndex)
                }"
          ></div>
          <div class="bbn-tabnav-icons"
               @keydown.left.prevent.stop="getRef('title-' + tabIndex).focus()"
               @keydown.right.up.prevent.stop="
                  if ( getRef('closer-' + tabIndex) ){
                    getRef('closer-' + tabIndex).focus();
                  }
                  else if ( getRef('title=' + (tabIndex+1)) ){
                    getRef('title=' + (tabIndex+1)).focus();
                  }">
            <i v-if="!tab.static && !tab.pinned"
               class="fas fa-times bbn-p bbn-xs"
               tabindex="-1"
               :ref="'closer-' + tabIndex"
               @keydown.left.down.prevent.stop="getRef('menu-' + tabIndex) ? getRef('menu-' + tabIndex).$el.focus() : null"
               @keydown.space.enter.prevent.stop="close(tabIndex)"
               @click.stop.prevent="close(tabIndex)"></i>
            <bbn-context v-if="tab.selected"
                         class="fas fa-caret-down bbn-p"
                         tabindex="-1"
                         tag="i"
                         :source="getMenuFn"
                         :source-option="tabIndex"
                         :ref="'menu-' + tabIndex"
            ></bbn-context>
          </div>
        </component>
      </li>
    </ul>
    <bbn-router ref="router"
                @mounted="init"
                @change="routing"
                :source="source"
                :autoload="autoload"
                :root="root"
                class="bbn-flex-fill">
      <slot></slot>
    </bbn-router>
    <!-- <span v-if="scrollable"
           class="k-button k-button-icon k-button-bare k-tabstrip-prev"
           @click="scrollTabs('left')"
     >
       <i class="fa fa-angle-left bbn-p"></i>
     </span>
     <span v-if="scrollable"
           class="k-button k-button-icon k-button-bare k-tabstrip-next"
           @click="scrollTabs('right')"
     >
       <i class="fa fa-angle-right bbn-p"></i>
     </span>-->
    <span v-if="scrollable"
          class="k-button-icon k-button-bare k-tabstrip-prev"
          @click="scrollTabs('left')"
          style="position: absolute"
    >
      <i class="fa fa-angle-left bbn-p bbn-xlarge"
         style="padding-top: 6.5px;"
      ></i>
    </span>
    <span v-if="scrollable"
          class="k-button-icon k-button-bare k-tabstrip-next bbn-r"
          @click="scrollTabs('right')"
          style="position: absolute"
    >
      <i class="fa fa-angle-right bbn-p bbn-xlarge"
         style="padding-top: 6.5px;"
      ></i>
    </span>
  </div>
</div>