.bbn-panelbar2{
  span{
    list-style-type: none;
  }
  .k-block{
    border-radius: 0;
    
    .k-header{
      border: none;
      border-radius: 0;
      margin-bottom: 0;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      .arrow-container{
        height: 100%;
        float: left;
        margin-left: 1rem;
        justify-self: baseline;
      }
      .buttons{
        button{
          border: 0;
        }
      }
    }
  
   
  }
  
  .item-slot{
    form.k-block{
      border: 0!important
    }
  }
  
  .inline{
    display: inline-block;
  }


}
  .show-enter-active, .show-leave-active {
    //transition: transform 0.5s linear;
    transition: max-height 2s linear;
  }

  .show-enter, .show-leave-to {
    //transform: scaleY(0.5);
    max-height:0
  }

  .show-leave, .show-enter-to {
    //transform: scaleY(1);
    max-height: 1200px
  }