<div :class="[
        {
          'bbn-reset': true,
          'bbn-bordered': true,
          'bbn-background-internal': true,
          'bbn-invisible': !visible && isResized
        },
        componentClass
      ]"
      v-if="isVisible"
      tabindex="0"
      @focus="onFocus"
      @resize.stop="onResize"
      @mouseleave="isResized ? isOver = false : (() => {})()"
      @mouseenter="isResized ? isOver = true : (() => {})()"
      @keydown.esc.prevent.stop="close"
      @subready.stop
      :style="currentStyle">
  <div :style="containerStyle"
       :class="{'bbn-flex-height': outHeight > 0}">
    <header v-if="title"
            ref="header"
            :class="{
              'bbn-header': true,
              'bbn-bordered-bottom': true,
              'bbn-unselectable': true,
              'bbn-block': isResizing,
              'bbn-w-100': !isResizing
            }">
      <div class="bbn-w-100">
        <h3 v-html="title"
            class="bbn-no-margin bbn-spadded"
            ref="title">
        </h3>
      </div>
      <div class="bbn-top-right bbn-p bbn-lg">
        <div v-if="maximizable !== false"
            class="bbn-h-100 bbn-middle bbn-reactive"
            @click.stop.prevent="isMaximized = !isMaximized"
            tabindex="0"
            :title="_('Full screen')">
          <i :class="'nf nf-mdi-window_' + (isMaximized ? 'restore' : 'maximize')">
          </i>
        </div>
        <div v-if="closable !== false"
            class="bbn-h-100 bbn-middle bbn-reactive"
            @click.stop.prevent="close"
            tabindex="0"
            :title="_('Close')">
          <i class="nf nf-fa-times">
          </i>
        </div>
      </div>
    </header>
    <div :class="{
          'bbn-flex-fill': footer || title || (buttons && buttons.length),
          'bbn-h-100': !title && !footer && (!buttons || !buttons.length),
          'bbn-w-100': true
        }">
          <!--v-if="isMounted">-->
      <bbn-scroll :latency="latency"
                  ref="scroll"
                  v-if="ready"
                  @ready="realResize"
                  :scrollable="scrollable"
                  :max-width="currentMaxWidth || null"
                  :max-height="scrollMaxHeight || null"
                  :min-width="currentMinWidth || null"
                  :min-height="currentMinHeight > outHeight ? currentMinHeight - outHeight : null"
                  @resize="scrollResize">
        <component v-if="component"
                  :is="component"
                  :source="source"
        ></component>
        <slot v-else-if="$slots.default"></slot>
        <div v-else-if="!!content" 
            v-html="content"
            :class="scrollable ? 'bbn-block' : 'bbn-100'"
        ></div>
        <bbn-list v-else-if="filteredData.length"
                  :mode="mode"
                  :suggest="suggest"
                  :source="filteredData"
                  :component="itemComponent"
                  :template="template"
                  :uid="uid"
                  :children="children"
                  :selected="selected"
                  :class="'bbn-floater-list bbn-menulist ' + mode"
                  origin="floater"
                  @select="select"
                  :source-value="sourceValue"
                  :source-text="sourceText"
        >
        </bbn-list>
        <h3 v-else v-text="noData"></h3>
      </bbn-scroll>
    </div>
    <footer v-if="footer"
            v-html="footer"
            :class="{
              'bbn-w-100': !isResizing,
              'bbn-block': isResizing
            }"
            ref="footer">
    </footer>
    <footer v-else-if="currentButtons.length"
            :class="{
              'bbn-w-100': !isResizing,
              'bbn-block': isResizing,
              'bbn-button-group': true
            }"
            ref="buttons">
      <bbn-button v-for="(b, i) in currentButtons"
                  :key="i"
                  :ref="'button' + i"
                  @ready="t => focusable = t"
                  v-bind="b">
      </bbn-button>
    </footer>
  </div>
</div>