bbn-calendar {
  //min-width: 210px !important;
  min-width: 16rem;
  min-height: 8rem;
  height: 100%;
  .bbn-calendar-header {
    margin-bottom: 0;
    min-height: unset;
    .bbn-calendar-header-title {
      font-size: 1rem;
    }
  }
  /* .bbn-calendar-container-labels {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-bottom: 0;
    .bbn-calendar-labels {
      text-align: center;
      margin-bottom: .5rem;
      font-size: 1rem;
    }
  } */
  .bbn-calendar-container {
    display: grid;
    .bbn-calendar-labels {
      text-align: center;
      margin-bottom: .5rem;
      font-size: 1rem;
    }
    .bbn-calendar-item-box {
      position: relative;
      border-radius: 0;
      .bbn-calendar-item {
        font-size: 1rem;
        //opacity: .5;
      }
      .bbn-calendar-item-icon {
        position: absolute;
        top: .2rem;
        left: .2rem;
        font-size: 1rem;
        //opacity: .5;
      }
      &.bbn-calendar-colored-item:not(:hover) {
        background-color: lightcoral !important;
      }
    }
  }
}