<div :class="[{'bbn-iblock': true, 'bbn-w-100':true}, componentClass]" v-if="deadline">

  <span v-if="years > 0" class="digit" v-text="years + (  years > 1 ? ' years' : ' years')"></span>

  <span v-if="months > 0" class="digit" v-text="twoDigits(months) + (  months > 1 ? ' months' : ' month')"></span>

  <span v-if="days > 0" class="digit" v-text="twoDigits(days) + (  days > 1 ? ' days' : ' day')"></span>

  <span class="digit" v-text="twoDigits(hours) + (hours > 1 ? ' hours' : ' hour') "></span>

  <span class="digit" v-text="twoDigits(minutes)+ ' min'"></span>


  <span class="digit" v-text="twoDigits(seconds) + ' sec'"></span>

  <span v-if="interval === 'milliseconds'" class="digit" v-text="milliseconds + ' millisec'"></span>


</div>