.bbn-upload {
  .bbn-upload-thumb {
    user-select: none;
    pointer-events: none;
    object, img, video, div:not(.bbn-overlay) {
      height: 4rem;
      width: 4rem;
    }
    img, video {
      object-fit: cover;
    }
    i {
      font-size: 3.5rem;
    }
  }
}