.bbn-list-input{
  > ul {
    &.options{
      > li{
        &.bbn-disabled{
          opacity: 1;
          .space {
            opacity: 0.5;
          }
        }
      }
    }
    > li{
      position: relative;
      box-sizing: border-box;
      min-width: 7rem;
      white-space: nowrap;
      &.bbn-disabled{
        opacity: 0.7;
      }
      .space{
        display: inline-block;
        width: 1.8rem;
        text-align: left;
      }
      .text{
        min-height: 1.2rem;
        line-height: 1.2rem;
        i{
          margin-right: 1rem;
        }
        &.bbn-disabled i{
          opacity: 0.5;
        }
        &.hidden i{
          opacity: 0 !important;
        }
      }
    }
  }
}