<div :class="[componentClass, 'bbn-background']">
  <div :class="{
    'bbn-overlay': $parent.fullSize,
    'bbn-w-100': !$parent.fullSize && (($parent.panes.length === 1) || ($parent.currentOrientation === 'vertical')),
    'bbn-h-100': !$parent.fullSize && ($parent.panes.length > 1) && ($parent.currentOrientation !== 'vertical'),
    'bbn-flex-height': $parent.fullSize && title && ($parent.currentOrientation === 'vertical'),
    'bbn-flex-width': $parent.fullSize && title && ($parent.currentOrientation !== 'vertical')
  }">
    <div v-if="title"
         class="bbn-b bbn-c bbn-header"
         v-html="title"/>
    <div :class="{
      'bbn-overlay': $parent.fullSize && !title,
      'bbn-flex-fill': $parent.fullSize && title,
      'bbn-w-100': !$parent.fullSize && (($parent.panes.length === 1) || ($parent.currentOrientation === 'vertical')),
      'bbn-h-100': !$parent.fullSize && ($parent.panes.length > 1) && ($parent.currentOrientation !== 'vertical'),
    }">
      <component :is="scrollable ? 'bbn-scroll' : 'div'"
                 v-show="!isCollapsed"
                 :class="{'bbn-overlay': $parent.fullSize, 'bbn-w-100': !scrollable && $parent.fullSize}"
                 ref="scroll">
        <slot></slot>
      </component>
    </div>
  </div>
</div>