<div :class="[componentClass, 'bbn-radius', {'collapsed': collapsed}]"
      :key="index"
      :style="{width: !collapsed ? width : ''}"
      v-show="isVisible">
  <div :class="['bbn-radius', 'bbn-background', {
          'bbn-w-100': !scrollable,
          'bbn-100': !!scrollable,
          'bbn-flex-height': !!scrollable
        }]"
        :style="{backgroundColor: !!backgroundColor ? (backgroundColor + ' !important') : ''}">
    <div :class="['bbn-spadded', , 'bbn-vmiddle', 'bbn-unselectable', {
            'bbn-flex-width': !collapsed,
            'bbn-flex-height': collapsed
          }]">
      <bbn-button v-if="collapsable && collapsed"
                  class="bbn-no-border"
                  :notext="true"
                  :text="_('Expand')"
                  icon="nf nf-mdi-arrow_expand"
                  @click="expand"
                  style="height: auto; width: 100%; aspect-ratio: 1"/>
      <div :class="['bbn-upper', 'bbn-b', 'bbn-tertiary-text-alt', 'bbn-unselectable', 'bbn-m', 'bbn-ellipsis', {
             'bbn-left-space': !collapsed,
             'bbn-top-space': collapsed,
             'bbn-right-lspace': !collapsed,
             'bbn-bottom-lspace': collapsed,
             'verticaltext': collapsed
           }]"
           v-text="title"
           :title="title"
           :style="{
             color: !!fontColor ? (fontColor + ' !important') : '',
             maxHeight: isMobile && collapsed ? '20rem' : '',
             letterSpacing: collapsed ? (isMobile ? '' : '-0.2rem') : ''
           }"/>
      <div class="bbn-alt-background bbn-vmiddle bbn-xspadded bbn-radius bbn-flex-fill"
          :style="{
            'min-height': !collapsed ? '2rem' : '4rem',
            'justify-content': 'flex-end',
            'align-items': collapsed ? 'flex-end': ''
          }">
        <component v-if="toolbar"
                  :is="toolbar"
                  :source="toolbarSource"
                  :total="total"
                  class="bbn-vmiddle"
                  :style="{'flex-direction': collapsed ? 'column': ''}"/>
      </div>
      <bbn-button v-if="collapsable && !collapsed"
                  class="bbn-no-border bbn-left-space"
                  :notext="true"
                  :text="_('Collapse')"
                  icon="nf nf-mdi-arrow_collapse"
                  @click="collapse"
                  style="height: 100%; width: auto; aspect-ratio: 1"/>
    </div>
    <div v-if="!collapsed"
        :class="['bbn-vpadded', 'bbn-w-100', {'bbn-flex-fill': !!scrollable}]">
      <div class="bbn-100">
        <component :is="scrollable ? 'bbn-scroll' : 'div'"
                  axis="y"
                  ref="scroll">
          <div class="bbn-hpadded">
            <bbn-loader v-if="isLoading"/>
            <div v-if="items.length && !isLoading"
                v-for="(item, itemIdx) in items"
                :class="[
                  'bbn-column-list-item',
                  'bbn-radius',
                  {
                    'bbn-bottom-space': !!items[itemIdx+1]
                  }
                ]"
                :key="symbol()">
              <component :is="component"
                         :source="item.data"
                         :index="item.index"
                         v-bind="componentOptions"
                         :key="!!componentOptions && !!componentOptions.uid && item.data && item.data[componentOptions.uid] ? item.data[componentOptions.uid] : symbol()"/>
            </div>
          </div>
        </component>
      </div>
    </div>
    <div v-if="!collapsed && pageable"
          class="bbn-column-list-pager-container bbn-w-100">
      <bbn-pager :element="_self"
                  :limit="false"
                  :key="symbol()"/>
    </div>
  </div>
</div>