<span :class="[componentClass, 'bbn-textbox']">
  <input ref="element"
         :disabled="disabled"
         :required="required"
         @click="click"
       	 @focus="focusEvent"
       	 @blur="blurEvent"
       	 @change="change"
       	 @keydown="keydownEvent"
       	 @keyup="keyupEvent"
       	 @mouseenter="over"
       	 @mouseleave="out"
				 :value="inputValue"
				 @input="inputEvent"
  >
  <input :value="value"
         ref="real_masked"
         :name="name"
         :disabled="disabled"
         type="hidden"
         :size="size"
         :maxlength="maxlength"
         :required="required"
  >
</span>
