<span :class="[componentClass, 'bbn-textbox']">
  <input ref="element"
         :disabled="disabled"
         :required="required"
         @click="click($event)"
       	 @focus="focus($event)"
       	 @blur="blur($event)"
       	 @change="change($event)"
       	 @keydown="keydown"
       	 @keyup="keyup"
       	 @mouseenter="over($event)"
       	 @mouseleave="out($event)"
				 :value="inputValue"
				 @input="input"
  >
  <input :value="value"
         ref="real_masked"
         :name="name"
         :disabled="disabled"
         type="hidden"
         :size="size"
         :maxlength="maxlength"
         :required="required"
  >
</span>