.bbn-markdown{
  .editor-toolbar{
    a,a.active,a:hover{
      //color: inherit !important;
    }
  }
  .EasyMDEContainer {
    min-width: 100%;
  }
  .CodeMirror-vscrollbar, .CodeMirror-hscrollbar {
    display: none !important;
  }
  .CodeMirror-scroll {
    margin: 0px;
    padding: 0px;
  }
}