.bbn-markdown{
  .editor-toolbar{
    a,a.active,a:hover{
      //color: inherit !important;
    }
  }
  .editor-preview-side {
    top: 0;
    position: absolute
  }
  .CodeMirror-vscrollbar, .CodeMirror-hscrollbar {
    display: none !important;
  }
  .CodeMirror-scroll {
    margin: 0px;
    padding: 0px;
  }
}