<bbn-scroll axis="x" :class="[componentClass]" ref="scroll">
  <!-- Each tree pane -->
  <div v-for="(p, i) in dirs"
        class="bbn-flex-height bbn-finder-pane bbn-bordered-right">
    <div class="bbn-flex-fill">
      <bbn-context :source="contextMenu" 
                    @click="select"
      >
        <div class="bbn-overlay">
          <bbn-tree :source="source"
                    :data="getData(p)"
                    :map="mapTree"
                    :menu="itemsContextMenu"
                    :key="'/' + p.path"
                    @load="updateInfo"
                    @select="select"
          >
          </bbn-tree>
        </div>
      </bbn-context>
    </div>
    <div class="bbn-w-100 bbn-widget bbn-finder-info" style="height: 10em">
      <div :class="{
                    'bbn-overlay': true,
                    'bbn-state-default': true,
                    'bbn-state-active': i === (numCols - 1),
                    'bbn-padded': true,
                    'bbn-alt-background': true,
                    'bbn-alt-bordered-top': true
                    }"
      >
        <div class="bbn-grid-fields bbn-finder-info-dirs">
          <div v-text="_('Number of childs:')" v-if="p.num_dirs || p.num_files"></div>
          <div v-text="p.num_dirs + p.num_files" v-if="p.num_dirs || p.num_files"></div>

          <div v-text="_('Directories:')" v-if="p.num_dirs"></div>
          <div v-text="p.num_dirs" v-if="p.num_dirs"></div>

          <div v-text="_('Files:')" v-if="p.num_files"></div>
          <div v-text="p.num_files" v-if="p.num_files"></div>

          <div v-text="_('Size:')"></div>
          <div v-if="!p.size">
            <bbn-button icon="nf nf-mdi-scale bbn-large"
                        @click="get_size(p)" 
                        :title="_('Get dir size')"
            ></bbn-button>         
          </div>
          <span v-text="p.size" v-else></span>

          <div class="bbn-grid-full bbn-c" v-if="isLoading && (i === (numCols - 1))">
            <bbn-button icon="nf nf-fa-hand_paper" 
                        @click="abortRequest('dir')"
                        :text="_('Abort request')"
                        :title="_('Cancel the current request')"
            ></bbn-button>               
          </div>
        </div>
      </div>          
    </div>
  </div>
  <!-- File detail / Image preview -->
  <div v-if="preview && currentFile"               
        class="bbn-finder-info-file-container bbn-flex-height"
  >
    <div class="bbn-grid-fields bbn-header bbn-widget bbn-spadded">
      <span v-text="_('Filename') + ':'"></span>
      <span v-text="currentFile ? currentFile.node.data.value : ''"></span>
      <span v-if="currentFile.info && currentFile.info.size" v-text="_('Size:')"></span>
      <span v-text="(currentFile.info && currentFile.info.size) ? currentFile.info.size : ''"></span>
      <span v-if="(currentFile.info && currentFile.info.width)" v-text="_('Width:')"></span>
      <span v-if="(currentFile.info && currentFile.info.width)" v-text="currentFile.info.width + 'px'"></span>
      <span v-if="(currentFile.info && currentFile.info.height)" v-text="_('Height:')"></span>
      <span v-if="(currentFile.info && currentFile.info.height)" v-text="currentFile.info.height + 'px'"></span>
      <!--span v-if="currentFile.info && currentFile.info.creation" v-text="_('Creation') + ':'"></span>
      <span-- v-text="(currentFile.info && currentFile.info.creation) ? currentFile.info.creation : ''"></span-->
      <span v-if="currentFile.info && currentFile.info.mtime" v-text="_('Last modification:')"></span>
      <span v-text="(currentFile.info && currentFile.info.mtime) ? currentFile.info.mtime : ''"></span>
      <div class="bbn-padded" v-if="isLoading">
        <div>
          <bbn-button icon="nf nf-fa-hand_paper"
                      @click="abortRequest('file')"
                      :text="_('Abort request')"
                      :title="_('Cancel the current request')"
                      
          ></bbn-button>
        </div>
      </div>          
    </div>
    <bbn-code class="bbn-flex-fill" 
              v-if="currentFile.info && currentFile.info.content && !isImage && !isLoading"
              :value="currentFile.info.content"
    ></bbn-code>
    <div v-else-if="isImage && !isLoading" 
          class="bbn-flex-fill bbn-c bbn-padded"
    >
      <img :src="root + 'actions/finder/image/' +  encodedURL">
    </div>
    <div v-else-if="currentFile.info && !currentFile.info.content && !isImage && !isLoading"
          class="bbn-padded bbn-medium bbn-b"
          v-text="_('The content of this file cannot be shown')">
    </div>
    <div v-else-if="isLoading" 
          class="bbn-padded bbn-medium bbn-b"
          v-text="_('Loading file infos..')">
    </div>
  </div>
</bbn-scroll>

