<span :class="[componentClass, 'bbn-flex-width', 'bbn-vmiddle']"
	   :style="(currentSize !== '') ? 'width:' + currentSize : '' ">
  <input :value="Number(value.toString().replace(currentUnit, ''))"
         type="range"
         :name="name"
         ref="element"
         :readonly="readonly"
         :disabled="isDisabled"
         :required="required"
         :min="currentMin"
         :max="currentMax"
         :step="currentStep"
         @input="_changeValue"
         @click="click"
         @focus="focus"
         @blur="blur"
         @change="change"
         @keydown="keydown"
         @keyup="keyup"
         @mouseenter="over"
         @mouseleave="out"
         :tabindex="tabindex"
         :size="currentInputSize"
         class="bbn-range-input bbn-radius bbn-flex-fill">
  <i class="nf nf-mdi-backup_restore bbn-p bbn-m bbn-left-xsspace"
     @click="reset"
     :title="_('Reset')"
     v-if="showReset"/>
  <span v-text="value"
        class="bbn-left-sspace bbn-nowrap"
        v-if="showLabel && !showNumeric"/>
  <bbn-numeric v-if="showNumeric"
              v-model="numericValue"
              class="bbn-left-sspace"
              :style="'width: calc(1rem + ' + (currentMax ? currentMax.toString().length : 8) + 'em)'"
              :min="currentMin"
              :max="currentMax"
              :step="currentStep"
              :decimals="currentDecimals"
              :readonly="readonly"
              :disabled="isDisabled"/>
  <bbn-dropdown v-if="showUnits"
                :source="units"
                v-model="currentUnit"
                class="bbn-left-sspace bbn-narrow"
                :readonly="readonly"
                :disabled="isDisabled"/>
</span>