<span :class="[componentClass, 'bbn-textbox']">
    <bbn-masked ref="element"
                :disabled="disabled"
                :readonly="readonly"
                :required="required"
                :mask="currentMask"
                @hook:mounted="maskedMounted = true"
                @blur="inputChanged"
                v-model="inputValue"
                class="bbn-flex-fill"
    ></bbn-masked>
    <bbn-button icon="nf nf-fa-calendar"
                @click="showCalendar"
                :disabled="disabled || readonly"
                class="bbn-datetimepicker-calendar bbn-no-vborder"
                tabindex="-1"
    ></bbn-button>
    <bbn-button icon="nf nf-fa-clock_o"
                @click="showTime"
                :disabled="disabled || readonly"
                class="bbn-datetimepicker-clock bbn-button-right bbn-no-vborder"
    ></bbn-button>
    <bbn-floater v-if="isCalendarOpened && !disabled && !readonly"
                 :element="$el"
                 :auto-hide="200"
                 ref="calendarFloater"
                 @close="isCalendarOpened = false"
    >
      <bbn-calendar :arrows-buttons="false"
                     @selected="setDate"
                     :value="value ? value.toString() : ''"
                     :selection="true"
                     :auto-selection="true"                     
                     ref="calendar"
                     :date="value ? value.toString() : ''"
                     :min="min"
                     :max="max"
                     :extra-items="true"
                     @hook:mounted="$refs.calendarFloater.onResize()"
                     :disable-dates="disableDates"
                     :items-range="datesRange"
      ></bbn-calendar>
    </bbn-floater>
    <bbn-floater v-if="isTimeOpened && !disabled && !readonly"
                 :element="$el"
                 ref="timeFloater"
                 @close="isTimeOpened = false"
                 :min-width="showSecond ? 165 : 110"
                 :min-height="scrollMode ? 170 : 46"
                 hpos="right"
                 :auto-hide="200"
    >
    <timepicker inline-template 
                ref="timepicker"
                @change="setTime"
    >
      <div v-if="comp.scrollMode"
           style="width: auto; height: auto"
           class="bbn-overlay"
      >
        <bbn-splitter orientation="horizontal">
          <bbn-pane class="bbn-c bbn-border-color" style="border-right: 1px solid">
            <div class="bbn-flex-height">
              <div v-text="_('Hour').substr(0,1)"
                  title="_('Hour')"
                  class="bbn-unselectable bbn-header"
              ></div>
              <div class="bbn-flex-fill">
                <bbn-scroll :hidden="true" 
                            ref="hourScroll"
                            @hook:mounted="hourReady = true"
                >
                  <div v-for="h in hours"
                      :class="['bbn-p', 'bbn-text', 'bbn-vspadded', 'bbn-background-internal', {
                        'bbn-bordered-bottom': h.value !== 23,
                        'bbn-primary': hour === h.value
                      }]"
                      @click="setHour(h.value)"
                      :ref="hour === h.value ? 'hourActive' : undefined"
                  >
                    <strong v-text="h.text"
                            style="opacity: .5"
                    ></strong>
                  </div>
                </bbn-scroll>
              </div>
            </div>
          </bbn-pane>
          <bbn-pane class="bbn-c">
            <div class="bbn-flex-height">
              <div v-text="_('Minute').substr(0,1)"
                  title="_('Minute')"
                  class="bbn-unselectable bbn-header"
              ></div>
              <div class="bbn-flex-fill">
                <bbn-scroll :hidden="true" 
                            ref="minuteScroll"
                            @hook:mounted="minuteReady = true"
                >
                  <div v-for="m in minsec" 
                      :class="['bbn-p', 'bbn-text', 'bbn-vspadded', 'bbn-background-internal', {
                        'bbn-bordered-bottom': m.value !== 59,
                        'bbn-primary': minute === m.value
                      }]"
                      @click="setMinute(m.value)"
                      :ref="minute === m.value ? 'minuteActive' : undefined"
                  >
                    <strong v-text="m.text"
                            style="opacity: .5"
                    ></strong>
                  </div>
                </bbn-scroll>
              </div>
            </div>
          </bbn-pane>
          <bbn-pane class="bbn-c bbn-border-color"
                    v-if="comp.showSecond"
                    style="border-left: 1px solid"
          >
            <div class="bbn-flex-height">
              <div v-text="_('Second').substr(0,1)" 
                    title="_('Second')"
                    class="bbn-unselectable bbn-header"
              ></div>
              <div class="bbn-flex-fill">
                <bbn-scroll :hidden="true" 
                            ref="secondScroll"
                            @hook:mounted="secondReady = true"
                >
                  <div v-for="s in minsec" 
                      :class="['bbn-p', 'bbn-text', 'bbn-vspadded', 'bbn-background-internal', {
                        'bbn-bordered-bottom': s.value !== 59,
                        'bbn-primary': second === s.value
                      }]"
                      @click="setSecond(s.value)"
                      :ref="second === s.value ? 'secondActive' : undefined"
                  >
                    <strong v-text="s.text"
                            style="opacity: .5"
                    ></strong>
                  </div>
                </bbn-scroll>
              </div>
            </div>
          </bbn-pane>
        </bbn-splitter>
      </div>
      <div v-else
           class="bbn-c"
      >
        <div class="bbn-iblock">
          <div v-text="_('Hour').substr(0,1)"
               title="_('Hour')"
               class="bbn-unselectable bbn-header"
          ></div>
          <bbn-dropdown :source="hours"
                        v-model="hour"
                        style="width: 50px"
          ></bbn-dropdown>
        </div>
        <div class="bbn-iblock">
          <div v-text="_('Minute').substr(0,1)"
               title="_('Minute')"
               class="bbn-unselectable bbn-header"
          ></div>
          <bbn-dropdown :source="minsec"
                        v-model="minute"
                        style="width: 50px"
          ></bbn-dropdown>
        </div>
        <div class="bbn-iblock"
             v-if="comp.showSecond"
        >
          <div v-text="_('Second').substr(0,1)" 
               title="_('Second')"
               class="bbn-unselectable bbn-header"
          ></div>
          <bbn-dropdown :source="minsec"
                        v-model="second"
                        style="width: 50px"
          ></bbn-dropdown>
        </div>    
      </div>
    </timepicker>
  </bbn-floater>
</span>
  