.bbn-datetimepicker {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  .bbn-masked {
    border: none;
  }
  .bbn-button {
    margin-top: 0;
    &.bbn-datetimepicker-calendar {
      border-radius: 0;
    }
  }
  .bbn-calendar {
    .bbn-widget:first-child {
      border: 0;
    }
  }
}