<span :class="[componentClass, 'bbn-textbox', {'bbn-input-nullable': isNullable}]">
  <bbn-masked ref="element"
              :disabled="disabled"
              :readonly="readonly"
              :required="required"
              :mask="currentMask"
              @hook:mounted="maskedMounted = true"
              @blur="inputChanged"
              @keydown.enter="inputChanged"
              v-model="inputValue"
              class="bbn-flex-fill"
              :autosize="autosize"
  ></bbn-masked>
  <div v-if="isNullable && !readonly && !disabled"
      class="bbn-block bbn-h-100 bbn-input-nullable-container"
  >
    <i v-if="hasValue" class="nf nf-fa-times_circle bbn-p"
        @mousedown.prevent.stop="clear"
    ></i>
  </div>
  <bbn-button icon="nf nf-fa-calendar"
              @click="showCalendar"
              :disabled="disabled || readonly"
              class="bbn-datetimepicker-calendar bbn-no-vborder bbn-no-border-right"
              tabindex="-1"
  ></bbn-button>
  <bbn-button icon="nf nf-fa-clock_o"
              @click="showTime"
              :disabled="disabled || readonly"
              class="bbn-datetimepicker-clock bbn-button-right bbn-no-vborder"
  ></bbn-button>
  <bbn-floater v-if="isCalendarOpened && !disabled && !readonly"
                :element="$el"
                :auto-hide="1000"
                ref="calendarFloater"
                @close="isCalendarOpened = false"
  >
    <bbn-calendar :arrows-buttons="false"
                    @selected="setDate"
                    :value="value ? value.toString() : ''"
                    :selection="true"
                    :auto-selection="true"
                    ref="calendar"
                    :date="value ? value.toString() : ''"
                    :min="min"
                    :max="max"
                    :extra-items="true"
                    :disable-dates="disableDates"
                    :items-range="datesRange"
                    :element-width="false"
    ></bbn-calendar>
  </bbn-floater>
  <bbn-floater v-if="isTimeOpened && !disabled && !readonly"
                :element="$el"
                ref="timeFloater"
                @close="isTimeOpened = false"
                
                max-width="10em"
                :scrollable="!!blocksMode || !scrollMode"
                hpos="right"
                :auto-hide="1000"
                :element-width="false"
  >
    <timepicker inline-template
                ref="timepicker"
                @change="setTime"
    >
      <div v-if="comp.scrollMode"
           style="width: auto; height: auto"
           class="bbn-overlay"
      >
        <bbn-splitter orientation="horizontal">
          <bbn-pane class="bbn-c bbn-border-color" style="border-right: 1px solid">
            <div class="bbn-flex-height">
              <div v-text="_('Hour').substr(0,1)"
                  title="_('Hour')"
                  class="bbn-unselectable bbn-header bbn-no-border-top bbn-no-hborder"
              ></div>
              <div class="bbn-flex-fill">
                <bbn-scroll :hidden="true"
                            ref="hourScroll"
                            @hook:mounted="hourReady = true"
                >
                  <div v-for="h in hours"
                      :class="['bbn-p', 'bbn-text', 'bbn-vspadded', 'bbn-reactive', {
                        'bbn-bordered-bottom': h.value !== 23,
                        'bbn-state-selected': hour === h.value
                      }]"
                      @click="setHour(h.value)"
                      :ref="hour === h.value ? 'hourActive' : undefined"
                  >
                    <strong v-text="h.text"
                            style="opacity: .5"
                    ></strong>
                  </div>
                </bbn-scroll>
              </div>
            </div>
          </bbn-pane>
          <bbn-pane class="bbn-c">
            <div class="bbn-flex-height">
              <div v-text="_('Minute').substr(0,1)"
                  title="_('Minute')"
                  class="bbn-unselectable bbn-header bbn-no-border-top bbn-no-hborder"
              ></div>
              <div class="bbn-flex-fill">
                <bbn-scroll :hidden="true"
                            ref="minuteScroll"
                            @hook:mounted="minuteReady = true"
                >
                  <div v-for="m in minsec"
                      :class="['bbn-p', 'bbn-text', 'bbn-vspadded', 'bbn-reactive', {
                        'bbn-bordered-bottom': m.value !== 59,
                        'bbn-state-selected': minute === m.value
                      }]"
                      @click="setMinute(m.value)"
                      :ref="minute === m.value ? 'minuteActive' : undefined"
                  >
                    <strong v-text="m.text"
                            style="opacity: .5"
                    ></strong>
                  </div>
                </bbn-scroll>
              </div>
            </div>
          </bbn-pane>
          <bbn-pane class="bbn-c bbn-border-color"
                    v-if="comp.showSecond"
                    style="border-left: 1px solid"
          >
            <div class="bbn-flex-height">
              <div v-text="_('Second').substr(0,1)"
                    title="_('Second')"
                    class="bbn-unselectable bbn-header bbn-no-border-top bbn-no-hborder"
              ></div>
              <div class="bbn-flex-fill">
                <bbn-scroll :hidden="true"
                            ref="secondScroll"
                            @hook:mounted="secondReady = true"
                >
                  <div v-for="s in minsec"
                      :class="['bbn-p', 'bbn-text', 'bbn-vspadded', 'bbn-background-internal', {
                        'bbn-bordered-bottom': s.value !== 59,
                        'bbn-state-selected': second === s.value
                      }]"
                      @click="setSecond(s.value)"
                      :ref="second === s.value ? 'secondActive' : undefined"
                  >
                    <strong v-text="s.text"
                            style="opacity: .5"
                    ></strong>
                  </div>
                </bbn-scroll>
              </div>
            </div>
          </bbn-pane>
        </bbn-splitter>
      </div>
      <div v-else-if="!comp.scrollMode && !comp.blocksMode"
           class="bbn-c"
      >
        <div class="bbn-iblock">
          <div v-text="_('Hour').substr(0,1)"
               title="_('Hour')"
               class="bbn-unselectable bbn-header"
          ></div>
          <bbn-dropdown :source="hours"
                        v-model="hour"
                        style="width: 60px"
          ></bbn-dropdown>
        </div>
        <div class="bbn-iblock">
          <div v-text="_('Minute').substr(0,1)"
               title="_('Minute')"
               class="bbn-unselectable bbn-header"
          ></div>
          <bbn-dropdown :source="minsec"
                        v-model="minute"
                        style="width: 60px"
          ></bbn-dropdown>
        </div>
        <div class="bbn-iblock"
             v-if="comp.showSecond"
        >
          <div v-text="_('Second').substr(0,1)"
               title="_('Second')"
               class="bbn-unselectable bbn-header"
          ></div>
          <bbn-dropdown :source="minsec"
                        v-model="second"
                        style="width: 60px"
          ></bbn-dropdown>
        </div>
      </div>
      <div v-else-if="!comp.scrollMode && comp.blocksMode"
           class="bbn-block bbn-background"
      >
        <div class="bbn-block">
          <div v-text="_('Hour').substr(0,1)"
               title="_('Hour')"
               class="bbn-unselectable bbn-header bbn-c bbn-no-border-top bbn-no-border-left bbn-no-border-right"
          ></div>
          <div class="bbn-c bbn-block">
            <div class="bbn-block" style="vertical-align: top;">
              <div v-for="n in 12"
                   :class="[
                     'bbn-hspadded',
                     'bbn-left-padded',
                     'bbn-vxxspadded',
                     'bbn-middle',
                     'bbn-unselectable',
                     'bbn-datetimepicker-timeblock',
                     'bbn-p',
                     {
                       'bbn-bordered-bottom': n !== 12,
                       'bbn-selected-background': hour === (n - 1),
                       'bbn-selected-text': hour === (n - 1)
                     }
                   ]"
                   @click="setHour(n - 1)"
              >
                <strong v-text="(n - 1).toString().length === 1 ? '0' + (n - 1) : (n - 1)"
                        style="opacity: .5"
                ></strong>
              </div>
            </div>
            <div class="bbn-block" style="vertical-align: top;">
              <div v-for="n in 12"
                   :class="[
                     'bbn-hspadded',
                     'bbn-right-padded',
                     'bbn-vxxspadded',
                     'bbn-bordered-left',
                     'bbn-middle',
                     'bbn-unselectable',
                     'bbn-datetimepicker-timeblock',
                     'bbn-p',
                     {
                       'bbn-bordered-bottom': n !== 12,
                       'bbn-selected-background': hour === n + 11,
                       'bbn-selected-text': hour === n + 11
                     }
                   ]"
                   @click="setHour(n + 11)"
              >
                <strong v-text="n + 11"
                        style="opacity: .5"
                ></strong>
              </div>
            </div>
          </div>
        </div>
        <div class="bbn-block bbn-bordered-left">
          <div v-text="_('Minute').substr(0,1)"
               title="_('Minute')"
               class="bbn-unselectable bbn-header bbn-c bbn-no-hborder bbn-no-border-top bbn-no-border-left"
          ></div>
          <div class="bbn-c bbn-block">
            <div class="bbn-block" style="vertical-align: top;">
              <div v-for="n in 12"
                   :class="[
                     'bbn-hpadded',
                     'bbn-vxxspadded',
                     'bbn-middle',
                     'bbn-unselectable',
                     'bbn-datetimepicker-timeblock',
                     'bbn-p',
                     {
                       'bbn-bordered-bottom': n !== 12,
                       'bbn-selected-background': minute === (n - 1) * 5,
                       'bbn-selected-text': minute === (n - 1) * 5
                     }
                   ]"
                   @click="setMinute((n - 1) * 5)"
              >
                <strong v-text="((n - 1) * 5).toString().length === 1 ? '0' + ((n - 1) * 5) : ((n - 1) * 5)"
                        style="opacity: .5"
                ></strong>
              </div>
            </div>
          </div>
        </div>
        <div v-if="comp.showSecond"
             class="bbn-block bbn-bordered-left">
          <div v-text="_('Second').substr(0,1)"
               title="_('Second')"
               class="bbn-unselectable bbn-header bbn-c bbn-no-border-right bbn-no-border-top bbn-no-border-left"
          ></div>
          <div class="bbn-c bbn-block">
            <div class="bbn-block" style="vertical-align: top;">
              <div v-for="n in 12"
                   :class="[
                     'bbn-hpadded',
                     'bbn-vxxspadded',
                     'bbn-middle',
                     'bbn-unselectable',
                     'bbn-datetimepicker-timeblock',
                     'bbn-p',
                     {
                       'bbn-bordered-bottom': n !== 12,
                       'bbn-selected-background': second === (n - 1) * 5,
                       'bbn-selected-text': second === (n - 1) * 5
                     }
                   ]"
                   @click="setSecond((n - 1) * 5)"
              >
                <strong v-text="((n - 1) * 5).toString().length === 1 ? '0' + ((n - 1) * 5) : ((n - 1) * 5)"
                        style="opacity: .5"
                ></strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </timepicker>
  </bbn-floater>
</span>