<span :class="[componentClass, 'bbn-iblock', 'k-textbox']"
      @keydown="keydown"
      @click="click($event)"
      @focus="focus($event)"
      @blur="blur($event)">
  <input :value="value"
         style="opacity: 0; position: absolute"
         ref="element"
         :disabled="disabled"
         :required="required"
         :readonly="readonly"
         :name="name"
  >
  <div class="bbn-flex-width">
    <div class="bbn-flex-fill">
    </div>
    <div class="bbn-iblock">
      <bbn-button :icon="'fas fa-caret-' + (isOpened ? 'up' : 'down')"
                  style="margin-right: 0"
                  @click="isOpened = !isOpened"
                  :disabled="disabled">

      </bbn-button>
    </div>
  </div>
</span>
