.bbn-datepicker {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  .bbn-masked {
    border: none;
  }
  .bbn-button {
    margin-top: 0;
    &.bbn-button-right {
      opacity: 0.7;
    }
  }
  
  .bbn-calendar {
    .bbn-widget:first-child {
      border: 0;
    }
  }
}