<div :class="[componentClass, 'bbn-textbox', {'bbn-input-nullable': isNullable}]">
  <bbn-button v-if="buttonPosition === 'left'"
              icon="nf nf-fa-calendar"
              @click="isOpened = !isOpened"
              :disabled="isDisabled || readonly"
              tabindex="-1"
              class="bbn-button-left bbn-no-vborder"/>
  <bbn-masked ref="element"
              :disabled="isDisabled"
              :readonly="readonly"
              :required="required"
              :mask="currentMask"
              @hook:mounted="maskedMounted = true"
              @blur="inputChanged"
              @keydown.enter="inputChanged"
              v-model="inputValue"
              class="bbn-flex-fill"
              :autosize="autosize"
              :inputmode="inputmode"
              :placeholder="placeholder"/>
  <div v-if="isNullable && !readonly && !isDisabled"
       class="bbn-block bbn-h-100 bbn-input-nullable-container">
    <i v-if="hasValue"
       class="nf nf-fa-times_circle bbn-p"
       @mousedown.prevent.stop="clear"/>
  </div>
  <bbn-button v-if="buttonPosition === 'right'"
              icon="nf nf-fa-calendar"
              @click="isOpened = !isOpened"
              :disabled="isDisabled || readonly"
              tabindex="-1"
              class="bbn-button-right bbn-no-vborder"/>
  <bbn-floater v-if="isOpened && !isDisabled && !readonly"
               :element="$el"
               ref="floater"
               :auto-hide="1000"
               @close="isOpened = false"
               :element-width="false">
    <bbn-calendar :arrows-buttons="false"
                  @selected="setDate"
                  :value="value ? value.toString() : ''"
                  :selection="true"
                  :auto-selection="true"
                  :type="type"
                  ref="calendar"
                  :date="value ? value.toString() : ''"
                  :min="min"
                  :max="max"
                  :extra-items="true"
                  :disable-dates="disableDates"
                  :items-range="datesRange"
                  :source="source"
                  :onlyEvents="onlyEvents"/>
  </bbn-floater>
</div>
