<span :class="[componentClass, 'bbn-textbox']">
  <bbn-masked ref="element"
              :disabled="disabled"
              :readonly="readonly"
              :required="required"
              :mask="currentMask"
              @hook:mounted="maskedMounted = true"
              @blur="inputChanged"
              v-model="inputValue"
              class="bbn-flex-fill"
              :autosize="autosize"
  ></bbn-masked>
  <bbn-button icon="nf nf-fa-calendar"
              @click="isOpened = !isOpened"
              :disabled="disabled || readonly"
              tabindex="-1"
              class="bbn-button-right bbn-no-vborder"
  ></bbn-button>
  <bbn-floater v-if="isOpened && !disabled && !readonly"
               :element="$el"
               ref="floater"
               :auto-hide="200"
               @close="isOpened = false"
  >
    <bbn-calendar :arrows-buttons="false"
                  @selected="setDate"
                  :value="value ? value.toString() : ''"
                  :selection="true"
                  :auto-selection="true"
                  :type="type"
                  ref="calendar"
                  :date="value ? value.toString() : ''"
                  :min="min"
                  :max="max"
                  :extra-items="true"
                  @hook:mounted="$refs.floater.onResize()"
                  :disable-dates="disableDates"
                  :items-range="datesRange"
                  style="height: auto !important"
    ></bbn-calendar>
  </bbn-floater>
</span>
