

<div :class="componentClass" id="app" v-bind="source">
<div v-for="(s, idx) in source" :key="idx">
    <div class="header k-header" 
        @click="select(idx)" 
    >
      <slot name="header"></slot>
      <i :class="['fa fa-2x', 'fa-angle-down', 'header-icon', {'rotate': selected === idx}]"></i>
      <div v-text="s.text" class="text"></div>
      <div v-if="s.buttons && (selected === idx)" class="buttons">
        <bbn-button v-for="(b, bidx) in s.buttons" :key="bidx + '-' + b" v-bind="s.buttons[bidx]" @click.stop.prevent="s.buttons[bidx].command"></bbn-button>
      </div>
    </div>
    <transition name="panelbar2" 
                v-on:before-enter="beforeEnter"
                v-on:enter="enter" v-on:before-leave="beforeLeave"
                v-on:leave="leave"
    >
      <div class="body" v-show="selected === idx">
        <div class="body-inner" v-html="s.content" v-if="s.content"></div>
        <component :is="s.component"
                   style="min-height:500px"  
                   class="body-inner" 
                   v-bind="source[idx]['componentAttributes']" 
                   ref="component"
                   v-if="s.component"
        ></component>
        <slot></slot>
      </div>
    </transition>
  </div>
</div>
