<div :class="[{'bbn-100': true, 'bbn-unselectable': true}, componentClass]" @click="info = true">
  <span class="content">
    <!--span class="buttons" v-if="data.length">
      <i :title="_('History informations')"
         :class="{
           'bbn-p': false,
           'bbn-lg': true,
           'fa': true,
           'fa-info-circle': true
         }"
         @click="getInfo"
      ></i>
      <i :title="_('Delete history')"
         :class="{
           'bbn-p': data.length,
           'bbn-lg': true,
           'far': true,
           'fa-times-circle': true,
           'bbn-invisible': !data.length
         }"
         @click="deleteHistory"
      ></i>
      <i :title="_('Previous Ajax call')"
         :class="{
           'bbn-p': selected < data.length - 1,
           'bbn-lg': true,
           'fas': true,
           'fa-angle-left': true,
           'bbn-invisible': selected >= data.length - 1
         }"
         @click="selected++"
      ></i>
      <i :title="_('Next Ajax call')"
         :class="{
           'bbn-p': selected > 0,
           'bbn-lg': true,
           'fa': true,
           'fa-angle-right': true,
           'bbn-invisible': selected <= 0
         }"
         @click="selected--"
      ></i>
      <i :title="_('Play current calls')"
         :class="{
           'bbn-p': selected > 0,
           'bbn-lg': true,
           'fa': true,
           'fa-play': true,
           'bbn-invisible': selected <= 0
         }"
         @click="selected = 0"
      ></i>
    </span-->
    <span class="bbn-loadbar-state">
      <bbn-loadicon v-if="currentItem.loading" class="bbn-blue"></bbn-loadicon>
      <i v-else-if="currentItem.error" class="fas fa-times-circle bbn-red"></i>
      <i v-else-if="currentItem.success" class="fas fa-check bbn-green"></i>
      <i v-else-if="currentItem.abort" class="zmdi zmdi-stop bbn-orange"></i>
    </span>
    <a href="javascript:;" :title="text + ' ' + _('Loading')" style="color: inherit; cursor: default" v-if="currentItem">
      <span class="text" v-text="currentItem.url"></span>
    </a>
  </span>
  <transition name="fade">
    <div class="bbn-loadbar-floater k-widget"
         v-if="info && items.length"
         @mouseenter="info = true"
         @mouseleave="info = false">
      <div class="k-header bbn-w-100 bbn-c">
        <h5 v-text="_('Loading scripts')"></h5>
      </div>
      
      <div class="bbn-w-100 bbn-padded">
        <ul class="bbn-reset">
          <li v-for="it of items" @click="cancel(it)">
            <span class="bbn-loadbar-time">
            
            </span>
            <span class="bbn-loadbar-state">
              <bbn-loadicon v-if="it.loading" class="bbn-blue"></bbn-loadicon>
              <i v-else-if="it.error" class="fas fa-times-circle bbn-red"></i>
              <i v-else-if="it.success" class="fas fa-check bbn-green"></i>
              <i v-else-if="it.abort" class="zmdi zmdi-stop bbn-orange"></i>
            </span>
            <span v-text="it.url"></span>
          </li>
        </ul>
      </div>
    </div>
  </transition>
</div>