.bbn-loadbar{
  white-space: nowrap;
  overflow: visible;
  a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  }
  .bbn-loadbar-content{
    //display: inline-block;
    height: 100%;
  }
  .bbn-loadbar-state {
    width: 1.8rem;
    //display: inline-block;
  }
  .bbn-loadbar-time{
    width: 4rem;
    display: inline-block;
  }
  .bbn-loadbar-error{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7rem;
  }
}
