.bbn-loadbar{
  font-size: small;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: visible;
  span, a{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    i{
      vertical-align: middle;
    }
  }
  i{
    font-size: 16px;
  }
  /** loader */
  span:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
  .content{
    padding: 0 2em;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .bbn-loadbar-state {
    margin-right: 0.5em
  }
  .bbn-loadbar-floater{
    position: absolute;
    z-index: 5;
    bottom: 0px;
    height: auto;
    width: 100%;
    max-height: 40em;
    white-space: nowrap;
    overflow: hidden;
    .bbn-user-title{
      margin-right: 5px;
    }
    .message{
      a{
        word-wrap: break-word;
      }
    }
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
}
