<span :class="['bbn-iblock', componentClass]">
  <input type="checkbox"
         :id="id"
         :name="name"
         :value="value"
         class="bbn-checkbox"
         :required="required"
         :disabled="isDisabled"
         :readonly="readonly"
         @change="toggle"
         :checked="state"
         ref="element"
				 tabindex="0"
         style="display: none">
  <label class="bbn-checkbox-label bbn-iflex bbn-vmiddle"
         :for="id"
         @click="onClick">
    <component v-if="component"
               :is="component"
               v-bind="componentOptions"
               class="bbn-left-spadded"/>
    <span v-else-if="label"
          class="bbn-left-spadded"
          v-html="label"/>
  </label>
</span>