.bbn-emoji {
  .bbn-emoji-container {
    width: 25em;
    > .bbn-flex {
      flex-direction: column;
      align-items: center;
    }
    .bbn-emoji-grid {
      grid-template-columns: repeat(auto-fill, minmax(2em, 1fr));
      justify-items: center;
      align-items: center;
    }
  }
}