.bbn-video {
  .bbn-video-poster {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    i {
      cursor: pointer;
      color: var(--primary-background);
      font-size: 5rem;
    }
  }
}