<div :class="[componentClass, 'bbn-flex-height', {'bbn-box': skin}]"
     :style="{
       width: width,
       height: height,
       aspectRatio: aspectRatio
     }">
  <div v-if="title && (titlePosition === 'top')"
       :class="['bbn-c', {
         'bbn-header': skin,
         'bbn-radius-top': skin,
         'bbn-no-border-top': skin,
         'bbn-no-border-left': skin,
         'bbn-no-border-right': skin,
       }, titleCls]"
       v-html="title"
       :style="{
         background: titleBackground,
         color: titleColor
       }">
  </div>
  <div class="bbn-flex-fill">
    <div v-if="(isYoutube || isVimeo) && !!poster && showPoster"
         class="bbn-overlay bbn-video-poster">
      <img :src="poster">
      <div class="bbn-overlay bbn-middle">
        <i class="nf nf-mdi-play_circle_outline bbn-xxl"
           @click="showPoster = false"/>
      </div>
    </div>
    <iframe v-else-if="isYoutube || isVimeo"
            width="100%"
            height="100%"
            :src="videoSource"
            frameborder="0"
            :allow="'autoplay; picture-in-picture;' + (isYoutube ? ' accelerometer; encrypted-media; gyroscope;' : ' fullscreen;')"
            :class="cls"
            allowfullscreen>
    </iframe>
    <video v-else
           :autoplay="autoplay"
           :controls="controls"
           :loop="loop"
           :muted="muted"
           preload="auto"
           :poster="poster"
           height="100%"
           width="100%"
           :style="{background: background}"
           :class="[cls, {
             'bbn-bordered-bottom': skin,
             'bbn-bordered-left': skin,
             'bbn-bordered-right': skin,
             'bbn-radius-bottom': skin
           }]">
      <source v-if="videoSource"
              :src="videoSource"
              :type="type">
      {{browserMessage}}
    </video>
  </div>
  <div v-if="title && (titlePosition === 'bottom')"
       :class="['bbn-c', {
         'bbn-header': skin,
         'bbn-radius-bottom': skin,
         'bbn-no-border-bottom': skin,
         'bbn-no-border-left': skin,
         'bbn-no-border-right': skin,
       }, titleCls]"
       v-html="title"
       :style="{
         background: titleBackground,
         color: titleColor
       }">
  </div>
</div>