<div :class="[componentClass, {'bbn-textbox': !floating}, 'bbn-no-padding']"
		 :style="{height: currentHeight}">
	<div v-if="floating"
	     class="bbn-iflex-height"
			 ref="container"
			 style="min-height: 100%; width: 100%; overflow: visible">
		<div contenteditable="true"
		     @focusin="isEditing = true"
				 @input="updateContenteditable"
				 class="bbn-rte-element"
				 ref="element"/>
		<bbn-portal>
			<div v-show="isEditing">
				<bbn-floater :scrollable="false"
										ref="floater"
										@focusin="isEditing = true"
										:element="$el"
										position="topLeft"
										:title="false">
					<bbn-toolbar :source="currentButtons"
											class="bbn-rte-toolbar bbn-header bbn-radius-top bbn-no-border"
											:button-space="false"/>
				</bbn-floater>
			</div>
		</bbn-portal>

	</div>
	<div v-else
	     class="bbn-iflex-height"
			 style="min-height: 100%; width: 100%;">
		<bbn-toolbar :source="currentButtons"
								 class="bbn-rte-toolbar bbn-header bbn-radius-top bbn-no-border"
								 :button-space="false"/>
		<div class="bbn-flex-fill"
				 :style="textboxStyle"
				 @mouseup.stop="getRef('element').focus()">
			<bbn-anonymous :is="currentHeight ? 'bbn-scroll' : 'div'">
				<div class="bbn-spadded bbn-rte-element"
						 style="min-height: max(4rem, 100%)"
						 contenteditable="true"
						 ref="element"
						 @input="rteOnInput"
						 @keydown="rteOnKeydown"
						 @keyup="rteOnClick"
						 @click="rteOnClick"/>
				<div class="bbn-hidden"
				     ref="content">
					<slot></slot>
				</div>
				<bbn-code v-model="currentValue"
				          v-if="showSource"
									class="bbn-overlay"
									style="min-height: max(4rem, 100%)"
									mode="html"/>
				<textarea :required="required"
									:readonly="readonly"
									ref="input"
									:value="value"
									class="bbn-hidden"
									:disabled="isDisabled"/>
			</bbn-anonymous>
		</div>
	</div>
</div>