<div :class="[componentClass, {'bbn-textbox': !floating}, 'bbn-no-padding']"
     @keydown.tab.stop=""
		 :style="{height: currentHeight}">
	<div v-if="floating"
	     class="bbn-iflex-height"
			 ref="container"
			 @click.stop.prevent
			 style="min-height: 100%; width: 100%; overflow: visible">
		<div contenteditable="true"
		     @focusin="isEditing = true"
				 @keyup="updateContenteditable"
				 ref="element"
				 @blur="updateContenteditable"/>
		<bbn-portal>
			<bbn-floater v-if="ready && isEditing"
			             :scrollable="false"
									 ref="floater"
									 @focusin="isEditing = true"
									 :element="$el"
									 position="topLeft"
									 :title="false">
				<bbn-toolbar :source="currentButtons"
									   class="bbn-rte-toolbar bbn-header bbn-radius-top bbn-no-border"
									 	 :button-space="false"/>
			</bbn-floater>
		</bbn-portal>

	</div>
	<div v-else
	     class="bbn-iflex-height"
			 style="min-height: 100%; width: 100%;">
		<bbn-toolbar :source="currentButtons"
								 class="bbn-rte-toolbar bbn-header bbn-radius-top bbn-no-border"
								 :button-space="false"/>
		<div class="bbn-flex-fill"
				 :style="textboxStyle"
				 @mouseup.stop="getRef('element').focus()">
			<component :is="currentHeight ? 'bbn-scroll' : 'div'">
				<div class="bbn-spadded"
							style="min-height: max(4em, 100%)"
							contenteditable="true"
							ref="element"
							@input="rteOnInput"
							@keydown="rteOnKeydown"
							@keyup="rteOnClick"
							@click="rteOnClick"/>
				<div class="bbn-hidden">
					<slot></slot>
				</div>
				<textarea :required="required"
									:readonly="readonly"
									ref="input"
									:value="value"
									class="bbn-hidden"
									:disabled="isDisabled"/>
			</component>
		</div>
	</div>
</div>