.bbn-rte{
  box-sizing: content-box;
  clear: both;
  .bbn-rte-toolbar {
    > .bbn-flex-fill {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      > * {
        margin: 0 0.15em;
      }
    }
  }
}
