.bbn-rte{
  box-sizing: content-box;
  clear: both;
}
.bbn-rte-toolbar {
  > .bbn-flex-fill {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    > * {
      margin: 0 .15rem;
    }
    .bbn-rte-fontcolor, .bbn-rte-fontbgcolor {
      background-color: var(--default-background);
      .bbn-colorpicker-input {
        border: 0;
      }
    }
  }
}
