<div :class="['bbn-overlay' , componentClass, {'bbn-unselectable': isSorting}]"
     @mouseleave="sortTargetIndex = null; isSorting = false">
  <bbn-scroll :scrollable="scrollable"
              ref="scroll"
              v-bind="scrollable ? {axis: 'y'} : {}"
              @ready="onResize"
              :class="{
                'bbn-overlay': !scrollable
              }">
    <div :class="'bbn-masonry bbn-margin' + (sortable ? ' bbn-dashboard-sortable' : '')"
         ref="container"
         :style="{
              '-moz-column-count': numCols,
              '-webkit-column-count': numCols,
              'column-count': numCols
            }">
      <template v-for="w in widgets">
        <bbn-widget :ref="'widget_' + w.key"
                    v-if="!w.hidden"
                    :key="w.key"
                    @loaded="resizeScroll"
                    v-bind="w"
                    :options="w.options"
                    :uid="w.key"
                    @close="hideWidget(w.key)"
                    :index="w.index"
                    :data="w.data || {}"
                    @dragover="mouseEnterWidget(w.index)"
                    @dragend="isDragging = false; isSorting = false;"
                    @drop.prevent="drop"
                    :class="{'bbn-selected-border':
                      (sortOriginIndex !== w.index) && (
                        sortOriginIndex > w.index ?
                          (w.index === sortTargetIndex) :
                          (sortTargetIndex !== null) &&
                          (w.index - 1 === sortTargetIndex)
                      )
                    }"
                    @sortstart="isSorting = true; sortOriginIndex = w.index; sortTargetIndex = null; isDragging = true;"
                    :title="w.title ? w.title : (w.text ? w.text : '')"/>
      </template>
      <slot v-if="!widgets.length"/>
    </div>
  </bbn-scroll>
</div>
