<div :class="['bbn-overlay' , componentClass, {'bbn-unselectable': isSorting}]"
     @mouseleave="isSorting = false"
     @touchend="isSorting = false"
     @dragend="isSorting = false"
     @mouseup="isSorting = false">
  <bbn-scroll :scrollable="scrollable"
              ref="scroll"
              v-bind="scrollable ? {axis: 'y'} : {}"
              @ready="onResize"
              :class="{
                'bbn-100': !scrollable
              }">
    <div :class="'bbn-masonry bbn-margin' + (sortable ? ' bbn-dashboard-sortable' : '')"
         ref="container">
      <bbn-widget v-for="w in currentWidgets"
                  ref="widgets"                  
                  @loaded="onResize"
                  v-bind="w"
                  :options="w.options"
                  :uid="w.key"
                  :key="w.key"
                  :index="w.index"
                  @mouseenter="sortTargetIndex = w.index"
                  @sortstart="isSorting = true; sortOriginIndex = w.index; sortTargetIndex = null"
                  :title="w.title ? w.title : (w.text ? w.text : '')"
      ></bbn-widget>
    </div>
  </bbn-scroll>
</div>
