/* LESS Document */
.bbn-dashboard{
  a{
    color: inherit
  }
  .bbn-masonry{
    overflow: hidden;
    > div.bbn-widget{
      display: grid;
      margin-bottom: 1em;
      width: 100%;
      page-break-inside: avoid;
      &.full{
        -webkit-column-span: all;
        -moz-column-span: all;
        column-span: all;
      }
    }
  }
  .bbn-dashboard-sortable {
    div.bbn-widget .bbn-header .ui-sortable-handle{
      cursor: move;
    }
    .bbn-widget-placeholder{
      min-height: 200px;
    }
  }
}
