<div :class="['bbn-overlay' , componentClass]">
  <component :is="scrollable ? 'bbn-scroll' : 'div'"
             ref="scroll"
             v-bind="scrollable ? {axis: 'y'} : {}"
             :class="{
               'bbn-w-100': scrollable,
               'bbn-100': !scrollable
             }"
  >
    <transition-group name="custom-classes-transition"
                      :duration="{enter: isRefreshing ? 0 : 500, leave: isRefreshing ? 0 : 500}"
                      enter-active-class="animated zoomIn"
                      leave-active-class="animated zoomOut"
                      @leave="onResize"
                      :class="'bbn-masonry bbn-margin' + (sortable ? ' bbn-dashboard-sortable' : '')"
                      tag="div"
    >
      <bbn-widget ref="widgets"
                  v-for="(w, index) in widgets"
                  v-if="!w.hidden"
                  @loaded="onResize"
                  v-bind="w"
                  :options="w.options"
                  :uid="w.key"
                  :key="w.key"
                  :index="index"
                  :title="w.title ? w.title : (w.text ? w.text : '')"
      ></bbn-widget>
    </transition-group>
  </component>
</div>
