<div :class="[componentClass, 'bbn-iblock']">
  <bbn-input :placeholder="currentPlaceholder"
              type="search"
              ref="input"
              @focus="searchFocus"
              @blur="searchBlur"
              @keydown.esc.prevent="isOpened ? isOpened = false : searchBlur() && getRef('input').getRef('element').blur()"
              @keydown.stop="keydown"
              :nullable="nullable"
              autocomplete="off"
              v-model="filterString"
              :loading="isAjax && isLoading"
              button-right="nf nf-fa-search">
  </bbn-input>
  <bbn-floater v-if="filteredData.length && !disabled && !readonly && isOpened && $refs.input"
               :element="$refs.input.$el"
               class="bbn-secondary"
               :max-height="maxHeight"
               :min-width="$el.offsetWidth"
               ref="list"
               @mouseleave.prevent
               :auto-hide="false"
               :suggest="suggest"
               :item-component="searchComponent"
               :children="null"
               @select="select"
               @close="searchClose"
               :source-text="sourceText"
               :source-value="sourceValue"
               :source-url="sourceUrl"
               :source-action="sourceAction"
               :source="filteredData">
  </bbn-floater>
  <input type="hidden"
         v-model="value"
         ref="element"
         :name="name">
</div>
