<div :class="[componentClass, 'bbn-modal']"
     :style="containerCSS"
     tabindex="-1"
     @animationstart="onResize"
     @keydown.esc.prevent.stop="close">
  <bbn-floater v-if="ready"
              :title="title"
              :maximizable="maximizable"
              :closable="closable"
              :animation="true"
              :width="width"
              :height="height"
              :min-width="minWidth"
              :max-width="maxWidth"
              :min-height="minHeight"
              :max-height="maxHeight"
              :component="component"
              :buttons="buttons"
              :footer="footer"
              :content="content"
              :source="source"
              :container="$el"
              @beforeClose="floaterClose"
              :latency="500"
              @keydown.esc.prevent.stop="close"
              :scrollable="scrollable"
              :draggable="draggable"
              :resizable="resizable"
              :on-open="onOpen"
              :on-close="onClose"
              :uid="uid">
    <slot></slot>
  </bbn-floater>
</div>