.bbn-colorpicker{
  .bbn-colorpicker-input-hidden{
    display: none;
  }
  .bbn-colorpicker-input{
    padding: .15rem;
    line-height: calc(var(--line-height) - .15rem);
    .bbn-colorpicker-input-color{
      width: 2rem;
    }
  }
  .bbn-colorpicker-palette{
    width: 2rem;
    height: 2rem;
  }
  .bbn-colorpicker-details{
    .bbn-colorpicker-preview{
      height: 8rem;
      i{
        font-size: 4rem;
      }
    }
    .bbn-colorpicker-details-inputs{
      grid-template-columns: minmax(auto,max-content) max-content auto;
    }
  }
}