<span :class="['bbn-iblock', componentClass, {'bbn-disabled': !!isDisabled}]">
  <input :value="value"
         class="bbn-colorpicker-input-hidden"
         :name="name"
         ref="element"
         :disabled="isDisabled"
         :readonly="readonly"
         :required="required"
         @click="click($event)"
         @focus="focus($event)"
         @blur="blur($event)"
         @keydown="keydown($event)"
         @keyup="keyup($event)">
  <div :class="['bbn-textbox', 'bbn-colorpicker-input', {'bbn-disabled': !!isDisabled}]">
    <div :class="['bbn-flex-width', 'bbn-radius', {'bbn-p': !isDisabled && !readonly}]"
         @click="openCloseFloater">
      <div class="bbn-flex-fill bbn-right-xsspace bbn-radius bbn-colorpicker-input-color bbn-middle bbn-bordered"
           :style="{backgroundColor: value || ''}">
        <i v-if="!value"
           class="nf nf-fae-thin_close bbn-s bbn-red"/>
      </div>
      <div class="bbn-colorpicker-icon">
        <i :class="{'nf nf-fa-caret_down': !readonly, 'nf nf-fa-lock': !!readonly}"/>
      </div>
    </div>
  </div>
  <bbn-floater :scrollable="false"
               :element="$el"
               hpos="right"
               :auto-hide="200"
               v-if="!!showFloater && !isDisabled && !readonly"
               ref="floater"
               @close="showFloater = false"
               @hook:mounted="init"
               height="24rem"
               width="45rem"
               :min-width="450"
               :min-height="300">
    <bbn-splitter orientation="horizontal">
      <bbn-pane>
        <div class="bbn-overlay bbn-middle">
          <div class="bbn-colorpicker-picker"
               ref="picker"
               @dblclick.prevent.stop=""
          ></div>
          <bbn-scroll v-if="showPalette || onlyPalette" class="bbn-background">
            <div class="bbn-c bbn-vsmargin">
              <div v-for="p in palette"
                   class="bbn-iblock bbn-colorpicker-palette bbn-bordered bbn-smargin bbn-p"
                   :style="{backgroundColor: p}"
                   @click="setColor(p)"/>
            </div>
          </bbn-scroll>
        </div>
      </bbn-pane>
      <bbn-pane>
        <div class="bbn-overlay bbn-middle">
          <div class="bbn-colorpicker-details">
            <div class="bbn-colorpicker-preview bbn-bottom-space bbn-box bbn-middle"
                 :style="{backgroundColor: currentValue}">
              <i v-if="!currentValue"
                 class="nf nf-fae-thin_close bbn-red"/>
            </div>
            <div v-if="showCodes"
                 class="bbn-colorpicker-details-inputs bbn-grid bbn-bottom-space">
              <span class="bbn-vmiddle">HEX</span>
              <span class="bbn-vmiddle">
                <i class="nf nf-fa-long_arrow_right"/>
              </span>
              <div>
                <bbn-input :value="currentHex"
                           @change="fromInput"/>
              </div>
              <span class="bbn-vmiddle">RGB</span>
              <span class="bbn-vmiddle">
                <i class="nf nf-fa-long_arrow_right"/>
              </span>
              <div>
                <bbn-input :value="currentRgb"
                           @change="fromInput"/>
              </div>
              <span class="bbn-vmiddle">RGBA</span>
              <span class="bbn-vmiddle">
                <i class="nf nf-fa-long_arrow_right"/>
              </span>
              <div>
                <bbn-input :value="currentRgba"
                           @change="fromInput"/>
              </div>
              <span class="bbn-vmiddle">HSL</span>
              <span class="bbn-vmiddle">
                <i class="nf nf-fa-long_arrow_right"/>
              </span>
              <div>
                <bbn-input :value="currentHsl"
                           @change="fromInput"/>
              </div>
            </div>
            <div class="bbn-flex-width">
              <div v-if="palette.length">
                <bbn-button :icon="!showPalette ? 'nf nf-fae-palette_color' : 'nf nf-fa-adjust'"
                            :notext="true"
                            :text="!showPalette ? _('Show palette') : _('Close palette')"
                            @click="showPalette = !showPalette"
                            v-if="!onlyPalette"/>
              </div>
              <div class="bbn-flex-fill bbn-r">
                <bbn-button icon="nf nf-fa-close"
                            :notext="true"
                            :text="_('Close')"
                            @click="showFloater = false"/>
                <bbn-button icon="nf nf-oct-diff_ignored"
                            :notext="true"
                            :text="_('Empty')"
                            @click="empty"
                            v-if="emptyButton"/>
                <bbn-button icon="nf nf-fa-check"
                            :text="_('Confirm')"
                            @click="save"/>
              </div>
            </div>
          </div>
        </div>
      </bbn-pane>
    </bbn-splitter>
  </bbn-floater>
</span>
