
  <div :class="['bbn-widget', 'bbn-progressbar-wrap', componentClass, { 
    'bbn-progressbar-horizontal' : (orientation === 'horizontal'),
    'bbn-progressbar-vertical' : (orientation === 'vertical'),
    'bbn-reverse-bar': reverse
  }]" 
    :style="orientationStyle"
    type="type"
  >
    <div :class="['bbn-wrap',realValuePosition]" 
         style="height: 100%;border: 0;"
    >
      <div class="bbn-progress-status" v-text="showValue ? (value + ( showUnit ? unit : '' ) ) : ''"></div>
    </div>
    <div class="bbn-background-effect-primary bbn-overlay"
         :style="style"
         v-if="type !== 'chunk'"
    >
      
    </div>
    
    <div v-else class="chunk bbn-overlay" 
          :style="chunkStyle" 
    >
      <div :class="['block', {'bbn-background-effect-primary': ((!reverse) && (n <= selectedChunks)) || ((reverse) && (n > chunknumber - selectedChunks))}]" 
            v-for="n in chunknumber"></div>
    </div> 
    
  </div>


