<div :class="[{'bbn-overlay': scrollable, 'bbn-block': !scrollable}, componentClass, 'bbn-bordered']">
  <div :class="{'bbn-overlay': scrollable, 'bbn-flex-height': scrollable, 'bbn-block': !scrollable}"
       :style="scrollable && groupCols.length ? {} : {
         width: totalWidth
       }"
       v-if="cols.length"
  >
    <div v-if="hasToolbar"
         class="bbn-table-toolbar bbn-w-100"
         ref="toolbar"
    >
      <bbn-toolbar v-if="toolbarButtons.length"
                   :source="toolbarButtons">
        <slot name="toolbar"></slot>
      </bbn-toolbar>
      <div v-else-if="typeof toolbar === 'function'"
           v-html="toolbar()"
      ></div>
      <component v-else
                 :is="toolbar"
      ></component>
    </div>
    <div :class="['bbn-w-100', 'bbn-table-container', {'bbn-flex-fill': scrollable}]">
      <div v-if="initStarted || isLoading"
           class="bbn-overlay bbn-middle bbn-background"
           style="z-index: 5"
      >
        <bbn-loadicon :size="24"></bbn-loadicon>
      </div>
      <component :is="scrollable ? 'bbn-scroll' : 'div'"
                 class="bbn-w-100"
      >
        <table :style="{width: totalWidth}"
               ref="table"
               v-if="currentColumns.length">
          <colgroup>
            <template v-for="(groupCol, groupIndex) in groupCols">
              <col v-for="(col, i) in groupCol.cols"
                  v-show="!col.hidden"
                  :style="{width: col.realWidth + 'px'}"
                  :key="groupIndex + '-'+ i"
              >
            </template>
          </colgroup>
          <thead v-if="titles">
            <tr v-if="titleGroups">
              <template v-for="(groupCol, groupIndex) in groupCols">
                <th v-for="(col, i) in titleGroupsCells(groupIndex)"
                    :colspan="col.colspan"
                    :style="{
                      zIndex: (col.left !== undefined) || (col.right !== undefined) ? 4 : 3,
                      top: '0px',
                      left: col.left !== undefined ? (col.left + 'px') : '',
                      right: col.right !== undefined ? (col.right + 'px') : '',
                      width: col.width + 'px'
                    }"
                    :class="['bbn-c', 'bbn-header', 'bbn-table-fixed-cell', {
                      'bbn-table-fixed-cell-left': groupIndex === 0,
                      'bbn-table-fixed-cell-left-last': (groupIndex === 0) && !titleGroupsCells(groupIndex)[i+1],
                      'bbn-table-fixed-cell-right': groupIndex === 2,
                      'bbn-table-cell-first': (groupIndex === 1)
                        && titleGroupsCells(groupIndex).length
                        && (i === 0)
                    }]">
                  <component v-if="col.component"
                            :is="col.component"
                            :source="col"
                  ></component>
                  <div class="bbn-100 bbn-table-title-group" v-else>
                    <div :class="col.cls"
                        :style="col.style"
                        v-html="col.text"
                    ></div>
                  </div>
                </th>
              </template>
            </tr>
            <!-- Titles -->
            <tr>
              <template v-for="(groupCol, groupIndex) in groupCols">
                <th v-for="(col, i) in groupCol.cols"
                    v-show="!col.hidden"
                    :style="{
                      left: col.left !== undefined ? (col.left + 'px') : '',
                      right: col.right !== undefined ? (col.right + 'px') : '',
                      width: col.realWidth + 'px',
                      zIndex: (col.left !== undefined) || (col.right !== undefined) ? 4 : 3,
                      top: titleGroups ? '39px' : '0px'
                    }"
                    :class="['bbn-c', 'bbn-header', 'bbn-table-fixed-cell', {
                      'bbn-table-fixed-cell-left': groupIndex === 0,
                      'bbn-table-fixed-cell-left-last': (groupIndex === 0) && !groupCol.cols[i+1],
                      'bbn-table-fixed-cell-right': groupIndex === 2,
                      'bbn-table-cell-first': (groupIndex === 1)
                        && groupCols[0].cols.length
                        && (i === 0)
                    }]"
                >
                  <i :class="{
                      nf: true,
                      'nf-fa-filter': true,
                      'bbn-p': true,
                      'bbn-red': hasFilter(col)
                    }"
                    v-if="filterable && (col.filterable !== false) && ((col.filterable === true) || !col.buttons) && col.field"
                    @click="filterElement = $event.target; currentFilter = col;showFilter(col, $event)"
                  ></i>
                  <div v-if="col.isSelection" :title="_('Check all')">
                    <bbn-checkbox v-model="allRowsChecked"/>
                    <!-- @todo an icon for selecting all/none -->
                  </div>
                  <div v-else-if="col.isExpander" :title="_('Expand all')">
                    <!-- @todo an icon for expanding all/none -->
                  </div>
                  <component v-else-if="col.tcomponent"
                            :is="col.tcomponent"
                            :source="col"
                  ></component>
                  <span class="bbn-p"
                        v-else-if="sortable && (col.sortable !== false) && !col.buttons"
                        @click="sort(col)">
                    <span v-if="col.encoded"
                          v-text="col.title || col.field || ' '"
                          :title="col.ftitle || col.title || col.field"
                    ></span>
                    <span v-else
                          v-html="col.title || col.field || ' '"
                          :title="col.ftitle || col.title || col.field || ' '"
                    ></span>
                  </span>
                  <span v-else>
                    <span v-if="col.encoded"
                          v-text="col.title || col.field || ' '"
                          :title="col.ftitle || col.title || col.field || ' '"
                    ></span>
                    <span v-else
                          v-html="col.title || col.field || ' '"
                          :title="col.ftitle || col.title || col.field || ' '"
                    ></span>
                  </span>
                  <i v-if="isSorted(col)"
                    :class="{
                  'bbn-table-sortable-icon': true,
                  nf: true,
                  'nf-fa-caret_up': isSorted(col).dir === 'ASC',
                  'nf-fa-caret_down': isSorted(col).dir === 'DESC',
                }"></i>
                </th>
              </template>
            </tr>
          </thead>
          <tbody>
            <template v-for="(d, i) in items">
              <tr :key="i"
                  :index="d.index"
                  :tabindex="0"
                  @focusout="focusout(i, $event)"
                  @focusin="focusin(i, $event)"
                  @dblclick="() => {if ( focusedRow !== i ) { focusedRow = i }}"
                  :class="[{
                    'bbn-alt': d.expanderIndex !== undefined ? !!(d.expanderIndex % 2) : !!(d.rowIndex % 2),
                    'bbn-header': !!(d.aggregated || d.groupAggregated),
                  }, trClass ? trClass(d.data) : '']"
              >
                <!-- Group lines just have the cell with the expander and a single big cell -->
                <template v-if="groupable && d.group && currentColumns && currentColumns.length">
                  <td :class="(trClass ? (typeof trClass === 'function' ? trClass(d.data) : trClass) : '') + (currentColumns[0].fixed ? ' ' + cssRuleName + ' bbn-table-fixed-cell bbn-table-fixed-cell-left' : '')"
                      :style="{
                        left: currentColumns[0].left !== undefined ? currentColumns[0].left + 'px' : '',
                        width: currentColumns[0].realWidth
                      }">
                    <div @click="toggleExpanded(d.index)"
                        class="bbn-table-expander bbn-p bbn-unselectable bbn-spadded bbn-c"
                        v-if="d.expander"
                        @keydown.space="toggleExpanded(d.index)"
                        tabindex="0"
                        >
                      <i :class="'nf nf-fa-caret_' + (isExpanded(d) ? 'down' : 'right') + ' bbn-lg'"
                      ></i>
                    </div>
                  </td>
                  <td :class="currentClass(cols[group], d.data, i) + (currentColumns[0].fixed ? ' ' + cssRuleName + ' bbn-table-fixed-cell bbn-table-cell-left' : '')"
                      :style="{
                        left: currentColumns[1].left !== undefined ? currentColumns[1].left + 'px' : 'auto',
                        width: currentColumns[0].fixed && currentColumns[1].left ? (groupCols[0].width + groupCols[1].width + groupCols[2].width - currentColumns[1].left) + 'px' : 'auto',
                        borderRight: '0px',
                        overflow: 'unset'
                    }">
                    <div :class="['bbn-block', currentClass(cols[group], d.data, i), {'bbn-spadded': !cols[group].component}]"
                         :style="{
                            width: currentColumns[0].fixed && currentColumns[1].left ?
                              (groupCols[0].width + groupCols[1].width + groupCols[2].width - currentColumns[1].left) + 'px' :
                              'auto',
                            backgroundColor: 'transparent !important'
                          }">
                      <!--span v-if="!isGroupedCell(groupIndex, d)"></span-->
                      <component v-if="cols[group].component"
                                :is="cols[group].component"
                                class="bbn-spadded"
                                :source="d.data"/>
                      <div v-else
                           v-html="render(d.data, cols[group], d.index) + (d.expanded ? '' : ' (' + d.num + ')')"/>
                    </div>
                  </td>
                  <td :colspan="currentColumns.length - 2"
                      style="border-left: 0px"
                      :Class="(trClass ? (typeof trClass === 'function' ? trClass(d.data) : trClass) : '')"/>
                </template>
                <!--td v-else-if="d.expansion && !selection"
                    :class="col.fixed ? cssRuleName : ''"
                    :colspan="currentColumns.length">
                  &nbsp;
                </td-->
                <template v-else-if="d.expansion">
                  <td :class="(trClass ? (typeof trClass === 'function' ? trClass(d.data) : trClass) : '') + (currentColumns[0].fixed ? ' ' + cssRuleName + ' bbn-table-fixed-cell bbn-table-fixed-cell-left' : '')"
                      :style="{
                        left: currentColumns[0].left !== undefined ? currentColumns[0].left + 'px' : '',
                        width: currentColumns[0].realWidth
                      }"/>
                  <td :class="(trClass ? (typeof trClass === 'function' ? trClass(d.data) : trClass) : '') + (currentColumns[0].fixed ? ' ' + cssRuleName + ' bbn-table-fixed-cell bbn-table-cell-left' : '')"
                      :style="{
                        left: currentColumns[1].left !== undefined ? currentColumns[1].left + 'px' : 'auto',
                        width: currentColumns[0].isEpander ? (groupCols[0].width + groupCols[1].width + groupCols[2].width - currentColumns[0].width) - 1 + 'px' : 'auto',
                        borderRight: '0px',
                        overflow: 'unset'
                      }">
                    <div class="bbn-block"
                         :style="{
                            width: currentColumns[0].isExpander ?
                              (groupCols[0].width + groupCols[1].width + groupCols[2].width - currentColumns[0].width) - 1 + 'px' :
                              'auto',
                            backgroundColor: 'transparent !important'
                          }">
                      <component v-if="typeof(expander) !== 'function'"
                          :is="expander"
                          :source="d.data"/>
                      <div v-else
                           v-html="expander(d.data, i)"/>
                    </div>
                  </td>
                  <td :colspan="currentColumns.length - 2"
                      style="border-left: 0px"
                      :class="(trClass ? (typeof trClass === 'function' ? trClass(d.data) : trClass) : '')"/>
                </template>
                <td v-else
                    v-for="(col, index) in currentColumns"
                    :class="[currentClass(col, d.data, i), cssRuleName, {
                      'bbn-table-fixed-cell': !!col.fixed,
                      'bbn-table-fixed-cell-left': col.isLeft,
                      'bbn-table-fixed-cell-left-last': col.isLeft
                        && (!currentColumns[index+1] || !currentColumns[index+1].isLeft),
                      'bbn-table-fixed-cell-right': col.isRight,
                      'bbn-table-cell-first': !col.isLeft && !col.isRight && ((index === 0) || (!!currentColumns[index-1].isLeft))
                    }]"
                    :style="{
                      left: col.left !== undefined ? (col.left + 'px') : 'auto',
                      right: col.right !== undefined ? (col.right + 'px') : 'auto',
                      width: col.realWidth
                    }">
                  <div class="bbn-block bbn-spadded"
                      @click="clickCell(col, index, d.index)">
                    <!-- Checkboxes -->
                    <div v-if="col.isSelection" class="bbn-c bbn-w-100">
                      <bbn-checkbox v-if="d.selection"
                                    :checked="d.selected"
                                    :value="true"
                                    :novalue="false"
                                    :strict="true"
                                    @change="checkSelection(i)"
                                    class="bbn-middle bbn-flex"
                      ></bbn-checkbox>
                    </div>
                    <!-- Aggregate -->
                    <template v-else-if="d.aggregated || d.groupAggregated">
                      <span v-if="col.isAggregatedTitle"
                            :class="d.aggregated ? 'bbn-b' : ''"
                            v-text="aggregateExp[d.name]"
                      ></span>
                      <div v-else-if="col.aggregate"
                          v-html="render(d.data, col, i)"></div>
                      <span v-else></span>
                      <!-- The row is an aggregate and there are no other cells -->
                    </template>
                        <!-- Expander -->
                    <div v-else-if="col.isExpander"
                        @click="toggleExpanded(d.index)"
                        class="bbn-table-expander bbn-lg bbn-p bbn-unselectable bbn-c">
                      <i :class="'nf nf-fa-caret_' + (isExpanded(d) ? 'down' : 'right') + ' bbn-unselectable'"
                        v-if="d.expander"
                        tabindex="0"
                      ></i>
                      <span v-else>&nbsp;</span>
                    </div>
                    <template v-else>
                      <span class="bbn-table-dirty bbn-top-left"
                            v-if="isDirty(d, col, i)"></span>
                      <div v-if="isEdited(d.data, col, i)">
                        <div v-if="(editMode === 'inline') && (editable !== 'nobuttons') && (col.index === colButtons)">
                          <bbn-button :text="_('Save')"
                                      :disabled="!isEditedValid"
                                      icon="nf nf-fa-save"
                                      :notext="true"
                                      @focusin.stop=""
                                      @click.prevent.stop="saveInline"
                                      style="margin: 0 .1em"
                          ></bbn-button>
                          <bbn-button :text="_('Cancel')"
                                      icon="nf nf-fa-times"
                                      :notext="true"
                                      @focusin.stop=""
                                      @click.prevent.stop="cancel"
                                      style="margin: 0 .1em"
                          ></bbn-button>
                        </div>
                        <component v-else-if="(editMode === 'inline') && col.field && (col.editable !== false)"
                                  v-bind="getEditableOptions(col, d.data)"
                                  :is="getEditableComponent(col, d.data)"
                                  @click.stop=""
                                  v-model="editedRow[col.field]"
                                  style="width: 100%"
                        ></component>
                        <bbn-field v-else-if="col.field && !col.render && !col.buttons"
                                  v-bind="col"
                                  @click.stop=""
                                  :key="d.index"
                                  :value="d.data[col.field]"
                                  :data="d.data">
                        </bbn-field>
                        <div v-else-if="!col.buttons && col.render"
                            v-html="col.render(d.data, col, i)"></div>
                        <div v-else-if="!col.buttons" v-html="render(d.data, col, i)"></div>
                        <div v-else> </div>
                      </div>
                      <component v-else-if="col.component"
                                :is="col.component"
                                v-bind="col.options"
                                :source="col.mapper ? col.mapper(d.data) : d.data"
                      ></component>
                      <template v-else-if="col.buttons && (colButtons === index)">
                        <bbn-button v-for="(button, bi) in (Array.isArray(realButtons) ? realButtons : realButtons(d.data, col, i))"
                                    :key="bi"
                                    v-bind="button"
                                    @focusin.prevent.stop="() => {}"
                                    @focusout.prevent.stop="() => {}"
                                    @click.prevent.stop="_execCommand(button, d.data, col, i, $event)"
                                    style="margin: 0 .1em"
                        ></bbn-button>
                      </template>
                      <template v-else-if="col.buttons">
                        <bbn-button v-for="(button, bi) in (Array.isArray(col.buttons) ? col.buttons : col.buttons(d.data, col, i))"
                                    :key="bi"
                                    v-bind="button"
                                    @focusin.prevent.stop="() => {}"
                                    @focusout.prevent.stop="() => {}"
                                    @click.prevent.stop="_execCommand(button, d.data, col, i, $event)"
                                    style="margin: 0 .1em"
                        ></bbn-button>
                      </template>
                      <div v-else v-html="render(d.data, col, i)"></div>
                    </template>
                  </div>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </component>
    </div>

    
    <!-- Footer -->
    <bbn-pager class="bbn-table-footer"
               v-if="pageable || saveable || filterable || isAjax || showable"
               :element="_self"
               :buttons="footerButtons"
    ></bbn-pager>
  </div>
  <bbn-floater v-if="currentFilter"
               class="bbn-table-floating-filter bbn-widget"
               :element="filterElement"
               @close="currentFilter = false"
               :auto-hide="true"
               :width="600"
               :height="200"
               :scrollable="false"
               :left="floatingFilterX"
               :top="floatingFilterY">
    <bbn-filter v-bind="getFilterOptions()"
                @set="onSetFilter"
                @unset="unsetCurrentFilter"
    ></bbn-filter>
    <div v-if="multifilter"
         class="bbn-table-filter-link bbn-p bbn-b bbn-i"
         @click="openMultiFilter">
      <i class="zmdi zmdi-filter-list"></i>
      <span v-text="_('Open the full filter')"></span>
    </div>
  </bbn-floater>
  <bbn-popup ref="popup" v-if="inTable === false"></bbn-popup>
</div>
