<div :class="[{'bbn-full-screen': true}, componentClass]"
     @mousemove="checkFilterWindow"
>
  <div class="bbn-full-screen bbn-flex-height"
       v-if="cols.length && initReady"
  >
    <div v-if="toolbar"
         class="k-header bbn-w-100"
         ref="toolbar"
         style="min-height: 30px"
    >
      <div v-if="toolbarButtons.length" class="bbn-spadded">
        <bbn-button v-for="(button, i) in toolbarButtons"
                    class="bbn-hsmargin"
                    :key="i"
                    v-bind="button"
                    @click="_execCommand(button, i)"
        ></bbn-button>
      </div>
      <div v-else-if="typeof(toolbar) === 'function'"
           v-html="toolbar()"
      ></div>
      <component v-else
                 :is="toolbar"
      ></component>
    </div>

    <div class="bbn-table-container bbn-w-100 bbn-flex-fill bbn-flex-height">
      <!-- Titles part -->
      <div :class="{
            'bbn-table-titles': true,
            'bbn-table-titles-group': !!titleGroups
          }">
        <div class="bbn-full-screen bbn-flex-width">
          <!-- Looping the groups -->
          <div  v-for="(groupCol, groupIndex) in groupCols"
                :class="{
                  'bbn-table-part': true,
                  'bbn-flex-fill': groupCol.name === 'main'
                }"
                :style="{
                  width: groupCol.width + 'px',
                  overflow: groupCol.name === 'main' ? 'hidden' : 'visible'
                }"
                :ref="groupCol.name + 'Titles'"
                v-if="groupCol.cols.length"
          >
            <table class="bbn-table-t" :style="{width: groupCol.width + 'px'}">
              <colgroup>
                <col v-for="(col, i) in groupCol.cols"
                     v-show="!col.hidden"
                     :style="_headStyles(col)"
                     :key="i"
                >
              </colgroup>
              <tbody>
              <tr v-if="titleGroups"
                  class="k-widget k-header"
              >
                <td v-for="col in titleGroupsCells(groupIndex)"
                    :colspan="col.colspan">
                  <component v-if="col.component"
                             :is="col.component"
                             :source="col"
                  ></component>
                  <div class="bbn-100 bbn-table-title-group" v-else>
                    <div :class="col.cls"
                         :style="col.style"
                         v-html="col.text"
                    ></div>
                  </div>
                </td>
              </tr>
              <!-- Titles -->
              <tr class="k-widget k-header">
                <td v-for="(col, i) in groupCol.cols"
                    v-show="!col.hidden"
                    class="bbn-c"
                >
                  <i :class="{
                       fa: true,
                       'fa-filter': true,
                       'bbn-p': true,
                       'bbn-red': hasFilter(col)
                     }"
                     v-if="filterable && (col.filterable !== false) && !col.buttons && col.field"
                     @click="showFilter(col, $event)"
                  ></i>
                  <component v-if="col.tcomponent"
                             :is="col.tcomponent"
                             :source="col"
                  ></component>
                  <a href="javascript:;"
                     class="k-link"
                     v-else-if="sortable && (col.sortable !== false) && !col.buttons"
                     @click="sort(col)"
                  >
                    <span v-if="col.encoded"
                          v-text="col.title || col.field || ' '"
                          :title="col.ftitle || col.title || col.field"
                    ></span>
                    <span v-else
                          v-html="col.title || col.field || ' '"
                          :title="col.ftitle || col.title || col.field || ' '"
                    ></span>
                  </a>
                  <span v-else>
                    <span v-if="col.encoded"
                          v-text="col.title || col.field || ' '"
                          :title="col.ftitle || col.title || col.field || ' '"
                    ></span>
                    <span v-else
                          v-html="col.title || col.field || ' '"
                          :title="col.ftitle || col.title || col.field || ' '"
                    ></span>
                  </span>
                  <i v-if="isSorted(col)"
                     :class="{
                   'bbn-table-sortable-icon': true,
                   fa: true,
                   'fa-caret-up': isSorted(col).dir === 'ASC',
                   'fa-caret-down': isSorted(col).dir === 'DESC',
                 }"></i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Data part -->
      <div class="bbn-table-data bbn-flex-fill" ref="data">
        <div class="bbn-full-screen bbn-flex-width">
          <div  v-for="(groupCol, groupIndex) in groupCols"
                :class="{
                  'bbn-table-part': true,
                  'bbn-flex-fill': groupCol.name === 'main'
                }"
                :style="{width: groupCol.name === 'main' ? 'auto' : groupCol.width + 'px'}"
                :ref="groupCol.name + 'Data'"
                v-if="groupCol.cols.length"
          >
            <!-- Fixed data -->
            <bbn-scroll :ref="groupCol.name + 'Scroller'"
                        :axis="groupCol.name === 'main' ? 'x' : 'none'"
                        :scroll-also="groupCol.name === 'main' ? [getRef('mainTitles')] : dataScrollContents"
            >
              <h3 v-if="isLoading"> </h3>
              <table v-else-if="currentSet.length"
                     :class="'bbn-table-data-' + groupCol.name + ' bbn-table-t'"
                     :style="{width: groupCol.width + 'px'}"
              >
                <colgroup>
                  <col v-for="(col, i) in groupCol.cols"
                       v-show="!col.hidden"
                       :style="_headStyles(col)"
                       :key="i"
                  >
                </colgroup>
                <tbody>
                <tr v-for="(d, i) in currentSet"
                    :key="i"
                    :index="d.index"
                    :tabindex="groupCol.name === 'main' ? 0 : null"
                    :class="[{
                      'k-widget': true,
                      'k-alt': !!(d.index % 2),
                      'k-header': !!(d.aggregated || d.groupAggregated),
                      'k-state-hover': currentIndex === d.index
                    }, trClass ? trClass(d.data) : '']"
                    @focusin="focusedRow = i"
                    @focusout="focusedRow = false"
                    @mouseover="currentIndex = d.index"
                >
                  <!-- Checkboxes -->
                  <td v-if="selection && (
                              (groupIndex === 0) ||
                              !groupCols[groupIndex-1].cols.length
                            )">
                    <bbn-checkbox v-if="(typeof(selection) !== 'function') || selection(d)"
                                  v-model="d.selected"
                                  :value="true"
                                  :novalue="false"
                                  :strict="true"
                                  @change="checkSelection(d.index)"
                    ></bbn-checkbox>
                  </td>
                  <!-- Expander -->
                  <td v-if="((groupable && d.group) || d.expander) && (
                              (groupIndex === 0) ||
                              !groupCols[groupIndex-1].cols.length
                            )">
                    <i :class="'bbn-p fa fa-caret-' + (isExpanded(d) ? 'down' : 'right')"
                       v-if="d.expander"
                       @click="toggleExpanded(d.index)"
                       tabindex="0"
                    ></i>
                  </td>
                  <!-- Group By on the main table, where the group value is -->
                  <td v-if="groupable && d.group && (groupIndex === 1)"
                      :colspan="groupCol.visible">
                    <component v-if="cols[group].component"
                               :is="cols[group].component"
                               :source="d.data"
                    ></component>
                    <div v-else v-html="render(d.data, cols[group], d.index) + ' (' + d.num + ')'"></div>
                  </td>
                  <!-- Group By on the other cells of the row where the expander is  -->
                  <td v-else-if="groupable &&
                                 d.group && (
                                  (groupIndex===0) ||
                                  !groupCols[groupIndex-1].cols.length
                                ) &&
                                (groupCol.visible > (selection ? 2 : 1))"
                      :colspan="groupCol.visible - (selection ? 2 : 1)">
                  </td>
                  <td v-else-if="groupable && d.group && groupCols.visible" :colspan="groupCol.visible">

                  </td>
                  <td v-else-if="(groupIndex !== 1) && d.expansion && !selection"
                      :colspan="groupCol.visible">
                    &nbsp;
                  </td>
                  <td v-else-if="d.expansion" :colspan="groupCol.visible">
                    <component v-if="typeof(expander) !== 'function'"
                               :is="expander"
                               :source="d.data"
                    ></component>
                    <div v-else v-html="expander(d.data, i)"></div>
                  </td>
                  <td v-for="(col, j) in groupCol.cols"
                      v-if="hasTd(d, j, groupIndex)"
                      v-show="!col.hidden"
                      :style="_bodyStyles(col)"
                      :class="currentClass(col, d.data, i)"
                      :key="j"
                  >
                    <div v-if="editable && d.isEdited && isEditable(d.data, col, i)">
                      <div v-if="(editMode === 'inline') && (col.index === colButtons)">
                        <bbn-button :text="_('Save')"
                                    :disabled="!isEditedValid"
                                    icon="fa fa-save"
                                    :notext="true"
                                    @click="$emit('saveItem', editedRow)"
                        ></bbn-button>
                        <bbn-button :text="_('Cancel')"
                                    icon="fa fa-times"
                                    :notext="true"
                                    @click="cancel"
                        ></bbn-button>
                      </div>
                      <component v-else-if="(editMode === 'inline') && col.field && (col.editable !== false)"
                                 v-bind="getEditableOptions(col, d.data)"
                                 :is="getEditableComponent(col, d.data)"
                                 v-model="editedRow[col.field]"
                                 style="width: 100%"
                      ></component>
                      <div v-else-if="!col.buttons" v-html="render(d.data, col, i)"></div>
                      <div v-else> </div>
                    </div>
                    <div v-else-if="
                      d.aggregated && (
                        (
                          groupCol.cols[j+1] &&
                          (groupCol.cols[j+1].field === isAggregated)
                        ) ||
                        (
                          !groupCol.cols[j+1] &&
                          groupCols[groupIndex+1] &&
                          groupCols[groupIndex+1].cols[0] &&
                          (groupCols[groupIndex+1].cols[0].field === isAggregated)
                        )
                      )"
                         class="bbn-b"
                         v-html="aggregateExp[d.name]"
                    ></div>
                    <!-- The row is an aggregate and there are no other cells -->
                    <div v-else-if="
                      d.aggregated &&
                      (col.field !== isAggregated)">
                    </div>
                    <div v-else-if="
                      d.groupAggregated && (
                        (
                          groupCol.cols[j+1] &&
                          (groupCol.cols[j+1].field === isAggregated)
                        ) ||
                        (
                          !groupCol.cols[j+1] &&
                          groupCols[groupIndex+1] &&
                          groupCols[groupIndex+1].cols[0] &&
                          (groupCols[groupIndex+1].cols[0].field === isAggregated)
                        )
                      )"
                         class="bbn-b"
                         v-html="aggregateExp[d.name]"
                    ></div>
                    <div v-else-if="d.groupAggregated && (col.field !== isAggregated)"> </div>
                    <component v-else-if="col.component"
                               :key="d.index"
                               :is="col.component"
                               :source="col.mapper ? col.mapper(d.data) : d.data"
                               v-bind="col.options"
                    ></component>
                    <div v-else-if="col.buttons">
                      <bbn-button v-for="(button, j) in (Array.isArray(col.buttons) ? col.buttons : col.buttons(d.data, col, i))"
                                  :key="j"
                                  v-bind="button"
                                  @click="_execCommand(button, d.data, col, i)"
                      ></bbn-button>
                    </div>
                    <bbn-field v-else-if="col.field && !col.render"
                               v-bind="col"
                               :key="d.index"
                               :value="d.data[col.field]"
                               :data="d.data">
                    </bbn-field>
                    <div v-else v-html="render(d.data, col, i)"></div>
                    <span class="bbn-table-dirty"
                          v-if="isDirty(d, col, i)"></span>
                  </td>
                  <td v-if="d.expanded" :colspan="groupCol.visible">Expander</td>
                </tr>
                </tbody>
              </table>
              <div v-else class="bbn-full-screen bbn-middle bbn-lg">
                <div v-if="groupCol.name === 'main'"
                     class="bbn-block"
                     v-text="_('No data...')"></div>
              </div>
            </bbn-scroll>

          </div>

          <!-- Right vertical scroller -->
          <bbn-scroll-y v-if="currentData.length && groupCols[1].cols.length && getRef('mainScroller') && getRef('mainScroller').ready"
                        ref="scrollerY"
                        :scroller="getRef('mainScroller')"
                        :scroll-also="dataScrollContents"
                        :hidden="hiddenScroll"
          ></bbn-scroll-y>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="bbn-table-footer k-grid-pager k-widget k-floatwrap"
         v-if="pageable || saveable || filterable || isAjax || showable"
    >
      <div class="bbn-block"
           v-if="pageable"
      >
        <bbn-button icon="fa fa-angle-double-left"
                    :notext="true"
                    :title="_('Go to the first page')"
                    :disabled="isLoading || (currentPage == 1)"
                    @click="currentPage = 1"
        ></bbn-button>
        <bbn-button icon="fa fa-angle-left"
                    :notext="true"
                    :title="_('Go to the previous page')"
                    :disabled="isLoading || (currentPage == 1)"
                    @click="currentPage--"
        ></bbn-button>
        <Page
        <bbn-numeric v-if="currentData.length"
                     v-model="currentPage"
                     :min="1"
                     :max="numPages"
                     style="margin-right: 0.5em; width: 6em"
                     :disabled="isLoading"
        ></bbn-numeric>
        de {{numPages}}
        <bbn-button icon="fa fa-angle-right"
                    :notext="true"
                    :title="_('Go to the next page')"
                    :disabled="isLoading || (currentPage == numPages)"
                    @click="currentPage++"
        ></bbn-button>
        <bbn-button icon="fa fa-angle-double-right"
                    :notext="true"
                    :title="_('Go to the last page')"
                    @click="currentPage = numPages"
                    :disabled="isLoading || (currentPage == numPages)"
        ></bbn-button>
        <span class="k-pager-sizes k-label">
          <bbn-dropdown :source="limits"
                        v-model.number="currentLimit"
                        @change="currentPage = 1"
                        :disabled="!!isLoading"
          ></bbn-dropdown>
          <span>articles par page</span>
        </span>
      </div>
      <div class="bbn-block" style="float: right">
        <span v-if="pageable"
              v-text="_('Display items') + ' ' + (start+1) + '-' + (start + currentLimit > total ? total : start + currentLimit) + ' ' + _('of') + ' ' + total"
        ></span>
        <span v-else
              v-text="total ? _('Total') + ': ' + total + ' ' + _('items') : _('No item')"
        ></span>
        &nbsp;
        <bbn-button v-if="saveable"
                    :disabled="isSaved"
                    :title="_('Save current configuration')"
                    @click="$emit('save', currentConfig)"
                    icon="fa fa-save"
        ></bbn-button>
        <bbn-button v-if="filterable || showable"
                    :disabled="!isChanged"
                    :title="_('Reset to original configuration')"
                    @click="reset"
                    icon="zmdi zmdi-time-restore-setting"
        ></bbn-button>
        <bbn-button v-if="showable"
                    :title="_('Columns\' picker')"
                    @click="openColumnsPicker"
                    icon="fa fa-columns"
        ></bbn-button>
        <bbn-button v-if="filterable && multifilter"
                    :title="_('Multi Filter')"
                    :class="{'bbn-red': currentFilters && currentFilters.conditions.length ? true : false}"
                    @click="openMultiFilter"
                    icon="zmdi zmdi-filter-list"
        ></bbn-button>
        <bbn-button v-if="isAjax"
                    :title="_('Refresh')"
                    @click="updateData"
                    icon="fa fa-refresh"
        ></bbn-button>
      </div>

    </div>
  </div>
  <div v-if="currentFilter"
       class="bbn-table-floating-filter k-widget"
       :style="{
        left: floatingFilterX + 'px',
        top: floatingFilterY + 'px'
       }"
  >
    <bbn-filter v-bind="getFilterOptions()"
                @set="onSetFilter"
                @unset="unsetCurrentFilter"
    ></bbn-filter>
    <div v-if="multifilter"
         class="bbn-table-filter-link bbn-p bbn-b bbn-i"
         @click="openMultiFilter(); currentFilter = false;">
      <i class="zmdi zmdi-filter-list"></i>
      <span v-text="_('Open the full filter')"></span>
    </div>
  </div>
</div>
