<div class="bbn-appui bbn-observer bbn-overlay"
     :style="{opacity: opacity}">
  <div v-if="!cool"
       class="bbn-middle bbn-xl"
       v-text="_('Appui is already defined') + '... :('">
  </div>
  <bbn-splitter v-else-if="ready"
                orientation="vertical"
                ref="splitter">
    <!-- HEADER -->
    <bbn-pane v-if="header"
              :size="50"
              :scrollable="false"
              ref="head"
              overflow="visible">
      <div :class="{
        'bbn-header': true,
        'bbn-100': true,
        'bbn-flex-width': true,
        'bbn-unselectable': true,
        'bbn-no-border': true,
      }">
        <!-- MENU BUTTON -->
        <div class="bbn-block bbn-h-100 bbn-menu-button-container"
             style="width: 50px; margin-right: 90px">
          <div tabindex="0"
               @keydown.enter="toggleMenu"
               @keydown.space="toggleMenu"
               @mousedown.prevent.stop="toggleMenu"
               class="bbn-overlay bbn-centered bbn-p">
            <i ref="icon" class="nf nf-fa-bars bbn-xxxl"> </i>
          </div>
        </div>
        <!-- SEARCHBAR -->
        <div class="bbn-abs bbn-h-100 bbn-vspadded"
             style="left: 50px; right: 140px; top: auto">
          <!--<bbn-search source="adherents"
                      :placeholder="searchBar.placeholderFocused"
                      ref="search"
                      @select="searchBar.select"
                      component="apst-search-item"
                      v-model="searchBar.value"
                      :source-value="searchBar.sourceValue"
                      :source-text="searchBar.sourceText"
                      :min-length="searchBar.minLength"
          >
          </bbn-search>-->
          <bbn-search :source="searchBar.source"
                      :placeholder="searchBar.placeholderFocused"
                      ref="search"
                      @select="searchBar.select"
                      :component="searchBar.component"
                      v-model="searchBar.value"
                      :suggest="true"
                      :source-value="searchBar.sourceValue"
                      :source-text="searchBar.sourceText"
                      :min-length="searchBar.minLength"
                      class="bbn-no"
          >
          </bbn-search>
        </div>
<!-- CENTRAL PART -->
        <div class="bbn-h-100 bbn-splitter-top-center bbn-flex-fill ">
          <!-- FISHEYE -->
          <bbn-fisheye v-if="plugins['appui-menu']"
                       style="z-index: 3"
                       v-show="'?' !== searchBar.value"
                       :class="{
                         'bbn-invisible': $refs.search && $refs.search.isFocused,
                         'bbn-spadded': true
                        }"
                       :removable="true"
                       @remove="removeShortcut"
                       ref="fisheye"
                       :source="shortcuts"
                       :fixed-left="leftShortcuts"
                       :fixed-right="rightShortcuts">
          </bbn-fisheye>
          <div v-else>
            Not a menu
          </div>
        </div>
        <!-- LOGO -->
        <div class="bbn-block bbn-h-100 bbn-logo-container" style="width: 140px">
          <div class="apst-logo bbn-100 bbn-r">
            <img :src="logo + '?t=2'" border="0" class="bbn-h-100 bbn-right-space">
          </div>
        </div>
        <!-- DEBUGGER? -->
        <div v-if="debug"
             class="bbn-widget"
             :style="{
               position: 'absolute',
               top: '0px',
               right: '0px',
               width: isOverDebug ? 'auto' : '200px',
               height: isOverDebug ? 'auto' : '200px',
               minWidth: '200px',
               minHeight: '200px',
               maxWidth: '200px',
               maxHeight: 'px',
               overflow: isOverDebug ? 'auto' : 'hidden'
             }"
             @mouseenter="isOverDebug = true"
             @mouseleave="isOverDebug = false">
          <h2>Debug...</h2>
        </div>
      </div>
    </bbn-pane>
    <!-- MAIN -->
    <bbn-pane ref="main">
      <!--bbn-split-tabs v-if="tabnav"
                      orientation="horizontal"
                      ref="tabnav"
                      :root="root"
                      :resizable="true"
                      :observer="true"
                      :source="source">
      </bbn-split-tabs-->
      <bbn-router :autoload="!!nav"
                  :root="root"
                  :source="source"
                  :storage="!!nav"
                  :observer="true"
                  :menu="tabMenu"
                  ref="nav"
                  :nav="nav"
                  :master="true"
                  :class="{'bbn-overlay': !nav}"
                  :url="!!nav ? undefined : url"
      >
        <slot></slot>
      </bbn-router>
    </bbn-pane>
    <!-- STATUS -->
    <bbn-pane v-if="status"
              :size="25"
              :scrollable="false"
              ref="foot"
              class="bbn-header bbn-bordered-top"
              overflow="visible">
      <div class="bbn-flex-width bbn-h-100">
        <!-- LOADBAR -->
        <div class="bbn-flex-fill bbn-h-100 bbn-right-space">
          <bbn-loadbar v-if="loaders" ref="loading" :source="loaders"></bbn-loadbar>
        </div>
        <!-- TASK TRACKER -->
        <div v-if="plugins['appui-task']"
            class="bbn-h-100 bbn-vmiddle bbn-right-space"
        >
          <appui-task-tracker></appui-task-tracker>
        </div>
        <!-- CHAT -->
        <div v-if="plugins['appui-chat']"
             :class="['bbn-h-100', 'bbn-vmiddle', {'bbn-right-space': getRef('chat') && getRef('chat').usersOnlineWithoutMe.length}]"
        >
          <bbn-chat ref="chat"
                    :url="plugins['appui-chat']"
                    :user-id="app.user.id"
                    :users="app.users"
                    :online-users="usersOnline"
                    :online="chatOnline"
                    @send="sendChatMessage"
                    :groups="app.groups"
          >
          </bbn-chat>
        </div>
        <!-- CLIPBOARD BUTTON -->
        <div v-if="plugins['appui-clipboard'] && clipboard"
             @click.stop="getRef('clipboard').toggle()"
             ref="clipboardButton"
             :class="['bbn-appui-clipboard-button bbn-h-100 bbn-vmiddle bbn-block bbn-c bbn-right-space bbn-p']">
          <i class="nf nf-fa-clipboard bbn-m" tabindex="-1"></i>
          <input class="bbn-invisible bbn-overlay bbn-p"
                 @click.stop="getRef('clipboard').toggle()"
                 @keydown.space.enter.prevent="getRef('clipboard').toggle()"
                 @drop.prevent.stop="getRef('clipboard').copy($event); getRef('clipboard').show()">
        </div>
      </div>
    </bbn-pane>
  </bbn-splitter>
  <!-- TREEMENU -->
  <bbn-slider v-if="plugins['appui-menu']"
              orientation="left"
              ref="slider"
              style="width: 35em"
              @show="focusSearchMenu"
              close-button="top-right">
    <bbn-treemenu :source="plugins['appui-menu'] + '/data'"
                  v-if="$refs.slider && $refs.slider.hasBeenOpened"
                  ref="menu"
                  @select="$refs.slider.hide()"
                  :menus="menus"
                  :current="currentMenu"
                  :top="50"
                  :shortcuts="true"
                  @shortcut="addShortcut"
                  @ready="menuMounted = true">
    </bbn-treemenu>
  </bbn-slider>
  <!-- CLIPBOARD SLIDER -->
  <bbn-clipboard v-if="plugins['appui-clipboard'] && clipboard"
                 :storage="true"
                 ref="clipboard"
                 :source="clipboardContent"
                 style="z-index: 13">
  </bbn-clipboard>

  <!-- POPUPS -->
  <bbn-popup :source="popups"
             ref="popup"
             :z-index="14">
  </bbn-popup>
  <!-- NOTIFICATIONS -->
  <bbn-notification ref="notification" :z-index="15"></bbn-notification>
  <!-- APP COMPONENT -->
  <component ref="app" :is="appComponent"></component>
</div>
