.bbn-appui{
  box-sizing: border-box;
  transition: opacity 0.5s;
  overflow: hidden;
  .appui-statusbar {
    height: 1.8em;
  }
  .bbn-appui-clipboard-button{
    transition: all 0.25s;
    background-color: transparent;
    color: inherit;
  }
  .bbn-appui-clipboard-button:hover, .bbn-appui-clipboard-button:active, .bbn-appui-clipboard-button:focus-within{
    background-color: green;
    color: white;
  }
  .bbn-appui-clipboard{
    min-width: 25em;
    max-width: 50vw;
    li{
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &.bbn-mobile {
    zoom: 1.3;
  }
}