<div class="bbn-appui bbn-observer bbn-overlay"
     style="opacity: 0;">
  <div v-if="!cool"
       class="bbn-middle bbn-xl"
       v-text="_('Appui is already defined') + '... :('">
  </div>
  <bbn-splitter v-else-if="isMounted"
                orientation="vertical"
                ref="splitter">
    <!-- HEADER -->
    <bbn-pane v-if="header"
              :size="50"
              :scrollable="false"
              ref="head"
              overflow="visible">
      <div class="bbn-header bbn-100 bbn-flex-width bbn-unselectable bbn-no-border">
        <!-- MENU BUTTON -->
        <div class="bbn-block bbn-h-100 bbn-middle bbn-menu-button-container"
             style="width: 70px; margin-right: 70px">
          <div tabindex="0"
               @keydown.enter="toggleMenu"
               @keydown.space="toggleMenu"
               @mousedown.prevent.stop="toggleMenu"
               class="bbn-overlay bbn-middle bbn-p">
            <i ref="icon" class="nf nf-fa-bars bbn-xxxl"> </i>
          </div>
        </div>
        <!-- SEARCHBAR -->
        <div class="bbn-abs bbn-h-100 bbn-vspadded"
             style="left: 70px; right: 140px; top: auto">
          <bbn-search source="adherents"
                      :placeholder="searchBar.placeholderFocused"
                      ref="search"
                      @select="searchBar.select"
                      component="apst-search-item"
                      v-model="searchBar.value"
                      :source-value="searchBar.sourceValue"
                      :source-text="searchBar.sourceText"
                      :min-length="searchBar.minLength"
          >
          </bbn-search>
        </div>
<!-- CENTRAL PART -->
        <div class="bbn-h-100 bbn-splitter-top-center bbn-flex-fill ">
          <!-- FISHEYE -->
          <bbn-fisheye v-if="plugins['appui-menu']"
                       style="z-index: 3"
                       :class="{
                         'bbn-invisible': $refs.search && $refs.search.isFocused,
                         'bbn-spadded': true
                        }"
                       :removable="true"
                       @remove="removeShortcut"
                       ref="fisheye"
                       :source="shortcuts"
                       :fixed-left="leftShortcuts"
                       :fixed-right="rightShortcuts">
          </bbn-fisheye>
          <div v-else>
            Not a menu
          </div>
        </div>
        <!-- LOGO -->
        <div class="bbn-block bbn-h-100 bbn-logo-container" style="width: 140px">
          <div class="apst-logo bbn-100 bbn-r">
            <img :src="logo + '?t=2'" border="0" class="bbn-h-100 bbn-right-space">
          </div>
        </div>
        <!-- DEBUGGER? -->
        <div v-if="debug"
             class="bbn-widget"
             :style="{
               position: 'absolute',
               top: '0px',
               right: '0px',
               width: isOverDebug ? 'auto' : '200px',
               height: isOverDebug ? 'auto' : '200px',
               minWidth: '200px',
               minHeight: '200px',
               maxWidth: '200px',
               maxHeight: 'px',
               overflow: isOverDebug ? 'auto' : 'hidden'
             }"
             @mouseenter="isOverDebug = true"
             @mouseleave="isOverDebug = false">
          <h2>Debug...</h2>
        </div>
      </div>
    </bbn-pane>
    <!-- MAIN -->
    <bbn-pane ref="main">
      <bbn-tabnav v-if="tabnav"
                  :autoload="true"
                  :root="root"
                  :source="source"
                  :storage="true"
                  :observer="true"
                  ref="tabnav">
        <slot></slot>
      </bbn-tabnav>
      <bbn-router v-else
                  ref="tabnav"
                  :source="source"
                  :root="root">
        <slot></slot>
      </bbn-router>
    </bbn-pane>
    <!-- STATUS -->
    <bbn-pane v-if="status"
              :size="25"
              :scrollable="false"
              ref="foot"
              class="bbn-header bbn-bordered-top"
              overflow="visible">
      <div class="bbn-flex-width bbn-h-100">
        <div class="bbn-flex-fill bbn-h-100">
          <bbn-loadbar v-if="loaders" ref="loading" :source="loaders"></bbn-loadbar>
        </div>
        <div v-if="plugins['appui-task']"
            class="bbn-h-100 bbn-vmiddle"
            style="width: 8rem;"
        >
          <appui-task-tracker></appui-task-tracker>
        </div>
        <div class="bbn-h-100 bbn-vmiddle" style="width: 8rem;">
          <bbn-chat v-if="plugins['appui-chat']"
                    ref="chat"
                    :url="plugins['appui-chat']"
                    :user-id="app.user.id"
                    :users="app.users"
                    :online-users="usersOnline"
                    :online="chatOnline"
                    @send="sendChatMessage"
                    :groups="app.groups"
          >
          </bbn-chat>
        </div>
      </div>
    </bbn-pane>
  </bbn-splitter>
  <!-- TREEMENU -->
  <bbn-treemenu v-if="plugins['appui-menu']"
                :source="plugins['appui-menu'] + '/data'"
                ref="menu"
                :menus="menus"
                :current="currentMenu"
                :top="50"
                style="width: 35em"
                :shortcuts="true"
                @shortcut="addShortcut"
                @ready="menuMounted = true">
  </bbn-treemenu>
  <!-- POPUPS -->
  <bbn-popup :source="popups"
             ref="popup"
             :z-index="14">
  </bbn-popup>
  <!-- NOTIFICATIONS -->
  <bbn-notification ref="notification" :z-index="15"></bbn-notification>
  <!-- APP COMPONENT -->
  <component ref="app" :is="appComponent"></component>
</div>
