.bbn-appui{
  box-sizing: border-box;
  transition: opacity 0.5s;
  overflow: hidden;
  max-width: 100%;
  .bbn-appui-menu-button {
    min-width: 50px;
    width: 50px;
    margin-right: 90px;
  }
  .bbn-mobile & .bbn-appui-fisheye {
    min-height: 4em;
    width: 2.7em;
  }
  .bbn-appui-logo {
    border: 0;
    max-height: 100%;
    max-width: 100%;
    width: auto;
  }
  .bbn-mobile & .bbn-appui-logo {
    max-width: 90%;
    height: auto;
    max-height: 4em;
  }
  .bbn-appui-search {
    left: 50px;
    right: 140px;
    top: auto;
  }
  .bbn-mobile & .bbn-appui-search {
    width: 4.2em;
    justify-content: flex-end;
    left: unset;
    right: unset;
    top: unset;
  }
  .appui-statusbar {
    height: 1.8em;
  }
  .bbn-appui-clipboard-button{
    transition: all 0.25s;
    background-color: transparent;
    color: inherit;
  }
  .bbn-appui-clipboard-button:hover, .bbn-appui-clipboard-button:active, .bbn-appui-clipboard-button:focus-within{
    background-color: green;
    color: white;
  }
  .bbn-appui-clipboard{
    min-width: 25em;
    max-width: 50vw;
    li{
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &.bbn-mobile {
    //zoom: 1.3;
  }
}