<div :class="['bbn-overlay', 'bbn-middle', componentClass]"
     :style="'background-color:' + bgColor + '; transition: opacity 3s'">
  <bbn-popup ref="popup"
             v-if="!popup"
            :top="0"
            :bottom="0"
            :left="0"
            :right="0"/>
  <h2 v-if="hasExpired">
    <span class="bbn-nowrap" v-text="_('Refresh the page')"/>
    <span class="bbn-nowrap" v-text="_('to be able to log in')"/>
    <span class="bbn-nowrap">
      <span v-text="_('or click')"/>
      <a class="bbn-p bbn-u"
         style="color: inherit"
         href="javascript:;"
         @click="reload"
         v-text="_('here')"/>
    </span>
  </h2>
  <div v-else
       class="bbn-login-container"
       :style="{maxHeight: clientHeight + 'px'}">
    <div class="bbn-login-logo bbn-c bbn-block">
      <div v-if="isLogoTag"
                v-html="logo"></div>
      <img v-else-if="logo" :src="logo">
    </div>
    <div class="bbn-vlmargin bbn-block bbn-c">
      <div v-if="currentMode === 'invalid'"
            class="bbn-block">
        <h3 class="bbn-c"
            v-text="_('The link is not valid')"/>
        <h3>
          <a href="javascript:;"
             class="bbn-no"
             @click="currentMode = 'login'"
             v-text="_('Back to the login page')"/>
        </h3>
      </div>
      <bbn-form :action="currentUrl"
                :source="currentFormData"
                :data="{mode: currentMode}"
                :buttons="[]"
                :scrollable="false"
                :fixed-footer="false"
                ref="form"
                @submit="onSubmit"
                @success="onAfterSubmit"
                key="form"
                :validation="validation"
                v-else
      >
        <div v-if="currentMode === 'login'"
             class="bbn-w-100">
          <div class="bbn-w-100 bbn-c bbn-vsmargin">
            <bbn-input class="bbn-c bbn-w-100"
                      required="required"
                      button-left="nf nf-fa-envelope_o"
                      :nullable="true"
                      :placeholder="loginFieldPlaceholder"
                      v-model="currentFormData.user"/>
          </div>
          <div class="bbn-w-100 bbn-c">
            <bbn-input type="password"
                       class="bbn-c bbn-w-100"
                       required="required"
                       button-left="nf nf-fa-lock"
                       :nullable="true"
                       :placeholder="passwordFieldPlaceholder"
                       v-model="currentFormData.pass"/>
          </div>
          <div class="bbn-c bbn-w-100 bbn-vsmargin bbn-flex-width">
            <bbn-button type="button"
                        @click="$refs.form.submit()"
                        :text="_('Log in')"/>
            <div :class="['bbn-w-100', 'bbn-r', currentFontSizeClass]"
                 v-if="passwordLink">
              <a class="bbn-p"
                 @click="currentMode = 'lost'"
                 v-text="passwordLink"/>
            </div>
          </div>
        </div>
        <div v-else-if="currentMode === 'lost'"
             class="bbn-w-100">
          <div class="bbn-w-100 bbn-c bbn-vsmargin">
            <bbn-input button-left="nf nf-fa-envelope_o"
                       class="bbn-w-100"
                       required="required"
                       :placeholder="_('Enter your e-mail address')"
                       v-model="currentFormData.email"
            ></bbn-input>
          </div>
          <div class="bbn-c bbn-w-100">
            <bbn-button type="button"
                        class="bbn-right-sspace"
                        @click="currentMode = 'login'"
                        :text="_('Cancel')"/>
            <bbn-button type="button"
                        @click="$refs.form.submit()"
                        :text="_('Send')"/>
          </div>
        </div>
        <div v-else-if="currentMode === 'change'"
             class="bbn-w-100">
          <div class="bbn-w-100 bbn-c bbn-vsmargin">
            <bbn-input :type="!!passwordVisible ? 'text' : 'password'"
                      class="bbn-c bbn-w-100"
                      style="min-width: 20rem"
                      required="required"
                      :title="_('Mandatory field, 8 characters minimum')"
                      :placeholder="_('Choose your new password')"
                      :button-right="passwordVisible ? 'nf nf-fa-eye_slash' : 'nf nf-fa-eye'"
                      ref="pass1"
                      pattern=".{8,}"
                      v-model="currentFormData.pass1"
                      @clickRightButton="passwordVisible = !passwordVisible"/>
          </div>
          <div class="bbn-c bbn-w-100 bbn-vsmargin">
            <bbn-input :type="!!passwordVisible ? 'text' : 'password'"
                      class="bbn-c bbn-w-100"
                      style="min-width: 20rem"
                      required="required"
                      :title="_('Mandatory field, 8 characters minimum')"
                      :placeholder="_('Confirm your new password')"
                      :button-right="passwordVisible ? 'nf nf-fa-eye_slash' : 'nf nf-fa-eye'"
                      ref="pass1"
                      pattern=".{8,}"
                      v-model="currentFormData.pass2"
                      @clickRightButton="passwordVisible = !passwordVisible"/>
          </div>
          <div v-if="note"
               class="bbn-s bbn-i"
               v-text="note"/>
          <div class="bbn-c bbn-vmargin bbn-flex-width bbn-w-100">
            <bbn-button type="button"
                        @click="$refs.form.submit()"
                        :text="_('Send')"/>
          </div>
        </div>
      </bbn-form>
    </div>
  </div>
</div>
