.bbn-clipboard{
  min-width: 32em;
  li{
    .bbn-clipboard-buttons{
      width: 12em;
    }
    .bbn-clipboard-text{
      max-width: 40vw;
      min-width: 15em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden
    }
  }
}