<bbn-slider :orientation="orientation"
            :class="componentClass"
            ref="slider"
            :visible="false"
            @show="isOpened = true"
            @hide="isOpened = false"
>
  <div class="bbn-h-100 bbn-flex-height bbn-vpadded" v-if="isOpened">
    <div class="bbn-xl bbn-c bbn-w-100 bbn-vpadded" v-if="!items.length && !search.length">
      <i class="nf nf-fa-clipboard"/> &nbsp; 
      <span v-text="_('Clipboard is empty')"/>
    </div>
    <div class="bbn-large bbn-c bbn-w-100 bbn-vpadded" v-else>
      <bbn-input :placeholder="_('Search clipboard')"
                 :button-right="(search === '') ? 'nf nf-fa-search' : 'nf nf-fa-close'"
                 v-model="search"
                 ref="search"
                 :focused="true"
                 @clickRightButton="unsearch"/>
    </div>
    <div class="bbn-w-100 bbn-p bbn-hpadded"
         v-if="items.length">
      <bbn-button v-if="!search.length"
                  @click="clear"
                  :text="_('Clear all')"/>
      <textarea class="bbn-invisible"
                ref="textarea"
                style="width: 0px; height: 0px"/>
    </div>
    <hr class="bbn-hr">
    <div class="bbn-flex-fill" @drop.prevent.stop="copy">
      <bbn-scroll axis="y">
        <bbn-list :source="items"
                  uid="uid"
                  @remove="remove">
          <div class="bbn-w-100 bbn-flex-width" v-pre>
            <div :title="text"
                class="bbn-clipboard-text bbn-block-left bbn-flex-fill">
              <i :class="[
                'nf nf-oct-pin',
                'bbn-s',
                'bbn-right-xsspace',
                {'bbn-invisible': !source.pinned}
                ]"/>
                 
              <bbn-context tag="span"
                           class="bbn-right-space"
                           :source="[
                {text: _('Copy plain text'), icon: 'nf nf-mdi-cursor_text', action: () => {closest('bbn-clipboard').setClipboard(uid, 'plain')}},
                {text: _('Copy rich text'), icon: 'nf nf-mdi-code_tags', disabled: !content, action: () => {closest('bbn-clipboard').setClipboard(uid, 'html')}},
                {text: _('Copy as image'), icon: 'nf nf-fa-image', disabled: !type || (type.indexOf('image/')) !== 0, action: () => {closest('bbn-clipboard').setClipboard(uid, 'image')}},
                {text: _('Save'), icon: 'nf nf-fa-file_o', action: () => {closest('bbn-clipboard').save(uid)}},
                {text: _('Save as...'), icon: 'nf nf-fa-file_o', action: () => {closest('bbn-clipboard').saveAs(uid)}},
                {text: _('Pin'), icon: 'nf nf-mdi-pin', action: () => {source.pinned = true;}, disabled: source.pinned},
                {text: _('Unpin'), icon: 'nf nf-mdi-pin_off', action: () => {source.pinned = false;}, disabled: !source.pinned},
                {text: _('Share'), icon: 'nf nf-fa-share', action: () => {}},
                {text: _('Remove'), icon: 'nf nf-fa-trash_o', action: () => closest('bbn-clipboard').remove({uid: source.uid})},
              ]">
                <i class="nf nf-mdi-dots_vertical"/>
              </bbn-context>
              <span v-text="text"/>
            </div>
            <div :class="{
                  'bbn-block-right': true,
                  'bbn-narrow': true,
                  'bbn-r': true,
                  'bbn-green': stype === 'html',
                  'bbn-red': stype === 'javascript',
                  'bbn-purple': type.indexOf('application/') === 0,
                  'bbn-blue': stype === 'php',
                  'bbn-orange': ['css', 'less', 'scss'].includes(stype),
                  'bbn-darkgrey': stype === 'text',
                  'bbn-pink': stype && (stype.indexOf('image/') === 0)
                }"
                  v-text="stype"/>
          </div>
        </bbn-list>
      </bbn-scroll>
    </div>
    <div class="bbn-w-100 bbn-padded">
      <input class="bbn-textbox bbn-w-100 bbn-large"
             @paste.prevent="copy"
             ref="paster"
             @drop.prevent.stop="copy"
             @keydown.enter="addInput"
             @keyup.prevent
             :placeholder="_('Paste or drop something...')">
    </div>
  </div>
</bbn-slider>