.bbn-clipboard{
  min-width: 32em;
  li{
    .bbn-clipboard-buttons{
      width: 12em;
      vertical-align: middle;
    }
    .bbn-clipboard-text{
      vertical-align: middle;
      max-width: 40vw;
      min-width: 15em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden
    }
    .bbn-block-right{
      padding-left: 1em;
      vertical-align: middle;
    }
  }
}