bbn-clipboard {
  min-width: 32rem;
  li{
    .bbn-clipboard-buttons{
      width: 12rem;
      vertical-align: middle;
    }
    .bbn-clipboard-text{
      vertical-align: middle;
      max-width: 40vw;
      min-width: 15rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden
    }
    .bbn-block-right{
      padding-left: 1rem;
      vertical-align: middle;
    }
  }
}