<component :is="tag"
           :class="componentClass"
           @mouseenter="currentVisible = true">
  <bbn-floater v-if="currentVisible"
               :tag="tag"
               ref="floater"
               tabindex="-1"
               :position="position"
               :content="getContent()"
               @close="currentVisible = false"
               :component="component"
               :element="element || $el"
               :element-width="false"
               :arrow="true"
               :distance="distance"
               :auto-hide="500"
               :scrollable="false">
    <slot></slot>
    <span class="bbn-p bbn-tooltip-icon bbn-left-xsspace"
          ref="helper"
          v-if="icon">
      <i :class="[icon, 'bbn-m']"/>
    </span>
  </bbn-floater>
</component>