<div
  :class="componentClass"
>
<slot>
</slot>
  <span class="bbn-abs" @click="visible=true" ref="helper">
    <i class="bbn-m nf nf-fa-info_circle"></i>
  </span>
  <bbn-floater
              v-if="visible" 
              :tag="tag"
              ref="floater"
              tabindex="-1"
              :position="position"
              :content="content"
              @click="action('click', $event)"
              @contextmenu="action('context', $event)"
              @keydown="action('keydown', $event)"
              @mousedown="action('mousedown', $event)"
              @mouseover="action('mouseover', $event)"
              @close="visible=false"
              :auto-hide="true"
              :component="component"
              :element="$refs.helper"
  >
  </bbn-floater>
</div>