<component :is="tag"
           :class="componentClass"
           @mouseenter="isVisible = true">
  <slot></slot>
  <span class="bbn-p bbn-tooltip-icon bbn-left-xsspace"
        ref="helper"
        v-if="icon">
    <i :class="[icon, 'bbn-m']"/>
  </span>
  <bbn-floater v-if="isVisible"
               :tag="tag"
               ref="floater"
               tabindex="-1"
               :position="position"
               :content="getContent()"
               @close="onClose"
               :component="component"
               :element="element || $el"
               :element-width="false"
               :arrow="true"
               :distance="distance"
               :auto-hide="500"
               :scrollable="false"/>
</component>