.bbn-router-config {
  h2, h3 {
    float: left;
    width: 100%;
    position: relative;
  }
  .bbn-router-config-mode {
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4rem;
    width: 80rem;
    max-width: 90vw;
    max-height: 30vh;
    > div {
      text-align: center;
      > div {
        white-space: nowrap;
      }
    }
  }
  .bbn-router-config-orientation {
    height: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 3rem;
    width: 80rem;
    max-width: 90vw;
    max-height: 30vh;
    > div {
      text-align: center;
    }
  }

  .bbn-router-config {
    display: grid;
    height: 100%;
    gap: 0;

    > div {
      min-height: 0.5rem;
    }

    &.bbn-router-config-visual {
      gap: 0.2rem;
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(5, 1fr);
      > div {
        min-height: 1.5rem;
        fill: ~"var(--alt-text)";
        &:hover {
          fill: ~"var(--hover-text)";
        }
      }
      .bbn-router-config-mode-selected {
        grid-area: ~"2 / 1 / 6 / 6";
      }
    }

    &.bbn-router-config-tabs {
      grid-template-rows: repeat(9, 1fr);
      grid-template-columns: repeat(5, 1fr);
      .bbn-router-config-mode-selected {
        grid-area: ~"3 / 1 / 10 / 6";
      }
    }

    &.bbn-router-config-breadcrumb {
      row-gap: 0.3rem;
      grid-template-rows: repeat(9, 1fr);
      grid-template-columns: 1fr;
      .bbn-router-config-mode-selected {
        grid-area: ~"2 / 1 / 10 / 6";
      }
    }

    .bbn-router-config-mode-selected {
      color: ~"var(--alt-text)";
      background-color: ~"var(--alt-background)";
    }
    &.bbn-router-visual-orientation {
      gap: 0.1rem;
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(5, 1fr);
    }
  }
}