<div :class="[componentClass, 'bbn-padded', 'bbn-block']">
  <h1 v-text="_('Router Configuration')"/>
  <h2 v-text="_('Navigation mode')"/>
  <div class="bbn-router-config-mode bbn-w-100 bbn-grid"
       :style="'grid-template-columns: repeat(' + numModes + ', 1fr)'">
    <div class="bbn-h-100"
         v-if="visual">
      <div :class="'bbn-bordered bbn-w-100 bbn-flex-height' + (mode === 'visual' ? ' bbn-selected-border' : '')">
        <div class="bbn-flex-fill">
          <div class="bbn-router-config bbn-router-config-visual">
            <div class="bbn-bg-black bbn-white">
              <div class="bbn-100 bbn-middle">
                <div class="bbn-block">
                  <i :class="'bbn-xl bbn-p nf nf-fa-' + (visualShowAll ? 'minus' : 'plus')"
                     @click="visualShowAll = !visualShowAll"/>
                </div>
              </div>
            </div>
            <div v-for="i in 14"
                 :key="i"
                 v-show="visualShowAll || (i < (visualSelected <= 6 ? 6 : 5)) || (i === visualSelected)"
                 @click="onSelect('visual', i)"
                 :class="{
                   'bbn-reactive': visualSelected !== i,
                   'bbn-router-config-mode-selected': !visualShowAll && (visualSelected === i),
                   'bbn-state-selected': visualShowAll && (visualSelected === i)
                 }">
              <div class="bbn-100 bbn-middle">
                <div class="bbn-block">
                  <bbn-icon :content="svg"
                            width="1.5rem"
                            v-if="i !== visualSelected"/>
                  <div :class="{
                    'bbn-s': visualSelected !== i,
                    'bbn-lg': visualSelected === i,
                    'bbn-badge': true
                  }"
                       v-text="i"/>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="bbn-b bbn-spadding">
          <div class="bbn-iblock bbn-left-margin bbn-upper bbn-reactive-text"
               v-text="_('visual')"
               @click="mode = 'visual'"/>
        </div>
      </div>
    </div>

    <div class="bbn-h-100"
         v-if="tabs">
      <div :class="'bbn-bordered bbn-w-100 bbn-flex-height' + (mode === 'tabs' ? ' bbn-selected-border' : '')">
        <div class="bbn-flex-fill">
          <div class="bbn-router-config bbn-router-config-tabs">
            <div v-for="i in 9"
                 :key="i"
                 @click="onSelect('tabs', i)"
                 :class="{'bbn-reactive': tabsSelected !== i, 'bbn-state-selected': tabsSelected === i}">
              <div class="bbn-badge bbn-s" v-text="i"/>
            </div>
            <div class="bbn-router-config-mode-selected"
                 @click="onSelect('tabs', tabsSelected)">
              <div class="bbn-100 bbn-middle">
                <div class="bbn-block">
                  <div class="bbn-lg bbn-badge"
                       v-text="tabsSelected"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bbn-b bbn-spadding">
          <div class="bbn-iblock bbn-left-margin bbn-upper bbn-reactive-text"
               v-text="_('tabs')"
               @click="onSelect('tabs', tabsSelected)"/>
        </div>
      </div>
    </div>

    <div class="bbn-h-100"
         v-if="breadcrumb">
      <div :class="'bbn-bordered bbn-w-100 bbn-flex-height' + (mode === 'breadcrumb' ? ' bbn-selected-border' : '')">
        <div class="bbn-flex-fill">
          <div class="bbn-router-config bbn-router-config-breadcrumb">
            <div v-for="i in 6"
                 :key="i"
                 v-show="breadcrumbActive || (i === breadcrumbSelected)"
                 @click="breadcrumbActive = !breadcrumbActive; breadcrumbSelected = i"
                 :class="{'bbn-reactive': breadcrumbSelected !== i, 'bbn-state-selected': breadcrumbSelected === i}">
              <div class="bbn-badge bbn-s" v-text="i"/>
            </div>
            <div class="bbn-router-config-mode-selected"
                 v-show="!breadcrumbActive"
                 @click="onSelect('breadcrumb', breadcrumbSelected)">
              <div class="bbn-100 bbn-middle">
                <div class="bbn-block">
                  <div class="bbn-lg bbn-badge"
                       v-text="breadcrumbSelected"/>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="bbn-b bbn-spadding">
          <div class="bbn-iblock bbn-left-margin bbn-upper bbn-reactive-text"
               v-text="_('breadcrumb')"
               @click="onSelect('breadcrumb', breadcrumbSelected)"/>
        </div>
      </div>
    </div>
  </div>
  <h2 v-text="_('Visual orientation')"
      v-if="mode === 'visual'"/>
  <div v-if="mode === 'visual'"
       class="bbn-router-config-orientation bbn-grid bbn-w-100">
    <div class="bbn-h-100"
         v-for="(ori, dir) in orientations"
         :key="dir">
      <div :class="'bbn-bordered bbn-w-100 bbn-flex-height' + (currentOrientation === dir ? ' bbn-selected-border' : '')">
        <div class="bbn-flex-fill">
          <div class="bbn-router-config bbn-router-visual-orientation">
            <div v-for="i in 5"
                 :key="i"
                 class="bbn-alt-background">
              <div class="bbn-100 bbn-middle">
                <div class="bbn-block bbn-spadded">
                  <bbn-icon :content="svg"
                            width="1rem"/>
                </div>
              </div>
            </div>
            <div :style="'grid-area: ' + ori.area">
              <div class="bbn-100 bbn-middle bbn-p"
                   @click="currentOrientation = dir">
                <div class="bbn-block bbn-s bbn-light"
                     v-text="ori.text"/>
              </div>
            </div>

          </div>
        </div>
        <div class="bbn-b bbn-spadding bbn-upper"
             v-text="ori.pos"/>
      </div>
    </div>
  </div>
  <h2 v-text="_('Presets')"/>
  <div class="bbn-w-100 bbn-vspadding bbn-light bbn-m"
       v-text="_('Soon...')"></div>
  <h2 v-text="_('Configuration backups')"/>
  <div class="bbn-w-100 bbn-vspadding bbn-light bbn-m"
       v-text="_('Soon...')"></div>
</div>