.bbn-values {
  .bbn-dropdown.bbn-values-dropdown {
    .bbn-button {
      border-radius: 0;
    }
  }
  .bbn-button.bbn-values-dropdown-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-right-width: 0;
  }
}