<div :class="[componentClass]"
     tabindex="-1">
  <div class="bbn-flex-width">
    <div class="bbn-flex-fill">
      <bbn-input v-model="currentInput"
                :readonly="max && (value.length > max)"
                @keydown="keydown"
                @focus="isOpened = true"
                ref="input"
                @ready="ready = true"
                class="bbn-w-100"
                :placeholder="max && (value.length > max) ? _('Max number of') + ' ' + max : _('Value')"/>
    </div>
    <div>
      <bbn-button v-if="!max || (value.length <= max)"
                  icon="nf nf-fa-plus"
                  @click="add"
                  @keyup.prevent.stop.enter.space="add"
                  text="_('Add')"
                  :notext="true"/>
    </div>
  </div>
  <div class="bbn-w-100">
    <div v-for="(v, idx) in value"
         class="bbn-vxspadding bbn-hspadding bbn-iblock">
      <span class="bbn-right-xshmargin" v-text="v"/>
      <i class="nf nf-fa-times_circle"
         @click="remove(idx)"
         tabindex="0"
         @keyup.enter.space="remove(idx)"
         :title="_('Delete')"/>
    </div>
  </div>
  <bbn-floater v-if="ready && !isDisabled && !readonly && filteredData.length && currentInput.length"
               :element="$refs.input.$el"
               v-show="isOpened"
               :min-width="$refs.input.$el.clientWidth"
               :width="undefined"
               :height="undefined"
               ref="list"
               :auto-hide="true"
               @select="select"
               @close="isOpened = false"
               :source="filteredData"
  ></bbn-floater>
</div>