div.bbn-vlist{
  position: fixed !important;
  overflow: auto;
  left: -1000px;
  /** Popup zIndex: 7 */
  z-index: 100;
  .k-menu .k-animation-container .k-animation-container,
  .k-menu .k-menu-group .k-menu-group,
  .k-menu-vertical .k-animation-container,
  .k-menu-vertical .k-menu-group {
    top: auto;
    left: auto;
  }
  > ul{
    &.options{
      > li{
        .space{
          opacity: 0;
        }
        &.selected .space{
          opacity: 1;
        }
        &.disabled{
          opacity: 1;
          .space {
            opacity: 0.5;
          }
        }
      }
    }
    > li{
      &.disabled{
        opacity: 0.7;
        .k-link{
          cursor: default;
        }
      }
      .space{
        display: inline-block;
        width: 1.8rem;
        text-align: left;
      }
      .text{
        i{
          margin-right: 1rem;
        }
        &.disabled i{
          opacity: 0.5;
        }
        &.hidden i{
          opacity: 0 !important;
        }
      }
    }
  }
}