<div :class="[{
  'bbn-nav-scrollable': scrollable
}, componentClass]"
>
<div class="bbn-nav-container bbn-flex-height">
<div v-if="master || !isBreadcrumb" class="bbn-nav-ul-container">
 <div class="bbn-100">
   <div class="bbn-flex-width">
     <component :is="scrollable ? 'bbn-scroll' : 'div'"
                ref="horizontal-scroll"
                v-bind="scrollCfg"
                class="bbn-flex-fill"
                v-if="!isBreadcrumb"
     >
       <ul ref="tabgroup"
           v-if="tabs"
           class="bbn-alt bbn-nav-tabs bbn-bordered-bottom bbn-flex-fill"
       >
         <li v-for="(tab, tabIndex) in tabs"
             :ref="'tab-' + tabIndex"
             v-show="!tab.hidden"
             :style="{
             backgroundColor: tab.bcolor || null,
             color: tab.fcolor || null
           }"
             :data-index="tabIndex"
             :class="[{
             'bbn-iblock': true,
             'bbn-bordered': true,
             'bbn-radius-top': true,
             'bbn-state-default': true,
             'bbn-unselectable': true,
             'bbn-nav-static': !!tab.static,
             'bbn-background-effect-internal': tabIndex === selected,
             'bbn-nav-active': tabIndex === selected,
             'bbn-disabled': tab.disabled,
             'bbn-nav-alarm': tab.alarm
           }, tab.cls || '']"
             @click="!tab.disabled && (tabIndex !== selected) ? (selected = tabIndex) : (() => {})()"
         >
           <div class="bbn-nav-badge-container bbn-middle"
                 v-if="(tabIndex !== selected) && numProperties(tab.events)">
             <span class="bbn-badge bbn-small bbn-bg-red" v-text="numProperties(tab.events)"></span>
           </div>
           <div class="bbn-nav-tab-loader bbn-border-text"
                 :style="{borderColor: tab.fcolor || null}"
                 v-show="tab.loading">
           </div>
           <bbn-context v-bind="{
                         context: true,
                         source: getMenuFn,
                         sourceIndex: tabIndex,
                         tag: 'div'
                       }"
                       min-width="10em"
                       :class="['bbn-nav-tab', 'bbn-iblock', {'bbn-nav-dirty': tab.dirty}]"
                       :ref="'title-' + tabIndex"
                       :style="{
                         color: tab.fcolor ? tab.fcolor : null
                       }"
                       tabindex="0"
                       @keydown.space.enter.prevent.stop="tabIndex !== selected ? activateIndex(tabIndex) : (() => {})()"
                       @keydown.right.down.prevent.stop="getRef('menu-' + tabIndex) ? getRef('menu-' + tabIndex).$el.focus() : (getRef('closer-' + tabIndex) ? getRef('closer-' + tabIndex).focus() : null)"
           >
             <span v-if="tab.icon"
                   :title="tab.title"
                   :class="'bbn-nav-main-icon bbn-iblock' + (tab.notext ? ' bbn-lg' : ' bbn-m')">
               <i :class="tab.icon"
                   :style="{zoom: iconsReady ? 1.1 : 1}"
                   ></i>
             </span>
             <span v-if="!tab.notext && tab.title"
                   class="bbn-tab-text"
                   :title="getFullTitle(tab)"
                   v-html="tab.title.length > maxTitleLength ? cutTitle(tab.title) : tab.title">
             </span>
           </bbn-context>
           <div class="bbn-nav-selected"
                 :ref="'selector-' + tabIndex"
                 v-show="tabIndex === selected"
                 :style="{
                 backgroundColor: getTabColor(tabIndex)
               }"
           ></div>
           <i v-if="!tab.static && !tab.pinned"
               class="nf nf-fa-times bbn-p bbn-tab-close bbn-nav-icon"
               tabindex="-1"
               :ref="'closer-' + tabIndex"
               @keydown.left.down.prevent.stop="getRef('menu-' + tabIndex) ? getRef('menu-' + tabIndex).$el.focus() : null"
               @keydown.space.enter.prevent.stop="close(tabIndex)"
               @click.stop.prevent="close(tabIndex)"
           ></i>
           <bbn-context v-if="(tab.menu !== false) && (tabIndex === selected)"
                         class="nf nf-fa-caret_down bbn-tab-menu bbn-nav-icon bbn-p"
                         tabindex="-1"
                         min-width="10em"
                         tag="i"
                         :source="getMenuFn"
                         :source-index="tabIndex"
                         :ref="'menu-' + tabIndex"
           ></bbn-context>
         </li>
       </ul>
     </component>
     <div v-else-if="master"
          class="bbn-alt bbn-bordered-bottom bbn-no-border-top bbn-no-border-right bbn-flex-fill bbn-vmiddle bbn-hspadded"
     >
       <bbn-context :source="getList"
                    tag="span"
                    min-width="10em"
                    tabindex="0"
                    :item-component="$options.components.listItem"
       >
         <bbn-context :source="getMenuFn"
                      :source-index="(selected !== false) ? selected : undefined"
                      tag="span"
                      min-width="10em"
                      tabindex="0"
                      :context="true"
         >
           <span :style="{
                   backgroundColor: (selected !== false) && tabs[selected] && !!tabs[selected].bcolor ? tabs[selected].bcolor : '',
                   color: (selected !== false) && tabs[selected] && !!tabs[selected].fcolor  ? tabs[selected].fcolor : ''
                 }"
                 class="bbn-hxspadded"
           >
             <i v-if="(selected !== false) && tabs[selected] && !!tabs[selected].icon"
                :class="[tabs[selected].icon]"
             ></i>
             <span v-text="(selected !== false) && tabs[selected] && !!tabs[selected].title ? cutTitle(tabs[selected].title) : _('Untitled')"
                   :class="{'bbn-b': !subNav.length}"
             ></span>
           </span>
         </bbn-context>
       </bbn-context>
       <template v-if="subNav.length"
                 v-for="(sn, isn) in subNav"
       >
         <span>
           <i class="nf nf-fa-angle_right bbn-hsmargin bbn-large" style="vertical-align: middle;"></i>
         </span>
         <bbn-context :source="sn.getList"
                      tag="span"
                      min-width="10em"
                      tabindex="0"
                      :item-component="$options.components.listItem"
         >
           <bbn-context :source="sn.getMenuFn"
                        :source-index="(sn.selected !== false) ? sn.selected : undefined"
                        tag="span"
                        min-width="10em"
                        tabindex="0"
                        :context="true"
           >
             <span :style="{
                     backgroundColor: (sn.selected !== false) && sn.tabs[sn.selected] && !!sn.tabs[sn.selected].bcolor ? sn.tabs[sn.selected].bcolor : '',
                     color: (sn.selected !== false) && sn.tabs[sn.selected] && !!sn.tabs[sn.selected].fcolor ? sn.tabs[sn.selected].fcolor : ''
                   }"
                   class="bbn-hxspadded"
             >
               <i v-if="(sn.selected !== false) && sn.tabs[sn.selected] && !!sn.tabs[sn.selected].icon"
                  :class="[sn.tabs[sn.selected].icon]"
               ></i>
               <span v-text="(sn.selected !== false) && sn.tabs[sn.selected] && !!sn.tabs[sn.selected].title ? cutTitle(sn.tabs[sn.selected].title) : _('Untitled')"
                     :class="{'bbn-b': !subNav[isn+1]}"
               ></span>
             </span>
           </bbn-context>
         </bbn-context>
       </template>
     </div>
     <div v-if="master && showSwitch"
          class="bbn-middle bbn-spadded bbn-header bbn-no-border-top bbn-no-border-left"
     >
       <bbn-context :source="mainMenu"
                    tag="div"
                    min-width="10em"
                    tabindex="0"
                    ref="mainMenu"
       >
         <i class="nf nf-seti-config bbn-p bbn-large"></i>
       </bbn-context>
     </div>
   </div>
 </div>
</div>
<bbn-router ref="router"
           v-if="initSource !== null"
           @ready="init"
           @route="onRoute"
           @change="routing"
           @update="update"
           :def="url"
           :autoload="autoload"
           :source="initSource"
           :root="root"
           :auto="true"
           class="bbn-flex-fill">
 <slot></slot>
</bbn-router>
<div v-if="scrollable && !isBreadcrumb"
     class="bbn-nav-button bbn-nav-button-prev bbn-p">
 <div class="bbn-100 bbn-middle"
     @click="scrollTabs('left')">
   <div class="bbn-block">
     <i class="nf nf-fa-angle_left bbn-xlarge"></i>
   </div>
 </div>
</div>
<div v-if="scrollable && !isBreadcrumb"
     class="bbn-nav-button bbn-nav-button-next bbn-p">
 <div class="bbn-100 bbn-middle"
     @click="scrollTabs('right')">
   <div class="bbn-block">
     <i class="nf nf-fa-angle_right bbn-xlarge"></i>
   </div>
 </div>
</div>
</div>
</div>