<div :class="[componentClass, 'bbn-overlay', 'bbn-flex-height']">
   <div class="bbn-w-100 bbn-xl bbn-c bbn-vlpadded">
      <bbn-input :placeholder="placeholder"
                 :style="{width: '75%', textAlign: 'left'}"
                 :focused="true"
                 type="search"
                 ref="input"
                 @keydown="keydown"
                 :nullable="isNullable"
                 autocomplete="off"
                 v-model="filterString"
                 :loading="isAjax && isLoading"
                 button-right="nf nf-fa-search"/>
   </div>
   <div class="bbn-flex-fill">
      <bbn-scroll>
         <bbn-list v-if="filteredTotal && !isDisabled && !readonly"
                  :element="$el"
                  ref="list"
                  :auto-hide="false"
                  :suggest="suggest"
                  :component="searchComponent"
                  :children="null"
                  @select="select"
                  :source-url="sourceUrl"
                  :source-action="sourceAction"
                  :source-text="sourceText"
                  source-value="hash"
                  uid="hash"
                  :pageable="filteredTotal > limit"
                  :pager-element="_self"
                  :source="filteredData"/>
      </bbn-scroll>
   </div>
  <input type="hidden"
         v-model="value"
         ref="element"
         :name="name">
</div>
