<div :class="componentClass" v-on="isRoot ? {keydown:keyNav} : {}">

  <div class="loader" v-if="loading">
    <bbn-loadicon></bbn-loadicon> Loading...
  </div>

  <component v-else-if="isLoaded"
             :is="isRoot ? 'bbn-scroll' : 'div'"
             ref="scroll"
  >
    <transition name="bbn-tree-toggle"
                @after-enter="onOpen"
                @after-leave="onClose"
    >
      <ul v-show="items.length && (isRoot || $parent.isExpanded)"
          :class="{
            'bbn-tree-child': !!level,
            'bbn-tree-root': isRoot
          }"
      >
        <bbn-tree-node inline-template
                       v-for="(it, i) in items"
                       :text="it.text"
                       :key="i"
                       :idx="i"
                       :data="toData(it)"
                       :cls="it.cls"
                       :component="component"
                       :icon="it.icon"
                       :expanded="it.expanded"
                       :selectable="it.selectable === undefined ? true : it.selectable"
                       :selected="it.selected"
                       :num="it.num"
                       :source="it.items ? it.items : []"
                       :level="level"
                       :filter-string="tree.filterString"
                       :excluded-section-filter="tree.excludedSectionFilter"
        >
          <!-- <li :class="{
                       'bbn-tree-node': true,
                       'bbn-unselectable': true,
                       selected: isSelected,
                       active: isActive,
                      }"
              v-show="isMatch || numMatches"
          > -->
          <li :class="{
                       'bbn-tree-node': true,
                       'bbn-unselectable': true,
                       selected: isSelected,
                       active: isActive,
                      }"
              v-show="isMatch || numMatches || excludedFilter"
          >
            <span :class="'node' + (component ? '' : ' no-component') + (cls ? ' ' + cls : '')"
                  @mouseover.stop="mouseOver"
            >
              <span class="expander bbn-p"
                    @click="if ( numChildren && (level >= tree.minExpandLevel) ){
                      isExpanded = !isExpanded;
                    }"
                    @mouseover="if ( tree.dragging && numChildren && (level >= tree.minExpandLevel) ){
                      isExpanded = true;
                    }"
              >
                <!-- If there are no children we leave the white space -->
                <span v-if="!numChildren || (level < tree.minExpandLevel)"> </span>
                <i v-else-if="isExpanded"
                   class="nf nf-fa-caret_down"
                ></i>
                <i v-else
                   class="nf nf-fa-caret_right"
                ></i>
              </span>
              <span v-if="tree.checkable && tree.uid && (checkable !== false)">
                <bbn-checkbox :value="data[tree.uid]"
                              :checked="isChecked()"
                              @change="checkNode"
                              :disabled="isDisabled()"
                >
                </bbn-checkbox>
              </span>
              <component v-if="component"
                         :is="component"
                         :source="data"
              ></component>
              <bbn-context v-else
                           :context="true"
                           :source="getMenu"
              >
                <span class="selectable"
                      @dblclick="activate"
                      @mousedown.left="startDrag"
                      @mouseup.left="
                      if ( !double ){
                        if ( !tree.realDragging && selectable ){
                          isSelected = !isSelected;
                        }
                        double = true;
                      }"
                      tabindex="0"
                >
                  <span class="icon">
                    <!-- If icon is specifically false we leave the white space -->
                    <span v-if="icon === false"></span>
                    <i v-else-if="icon"
                       :class="icon"
                       :style="iconStyle"
                    ></i>
                    <i v-else-if="numChildren"
                       class="nf nf-mdi-folder_outline"
                       :style="iconStyle"
                    ></i>
                    <i v-else
                       class="nf nf-fa-file"
                       :style="iconStyle"
                    ></i>
                  </span>
                  <span class="title">
                    <span v-html="text"></span>
                  </span>
                </span>
              </bbn-context>
            </span>
            <bbn-tree v-if="numChildren"
                      ref="tree"
                      :num="numChildren"
                      :component="component"
                      :source="!items && tree.isFunction ? tree.source : items"
                      :level="level + 1"
                      :object="tree.object"
            >
            </bbn-tree>
          </li>
        </bbn-tree-node>
      </ul>
    </transition>
    <div class="bbn-tree-helper-container"
         v-if="draggable && isRoot"
         ref="helperContainer">
      <ul class="bbn-tree-helper"
          ref="helper"
          v-show="!!tree.realDragging"
      ></ul>
    </div>
  </component>
  <h2 v-else-if="isRoot"
      v-html="_('No items') + '...'"
  ></h2>
</div>
