<div :class="componentClass"
     tabindex="0"
     @keydown.up.down.left.right.enter.space.page-down.page-up.end.home.prevent.stop="keyNav"
>
  <div v-if="loading" class="loader">
    <bbn-loadicon></bbn-loadicon> <span v-text="_('Loading')"></span>...
  </div>
  <component v-else-if="isLoaded"
             :is="isRoot ? 'bbn-scroll' : 'div'"
             ref="scroll"
  >
    <transition name="bbn-tree-toggle"
                @after-enter="onOpen"
                @after-leave="onClose"
    >
      <ul v-if="filteredData.length && (isRoot || $parent.isExpanded)"
          :class="{
            'bbn-tree-child': !!level,
            'bbn-tree-root': isRoot
          }"
      >
        <bbn-tree-node inline-template
                        v-for="(it, i) in filteredData"
                        :source="it"
                        :key="level + '-' + i"
                        :idx="it.index"
                        :component="it.component || component"
                        :selectable="it.selectable !== undefined ? it.selectable : selectable"
                        :multiple="it.multiple !== undefined ? it.multiple : multiple"
                        :level="level"
                        :selection="it.selection !== undefined ? it.selection : selection"
                        :path="it.path"
                        ref="node"
                        :quickFilter="quickFilter"
                        :sortable="it.sortable !== undefined ? it.sortable : sortable"
                        :uid="uid"
        >
          <li :class="['bbn-tree-node', 'bbn-unselectable', {
                        'bbn-state-active': (isActive && !isSelected) || (tree.dragging && tree.overNode && !tree.overOrder && (tree.overNode === _self) && tree.draggable),
                        'bbn-state-selected': isSelected
                      }]"
              v-show="isVisible"
              :title="source.tooltip || source.data.text"
          >
            <span v-if="sortable && (source.num === 1)"
                  :class="['bbn-w-100', 'bbn-tree-order-top', {
                    'bbn-tree-order': tree.dragging && (tree.dragging.parent === parent) && !quickFilter,
                    'bbn-state-active': !!isOverOrderTop
                  }]"
                  style="height: 2px; line-height: 2px;"
                  ref="orderTop"
                  @mouseover.stop="mouseOver"
            ></span>
            <span :class="['bbn-tree-node-block', source.cls || '', {'bbn-tree-node-block-no-component': !!component}]"
                  @mouseover.stop="mouseOver"
            >
              <span class="bbn-tree-node-block-expander bbn-p"
                    @click="if ( numChildren && (level >= tree.minExpandLevel) ){
                      isExpanded = !isExpanded;
                    }"
                    @mouseover="if ( tree.draggable && tree.dragging && numChildren && (level >= tree.minExpandLevel) ){
                      isExpanded = true;
                    }"
              >
                <!-- If there are no children we leave the white space -->
                <span v-if="!numChildren || (level < tree.minExpandLevel)"> </span>
                <i v-else
                    :class="{
                      'nf nf-fa-caret_down': isExpanded,
                      'nf nf-fa-caret_right': !isExpanded
                    }"
                ></i>
              </span>
              <span v-if="tree.uid && (tree.selection || !!selection)">
                <bbn-checkbox :value="data[tree.uid]"
                              :checked="isChecked()"
                              @change="checkNode"
                              :disabled="isDisabled()"
                ></bbn-checkbox>
              </span>
              <component v-if="!!component"
                          :is="component"
                          :source="data"
              ></component>
              <bbn-context v-else
                            :context="true"
                            :source="getMenu"
                            @open="isActive = true"
                            @close="isActive = false"
              >
                <span :class="['bbn-tree-node-block-selectable', {'bbn-p': !!selectable}]"
                      @dblclick="dblClickOnNode"
                      @click="clickOnNode"
                      @mousedown.left="startDrag"
                      @mouseup.left="
                      if ( !doubleClk ){
                        if ( !tree.realDragging && selectable ){
                          isSelected = !isSelected;
                        }
                        doubleClk = true;
                      }"
                      tabindex="0"
                >
                  <span v-if="tree.icons"
                        :class="[{'with-zoom': ready}, 'bbn-tree-node-block-icon']"
                  >
                    <!-- If icon is specifically false we leave the white space -->
                    <span v-if="source.icon === false"></span>
                    <i v-else
                        :class="getIcon()"
                        :style="iconStyle"
                    ></i>
                  </span>
                  <span class="bbn-tree-node-block-title">
                    <span v-html="source.text"></span>
                  </span>
                </span>
              </bbn-context>
            </span>
            <bbn-tree v-if="!!numChildren"
                      ref="tree"
                      :key="level + '-' + idx + '-tree'"
                      class="bbn-text"
                      :component="component"
                      :source="tree.isAjax && !tree.hybrid ? tree.source : (data[tree.children] ? data[tree.children] : [])"
                      :level="level + 1"
                      :object="tree.object ? !tree.hybrid : false"
                      :path="path"
                      :autobind="false"
                      :filterable="isFilterable"
                      :selectable="source.selectable !== undefined ? source.selectable : tree.selectable"
                      :selection="source.selection !== undefined ? source.selection : tree.selection"
                      :cls="source.cls !== undefined ? source.cls : tree.cls"
                      :quickFilter="quickFilter"
                      :sortable="source.sortable !== undefined ? source.sortable : tree.sortable"
                      :multiple="source.multiple !== undefined ? source.multiple : tree.multiple"
                      :uid="uid"
                      :opened="!!tree.opened"
            ></bbn-tree>
            <span v-if="sortable"
                  :class="['bbn-w-100', 'bbn-tree-order-bottom', {
                    'bbn-tree-order': tree.dragging && (tree.dragging.parent === parent) && !quickFilter,
                    'bbn-state-active': !!isOverOrderBottom
                  }]"
                  style="height: 2px; line-height: 2px;"
                  ref="orderBottom"
                  @mouseover.stop="mouseOver"
            ></span>
          </li>
        </bbn-tree-node>
      </ul>
    </transition>
    <div class="bbn-tree-helper-container"
         v-if="(draggable || sortable) && isRoot"
         ref="helperContainer">
      <ul class="bbn-tree-helper"
          ref="helper"
          v-show="!!tree.realDragging"
      ></ul>
    </div>
  </component>
  <h2 v-else-if="isRoot"
      v-html="_('No items') + '...'"
  ></h2>
</div>
