<div :class="['bbn-bordered', 'bbn-background', componentClass, {
  'bbn-slider-horizontal': ['left', 'right'].includes(orientation),
  'bbn-slider-vertical': ['top', 'bottom'].includes(orientation),
  'bbn-slider-left': orientation === 'left',
  'bbn-slider-right': orientation === 'right',
  'bbn-slider-top': orientation === 'top',
  'bbn-slider-bottom': orientation === 'bottom',
  'bbn-no-hborder': !isVertical,
  'bbn-no-vborder': isVertical,
  'bbn-w-100': !isVertical,
  'bbn-h-100': isVertical,
  'bbn-invisible': !opacity
}]"
     @mousedown.stop
     :style="{
       marginLeft: marginLeft,
       marginTop: marginTop,
       left: currentLeft,
       top: currentTop
     }"
>
  <slot></slot>
  <div v-if="closeButton"
       :class="{
         'bbn-abs': true,
         'bbn-top-right': (closeButton !== 'bottom-right') && (closeButton !== 'bottom-left') && (closeButton !== 'top-left'),
         'bbn-bottom-right': closeButton === 'bottom-right',
         'bbn-top-left': closeButton === 'top-left',
         'bbn-bottom-left': closeButton === 'bottom-left',
         'bbn-p': true,
         'bbn-spadded': true,
         'bbn-m': true,
         'bbn-unselectable': true
       }"
       tabindex="-1"
       @click.prevent.stop="hide">
    <i class="nf nf-fa-times" tabindex="-1"></i>
  </div>
</div>