.bbn-slider{
  z-index: 10;
  position: fixed !important;
  &.bbn-slider-horizontal{
    width: auto;
    top: 0;
    transition: margin-left 0.5s;
  }
  &.bbn-slider-vertical{
    height: auto;
    left: 0;
    transition: margin-top 0.5s;
  }
  &.bbn-slider-left{
    box-shadow: 5px 0 5px 0 !important;
  }
  &.bbn-slider-right{
    box-shadow: -5px 0 5px 0 !important;
  }
  &.bbn-slider-top{
    box-shadow: 0 5px 0 5px !important;
  }
  &.bbn-slider-bottom{
    box-shadow: 0 -5px 0 5px !important;
  }
}