.bbn-treedown{
  display: inline-block;
  box-sizing: border-box;
  min-width: 4rem;
  cursor: pointer;
  input{
    cursor: pointer;
    width: 100%;
    font-size: inherit;
  }
  button{
    height: 100%;
  }
  div{
    box-sizing: border-box;
  }
}