.bbn-router {
  border: 0 !important;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  > .bbn-router-scroller::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent;
  }
  .bbn-router-nav {
    .bbn-router-nav:not(.bbn-router-nav-bc) {
      padding-top: ~"var(--sspace)";
      height: 100%;
    }
    &.bbn-router-nav-bc .bbn-router-breadcrumb-master{
      height: 2.5rem;
    }
    .bbn-pane .bbn-router-nav:not(.bbn-router-nav-bc){
      padding-top: 0;
    }
    .bbn-pane .bbn-router-nav:not(.bbn-router-nav-bc) .bbn-router-nav:not(.bbn-router-nav-bc){
      padding-top: ~"var(--sspace)";
    }

    .bbn-router-nav.bbn-router-nav-verticaltabs {
      padding-top: 0 !important;
    }

    .bbn-router-breadcrumb {
      border: 0 !important;
      overflow: hidden;
      position: relative;
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      zoom: 1;
      > .bbn-router-breadcrumb-container{
        height: 100%;
        .bbn-router-breadcrumb-badge-container{
          position: absolute;
          top: 0;
          left: 1px;
          bottom: 0px;
        }
        .bbn-router-breadcrumb-loader {
          display: inline-block;
          width: 12px;
          height: 12px;
          position: absolute;
          top: 0.4rem;
          left: 2px;
          &:after {
            content: " ";
            display: block;
            width: 8px;
            height: 8px;
            margin: 1px;
            border-radius: 50%;
            border-style: solid;
            border-width: 2px;
            border-right-color: transparent !important;
            border-left-color: transparent !important;
            animation: bbn-router-loader 1.2s linear infinite;
          }
        }
        div.bbn-router-breadcrumb-element{
          color: inherit;
          padding: 0 0.8rem;
          vertical-align: middle;
          > .bbn-router-breadcrumb-element-text{
            //font-size: 1.1rem;
          }
          > .bbn-router-breadcrumb-element-icon {
            line-height: 100%;
          }
          &::after, &::before {
            font-family: monospace;
            content: " ";
            white-space: pre;
          }
          &.bbn-router-breadcrumb-dirty::after {
            content: "*";
          }
        }
        .bbn-router-breadcrumb-icon {
          display: block;
          position: absolute;
          right: 2px;
          font-size: 1rem;
          cursor: pointer;
          margin: 0;
          &.bbn-router-breadcrumb-close{
            top: 1px;
          }
          &.bbn-router-breadcrumb-menu{
            bottom: -2px;
          }
        }


        .bbn-router-breadcrumb-arrow{
          margin-right: .7rem;
          margin-left: .7rem;
          vertical-align: middle;
        }
        > .bbn-loader {
          align-items: center;
          justify-content: center;
          opacity: 0.5;
          background-color: black;
          color: white;
          div.loader-animation {
            margin-top: 2rem;
            h1 {
              font-size: 3.5rem !important;
              text-align: center;
              margin-top: 1rem;
              color: white;
            }
            .sk-cube-grid {
              width: 120px;
              height: 120px;
              margin: auto;
              .sk-cube {
                width: 33%;
                height: 33%;
                float: left;
                background-color: white;
                -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
                animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
                &.sk-cube1 {
                  -webkit-animation-delay: 0.2s;
                  animation-delay: 0.2s;
                }
                &.sk-cube2 {
                  -webkit-animation-delay: 0.3s;
                  animation-delay: 0.3s;
                }
                &.sk-cube3 {
                  -webkit-animation-delay: 0.4s;
                  animation-delay: 0.4s;
                }
                &.sk-cube4 {
                  -webkit-animation-delay: 0.1s;
                  animation-delay: 0.1s;
                }
                &.sk-cube5 {
                  -webkit-animation-delay: 0.2s;
                  animation-delay: 0.2s;
                }
                &.sk-cube6 {
                  -webkit-animation-delay: 0.3s;
                  animation-delay: 0.3s;
                }
                &.sk-cube7 {
                  -webkit-animation-delay: 0s;
                  animation-delay: 0s;
                }
                &.sk-cube8 {
                  -webkit-animation-delay: 0.1s;
                  animation-delay: 0.1s;
                }
                &.sk-cube9 {
                  -webkit-animation-delay: 0.2s;
                  animation-delay: 0.2s;
                }
              }
            }
          }
        }
        /* .bbn-list > ul > li .text i:not(.bbn-router-breadcrumb-arrow) {
          margin-right: 0 !important;
        } */
      }
    }
  }
}
@keyframes bbn-router-loader{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
.bbn-state-hover, .bbn-state-selected {
  .bbn-router-search-result {
    filter: ~"saturate(1.8)";
  }
}
